<table  width="100%" border="0" cellpadding="4" cellspacing="0" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; ">
<tr>
    <td align="left" valign="top"><img src="{$logo_path}logo_email.jpg"></td>
  </tr>
<tr>
  <td height="2" style="border-bottom:1px solid;">&nbsp;</td>
  </tr>
<tr> 
<td colspan="2" style="border-bottom:1px solid;">

<strong>Bestelldatum:</strong> {$ORDER_DATE}<br>
{if $KUNDEN_NR}<strong>Kundennummer:</strong> {$KUNDEN_NR}<br>{/if}
<strong>Bestell-Nr:</strong> {$ORDER_NR}<br>
</td>
</tr>
<tr> 
<td>
  <p><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Hallo {$NAME}, <br>
      <br>
      Der Status Ihrer Bestellung {if $ORDER_NR}Nr. {$ORDER_NR}{/if} {if $ORDER_DATE}vom 
      {$ORDER_DATE}{/if} wurde ge&auml;ndert.<br />
      <br />
{if $ORDER_LINK}Link zur Bestellung: <a href="{$ORDER_LINK}">hier klicken</a>{/if}<br />
<br />
{if $NOTIFY_COMMENTS}<br />
Anmerkungen und Kommentare zu Ihrer Bestellung: {$NOTIFY_COMMENTS} <br />
{/if} <br /></font>
Neuer Status: <b><font size="2" face="Verdana, Arial, Helvetica, sans-serif">{$ORDER_STATUS}</font></b><br />
<br />

{if $ORDER_STATUS == 'Versendet'}</p>
  <p><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> {if $DHL_TRACKING_ID != '0'}<br />
    Wir haben das Paket mit DHL verschickt. Das Paket hat die Tracking-Nummer <strong>{$DHL_TRACKING_ID}</strong>.<br />
  <br />
    Sie k&ouml;nnen den <em>Sendungsstatus</em> &uuml;ber folgende Internetseite verfolgen:<br />
  <a href="http://nolp.dhl.de/nextt-online-public/set_identcodes.do?idc={$DHL_TRACKING_ID}">http://nolp.dhl.de/nextt-online-public/set_identcodes.do?idc={$DHL_TRACKING_ID}</a><br />
  <br />
    Hinweis: Sollte der Link nicht funktionieren, kopieren Sie die komplette 
    Adresse ohne Zeilenumbr&uuml;che in die Adresszeile Ihres Browsers und dr&uuml;cken 
    Sie anschließend &quot;Enter&quot;. {/if} {if $GLS_TRACKING_ID != '0'}<br />
    Wir haben das Paket mit GLS verschickt. Das Paket hat die Auftragsnummer <strong>{$GLS_TRACKING_ID}</strong>.<br />
  <br />
    Sie k&ouml;nnen den <em>Sendungsstatus</em> &uuml;ber folgende Internetseite verfolgen 
    unter Angabe der genanten Auftragsnummer:<br />
    <a href="http://www.gls-group.eu/276-I-PORTAL-WEB/content/GLS/DE03/DE/5004.htm?txtRefNo={$GLS_TRACKING_ID}&txtAction=71000">http://www.gls-group.eu/276-I-PORTAL-WEB/content/GLS/DE03/DE/5004.htm?txtRefNo={$GLS_TRACKING_ID}&amp;txtAction=71000</a><br />
    <br />
    Hinweis: Sollte der Link nicht funktionieren, kopieren Sie die komplette 
    Adresse ohne Zeilenumbr&uuml;che in die Adresszeile Ihres Browsers und dr&uuml;cken 
    Sie anschlie&szlig;end &quot;Enter&quot;. {/if} <br />
    <br />
    Bei Fragen zu Ihrer Bestellung antworten Sie bitte auf diese E-Mail.{/if}</font></p></td>
</tr>
</table><br>


	<table style="border-top:1px solid; border-bottom:1px solid; font-family:Arial, Helvetica, sans-serif; font-size:9px; " width="100%" border="0" cellpadding="3" cellspacing="0">
	<tr>
	<td valign="top">
		<strong>Ihr Esoterikshopping Team</strong><br>
		Spart-Bares GbR<br />
		Gesellschafter: 
		H.Klinzmann und U. Dittrich <br>
		Humboldtstr. 134<br>
		90459 N&uuml;rnberg<br>
		Umsatzsteuer-Identifikationsnummer: DE 234465241<br><br>
		<a href="http://www.esoterikshopping.de" target="_blank">www.esoterikshopping.de</a><br />
		E-mail: bestellung@esoterikshopping.de<br />
		Tel.: 08404 - 939 264<br />
		Fax: 08404 - 939 265</td>
	<td valign="top">
		<strong>Bankverbindung</strong><br>
		Empf&auml;nger: Esoterikshopping <br>
		Dresdner Bank N&uuml;rnberg <br>
		Kto: 154379901<br>
		Blz : 76080040<br /><br />
		Aus dem Ausland:<br />
		BIC: DRES DE FF <br />
		IBAN: DE17 76080040 0154379901 <br />
		&Uuml;ber Paypal: <br />
		<a href="mailto:paypal@spart-bares.de">paypal@spart-bares.de</a>
	</td>
	<td valign="top">
		<strong>Telefonisch erreichbar:</strong><br>
		Mo-Do: 10:00 - 16:00</td>
	</tr>
	</table>

