{config_load file="$language/lang_$language.conf" section="index"} 

<br />
<table width="{$screenwidth}" border="0" align="center" cellpadding="0" cellspacing="0" id="rahmen">
  <tr>
    <td>
	<table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td>
		  	{if $screenwidth == '1150'}
            	<img src="{$tpl_path}img/header_gross.jpg" alt="{$store_name}" title="{$store_name}" border="0" width="1148" height="208" usemap="#Map" />
            	<map name="Map" id="Map">
               	  <area shape="circle" coords="801,75,55" href="https://www.trustedshops.com/shop/certificate.php?shop_id=XECB830E0AE0C3827CC8EC3B083D488FC" target="_blank" title="Esoterikshopping.de ist Trusted Shops zertifiziert!" alt="Esoterikshopping.de ist Trusted Shops zertifiziert!" />
                  <area shape="rect" coords="3,0,699,206" href="../../index.php" target="_parent" alt="Esoterikshopping.de - Home" title="Esoterikshopping.de - Home" />
           	  	  <area shape="rect" coords="909,21,1147,207" href="../../index.php" target="_parent" alt="Adventskalender mit Gratisgeschenk!" title="Adventskalender mit Gratisgeschenk!" />
            	</map>
            {else}
           		<img src="{$tpl_path}img/header_klein.jpg" alt="{$store_name}" title="{$store_name}" border="0" width="1000" height="208" usemap="#Map2" />
           		<map name="Map2" id="Map2">
                	<area shape="circle" coords="688,70,50" href="https://www.trustedshops.com/shop/certificate.php?shop_id=XECB830E0AE0C3827CC8EC3B083D488FC" target="_blank" title="Esoterikshopping.de ist Trusted Shops zertifiziert!" alt="Esoterikshopping.de ist Trusted Shops zertifiziert!" />
              		<area shape="rect" coords="751,25,999,208" href="../../index.php" target="_parent" alt="Adventskalender mit Gratisgeschenk!" title="Adventskalender mit Gratisgeschenk!" />
              		<area shape="rect" coords="4,4,613,205" href="../../index.php" target="_parent" alt="Esoterikshopping.de - Home" title="Esoterikshopping.de - Home" />
            	</map>
            {/if}
          </td>
        </tr>
      </table>
		<!-- navtrail: beginn -->
		
      <div id="bg_navtrail"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td> <div align="left"><a class="navtrail_text" href="/" target="_self" title="Neuerscheinungen, neue Produkte in unserem Shop">Startseite</a> 
                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                <a class="navtrail_text" href="/products_new.php" target="_self" title="Neuerscheinungen, neue Produkte in unserem Shop">Neue 
                Produkte</a> <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                <a class="navtrail_text" href="/specials.php" target="_self" title="Sonderangebote">% Sale %</a> 
                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                <!--<a class="navtrail_text" href="/content/Haendler.html" target="_self" title="H&auml;ndler">H&auml;ndler</a> -->
              </div></td>
            
			<td> <div align="right">
			<img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" />
			
      {if $account}
      {php} 
        if (isset($_SESSION['customer_id'])) { 
      {/php}
        <a class="navtrail_text" href="{$logoff}">{#link_logoff#}</a>
        {php} } else { {/php}
        <a class="navtrail_text" href="login.php">Anmelden</a>
        {php} } {/php}   
      {/if}

      {if $account}
      {php} 
        if (isset($_SESSION['customer_id'])) { 
      {/php}      
        <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
        <a class="navtrail_text" href="{$account}">Zum Konto</a>
      {php} } {/php}        
      {/if}

      {php} 
        if($_SESSION['cart']->count_contents() > 0) { 
      {/php}       
        <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
        <a class="navtrail_text" href="{$cart}">{#link_cart#}</a>
      {php} } {/php} 

      {php} 
        if(isset($_SESSION['customer_id']) and $_SESSION['cart']->count_contents() > 0) { 
      {/php}        
        <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
        <a class="navtrail_text" href="../../checkout_shipping.php">{#link_checkout#}</a> 
      {php} } {/php} 

        
        



        
        </div></td>
          </tr>
        </table>
	  </div>
	  {$box_SEARCH}
<div id="bg_navtrail_2"></div>	  
	<!--	<div id="bg_navtrail_2"></div>-->
      <!-- navtrail: end -->

  
	  
{if !strstr ($smarty.server.PHP_SELF, 'checkout')} 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
    <div style="margin:5px;"></div>

    {php}//include('inventur_1.php');{/php}
    
    <div align="center"><span class="navtrail">Sie befinden sich hier:</span> {$navtrail}</div>
    </td>
  </tr>
</table>
<div class="s_12"></div>
{/if}


{if !strstr ($smarty.server.PHP_SELF, 'checkout')}
<div class="s_12"></div>
{/if}


<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
          {if !strstr ($smarty.server.PHP_SELF, 'checkout')}
            	<td width="220" valign="top"><div align="left" style="padding-left:8px;">{$box_CATEGORIES}{*$box_PRODUKTINFORMATIONEN*}{$box_CONTENT}{*$box_SPECIALS*}{$box_WHATSNEW}{$box_HILFREICHE_LINKS}{*$box_WERBUNG_LINKS_1*}</div></td>
          {/if}
          
          {if !strstr ($smarty.server.PHP_SELF, 'checkout')}
            {if $screenwidth != '1150'}
                <td width="540" valign="top" id="main_content_neu">{$main_content}</td>
            {else}
                <td width="690" valign="top" id="main_content_neu">{$main_content}</td>
            {/if}
          {else}
          <td valign="top" id="main_content_checkout">{$main_content}</td>
          {/if}          
          
				{if !strstr ($smarty.server.PHP_SELF, 'checkout')}
                	<td width="220" valign="top"><div align="right" style="padding-right:8px;">{$box_ADMIN}{$box_CART}{*$box_LOGIN*}{$box_TRUSTEDSHOPS}{$box_SOCIAL_NETWORK}{$box_TOPSELLER_SELF}{$box_VERSANDKOSTENFREI}{*$box_NEWSLETTER*}{*$box_LAST_VIEWED*}{*$box_WERBUNG_RECHTS_1*}{*$box_HOW_TO_ORDER_IN_ENGLISH*}{*$box_CURRENCIES*}{*$box_KONTAKT*}{*$box_LANGUAGES*}</div></td>
                {/if}
</tr>
</table>
{php} if($_SESSION['customer_id']['customer_status'] == '0') { {/php}{$box_TRUSTEDSHOPS} {php} } {/php}

<!-- footer: begin -->
<div id="bg_navtrail_2"></div>

{if !strstr ($smarty.server.PHP_SELF, 'checkout')}
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
<tr> 
<td>
{if strstr ($smarty.server.PHP_SELF, 'product-informations')}
<div class="notice-text">
    <strong>Zu beachten gilt:</strong>
    Wir weisen darauf hin, dass die Wirkung von Heilsteinen, Edelsteinen, Mineralien und Kristallen, wissenschaftlich nicht nachweisbar oder medizinisch anerkannt ist. Die Anwendung 
    kann daher weder einen &auml;rztlichen Rat und/oder eine &auml;rztliche Hilfe ersetzen. Dar&uuml;ber hinaus ist die Nennung der Steine und deren Wirkung weder eine Anleitung zur 
    Therapie, noch eine Diagnose im &auml;rztlichen Sinn. Bei Krankheit oder Sorgen um Ihre Gesundheit wenden Sie sich bitte an einen Arzt. Edelsteine k&ouml;nnen 
    unterst&uuml;tzend zu einer &auml;rztlich verordneten Therapie hinzugezogen werden.
</div>
{/if}

<div align="center"><strong> <font color="#0000FF">&infin; &infin; &infin; &infin; 
              &infin; &infin; &infin; &infin; </font> <a href="index.php" target="_self">&copy; 
              www.Esoterikshopping.de</a> <font color="#0000FF">-</font> <a href="http://www.spart-bares.de/" target="_blank"><strong>Spart-Bares 
              GbR</strong></a><font color="#0000FF"> &infin; &infin; &infin; &infin; 
              &infin; &infin; &infin; &infin; </font></strong></div></td>
  </tr>
  <tr> 
          <td align="center">
<br />
<div align="center"> <a target="_blank" href="https://www.viversum.de/?pid=10247"><img border="0" height="80" width="300" alt="Kartenlegen" src="pics/esoterikshopping-viversum.jpg" /></a></div>
<br />          
              <a target="_blank" href="https://www.questico.de/sem/extern/kartenlegen/?referer=esoterikshopping"><img border="0" height="67" width="540" alt="Kartenlegen kostenlos" src="banner/Markenbanner1_728x90.gif" /></a>
<br /><br />
<div class="footer-text">
      Suchen Sie seltene und <a href="Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Antike-und-seltene-Wahrsagekarten-Tarot-und-Buecher" target="_self">antike 
      Tarot Karten</a> zum Kartenlegen? In unserem <a href="index.php" target="_self">Esoterik 
      Online Shop</a> finden Sie einige tausend Produkte aus allen bekannten und 
      unbekannten Bereichen der Esoterik - www.esoterikshopping.de - Ihr g&uuml;nstiger 
      Esoterik Shop - Nutzen Sie unseren Versand -Service! <a href="Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Engelkarten-Feenkarten-Heiligenkarten" target="_self">Engelkarten</a> 
      um eine Tageskarte zu ziehen, <a href="Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Lenormandkarten-Lenormand-Wahrsagekarten" target="_self">Lenormandkarten</a>, 
      um das Kartenlegen zu lernen. <a href="products/Esoterische-Spiele-Astrologische-Software/Astrovitalis-Astrologie-Software.html" target="_self">Horoskope</a> 
      und <a href="Esoterische-Spiele-Astrologische-Software" target="_self">Astrologische 
      Software</a> sind nur einige Bereiche aus unserem Sortiment. Aber auch edle 
      <a href="Raeucherstaebchen-Halter-Raeucherkegel-Koros" target="_self">R&auml;ucherst&auml;bchen</a> 
      zu niedrigen Preisen oder immer <a href="Raeucherungen-Raeucherzubehoer" target="_self">frisches 
      R&auml;ucherwerk</a>, <a href="Raeucherungen-Raeucherzubehoer/Olibanum-Weihrauch" target="_self">Weihrauch</a> 
      und <a href="Raeucherungen-Raeucherzubehoer/Raeucherharze-Baumblut" target="_self">seltene 
      R&auml;ucherharze</a> f&uuml;r den <a href="Ritual-Hexenbedarf" target="_self">Ritualbedarf</a> 
      k&ouml;nnen wir Ihnen anbieten.
    <br />
    Lassen Sie sich von unserer Vielfalt der einigen tausend Produkten aus allen bekannten und unbekannten Bereichen der Esoterik und vieles weitere inspirieren. 
    Speziell zum Thema <a href="Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten" target="_self" title="Kartenlegen f&Atilde;&OElig;r Kartenleger und Kartenlegerinnen">Kartenlegen</a> haben wir hunderte von seltenen Kartendecks und Sets mit dazugeh&ouml;rigen <a href="Samtbeutel-Edelholzschatullen-Glasflaeschchen-und-Schraenke" target="_self" title="Samtbeutel g&Atilde;&OElig;nstig kaufen">Samtbeuteln</a> und edlen  handgeschnitzten <a href="Samtbeutel-Edelholzschatullen-Glasflaeschchen-und-Schraenke/Schatullen-aus-edlen-Hoelzern" target="_self" title="Holzschatullen handgeschnitzt">Holzschatullen</a>. Mit  &uuml;ber 30 verschiedenen <a href="Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Lenormandkarten-Lenormand-Wahrsagekarten" target="_self" title="Lenormandkarten online kaufen">Lenormandkarten</a> Versionen, einigen <a href="Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Kipperkarten-Leidingkarten" target="_self" title="Kipperkarten kaufen">Kipperkarten</a> und hunderten von  teilweise seltenen und antiken Tarot haben wir alles f&uuml;r die Kartenlegerin und  den Kartenleger parat. Edle <a href="Raeucherwerk-Weihrauch-Harze-Kraeuter" target="_self" title="R&Atilde;&euro;uchern mit R&Atilde;&euro;ucherharzen">R&auml;ucherharze</a> und  Kr&auml;uter, R&auml;ucherkegel, naturreine <a href="Aetherische-Oele-Ritual-Oele" target="_self" title="&Atilde;&bdquo;therische &Atilde;&ndash;le kaufen">&auml;therische &Ouml;le</a> und <a href="Aetherische-Oele-Ritual-Oele/Ritual-Oele" target="_self" title="Ritual&Atilde;&para;le">Ritual&ouml;le</a>, immer frisch durch schnellen  Warenumschlag...und nun w&uuml;nschen wir Ihnen viel Spa&szlig; beim St&ouml;bern und Einkaufen!      
</div>
</td>
  </tr>
</table>
{/if}
<!-- footer: end -->
	  
</tr>
</table>

</td>
</tr> </table> 

{if strstr ($smarty.server.PHP_SELF, 'checkout')}
<div id="checkout-rechtliches">
	<ul>
        <li><a href="content/Wie-zahle-ich.html">Zahlarten</a></li>
        <li><a href="content/Liefer-und-Versandkosten.html">Versandkosten</a></li>
        <li><a href="content/Impressum.html">Impressum</a></li>
        <li><a href="content/Unsere-AGBs.html">AGB</a></li>
        <li><a href="content/Datenschutzerklaerung.html">Datenschutzerkl&auml;rung</a></li>
        <li><a href="content/Widerrufsbelehrung.html">Widerrufsbelehrung</a></li>
    </ul>	
</div>
{/if}

{php}
  include("etracker.inc.php");
  echo etracker::getCode("7sgmS9");
{/php}


<script src="https://www.google-analytics.com/urchin.js" type="text/javascript">
</script> <!--  
{if $BANNER}
<table width="100%"  border="0" cellspacing="4" cellpadding="0">
  <tr>
    <td align="center">{$BANNER}</td>
  </tr>
</table>
{/if}
-->


<script type="text/javascript">
_uacct = "UA-738839-16";
urchinTracker();
</script>
