@media screen and (min-width: 1024px) {
    #wrapper {
        border:1px solid #a28738;
        width:1000px;
        margin: 0px auto;
    }

    #wrapper img.logo {
    	width:100%;
    	height:auto;
    }

    #navtrail {
    	width:100%;
    	background-color: #f1f1f1;
    	height:auto;
    }

    #navtrail a {
    	padding: 5px 20px 5px 5px;
    	color: #666;
    	display: inline-block;
    	font-size:13px;
    }    
}

