/* -----------------------------------------------------------------------------------------

Eso-Template

Farbe Hintergrund Boxen #CEDFFF

dunkle Linien #233563

Blau 1 (dunkel - rechts oben und Header-Box links) #4162BA

Blau 2 (mittel - header box rechts #9CBEFF

Blau 2 (hell - #CEDFFF)

   ---------------------------------------------------------------------------------------*/

#rahmen {
	border:1px solid #a28738;
}

#bg_navtrail {
	background: url(img/bg_navtrail.png);
	height: 29px;
}

#bg_navtrail_2 {
	background: url(img/bg_navtrail_2.png);
	height: 3px;
}

a.navtrail_text {
	color:#333;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	position:relative;
	top:-9px;
	margin:7px;
}

a.breadcrumb_nav {
	color:#555;
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	position:relative;
	top:6px;
	margin:1px;
}


span.sep {
	color:#555;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	position:relative;
	top:4px;
	margin:1px;
}



a.navtrail_text:hover {
	color:#fff;
	text-decoration:none;
}

.s_12 {
	height:12px;
}

#main_content_neu {
	padding: 0 10px 0 10px;
}

#main_content_checkout {
	padding: 0 20px 0 20px;
}
#box_top {
	background: url(img/box_top_new.jpg);
	height: 29px;
	width: 200px;
}

.box_top_font
{
	font-family: Arial;
	font-weight: bold;
	font-size: 13px;
	color: #333;
	position: relative;
	top: 7px;
	text-align: center;	
}

#box_body {
	border-bottom: 1px solid #896B2B;
	border-left: 1px solid #896B2B;
	border-right: 1px solid #896B2B;
	margin: 0 0 12px;
	padding: 8px 0 0 0px;
	width: 198px;
}

.box_content_font {
	font-family: Arial;
	font-size: 12px;
	color: #333;
	text-align: left; 
}

#box_inner_space {
	margin: 0 0 8px 8px;
	padding-top: 8px;
}

#box_bottom {
	margin-bottom: 10px;
}

a.show_categorie {
	font-family: Arial;
	font-size: 12px;
	color: #333;
	text-decoration:none;
}

a.show_categorie:hover {
	font-family: Arial;
	font-size: 12px;
	color: #333;
	text-decoration:none;
	background-color: #E2C75A;
	padding:3px;
}

a.show_categorie_aktiv {
	font-family: Arial;
	font-size: 12px;
	color: #333;
	text-decoration:none;
	background-color: #E2C75A;
	padding:3px;
}

span.products_price {
	/*color: #896b2b;*/
	color:#333;
	font-size:16px;
	font-weight:bold;
}

a.products_versandkosten,
.products_versandkosten {
	font-family: arial;
	font-size:12px;
	color:#000;
	cursor:pointer;
}

.products_versandkosten:hover {
	text-decoration:underline;
}

td.products_lieferstatus {
	font-family: arial;
	font-size:12px;
	color:#000;
}

.categorie_space {
	border-bottom: 1px dotted #896b2b;
	width: 182px;
}

.spacer {
	height:6px;
}

.s_12 {
	height:12px;
}

A {
	/*color: #896b2b;*/
	color:#333;
	text-decoration: none;	
}

A:hover {
	color: #333;
	text-decoration: underline;
}

.boxTextBGII {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background-color: #FFCC99;
}

.gift_bg {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	border: 2px solid #FFCC99;
}

.contentsTopics {
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	/*color: #896b2b;*/
	color:#333;
}

/*
table.opsedi_main {
	color: #896b2b;
	font-family: arial;
	font-size:12px;
}
*/

/*
.moduleRow {
	background-color: #fff;
	border: 1px solid #D7E9F7;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.moduleRowOver { 
	background-color: #a28738;
	border: 1px solid #ffffff;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
*/

.moduleRowSelected { 
	/*background-color: #C29841;*/ 
	background-color: #896b2b;
	color: #fff;
}

.boxText { 
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}


.boxTextBG {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	background-color: #f1f1f1;
}



.boxTextPrice {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #FF0000;
}



.errorBox {
	font-family : Verdana, Arial, sans-serif;
	font-size : 10px;
	font-weight: bold;
	background-color: #ffb3b5;
}

.gvBox {
	font-family : Verdana, Arial, sans-serif;
	font-size : 14px;
	font-weight: bold;
	border-color: #FFFFFF;
	border: 1px solid;
	background-color: #ffb3b5;
}

.stockWarning { 

	font-family : Verdana, Arial, sans-serif;

	font-size : 10px;

	color: #cc0033;

}



.productsNotifications {

	background-color: #f2fff7;

}



.orderEdit { 

	font-family : Verdana, Arial, sans-serif;

	font-size : 10px;

	color: #70d250;

	text-decoration: underline;

}



BODY {
	color: #000000;
	margin: 0px;
	background-color: #ffffff;
}

hr {
	/*border: 1px solid #4162BA;*/
	border: 1px solid #9E7303;
}



img{

	border:0;

}




FORM {

	display: inline;		   

}





TR.header {

	background-color: #ffffff;

}



TR.headerNavigation {

  background: #F6F6F6;

}



TD.headerNavigation {

	font-family: Verdana, Arial, sans-serif;

	font-size: 10px;

	color: #000000;

	font-weight : bold;

	border-bottom: 1px solid;

	border-color: #b6b7cb;

	background-color: #F6F6F6;

}



A.headerNavigation { 

  color: #000000; 

}



A.headerNavigation:hover {

  color: #000000;

}



TD.conditions {

  background-color: #FFCCCC;

}



A.confirmationEdit {

	color: #009933;

	font-style: italic;

}

A.confirmationEdit:hover {

	color: #009933;

	font-style: italic;

	text-decoration: underline;

}

TR.headerError {

  background-color: #ff0000;

}



table.headerMessage {
	border:1px solid #c00;
	background-color: #FFF4FF;
}



.moduleHeading {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size:15px;
}



TD.headerError {

  font-family: Tahoma, Verdana, Arial, sans-serif;

  font-size: 12px;

  background: #ff0000;

  color: #ffffff;

  font-weight : bold;

  text-align : center;

}



TR.headerInfo {

  background: #00ff00;

}



TD.headerInfo {

  font-family: Tahoma, Verdana, Arial, sans-serif;

  font-size: 12px;

  background: #00ff00;

  color: #ffffff;

  font-weight: bold;

  text-align: center;

}



TR.footer {

  background: #bbc3d3;

}



TD.footer {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

    background: #F6F6F6;

  color: #000000;

  font-weight : bold;

  border-bottom: 1px solid;

  border-color: #b6b7cb;

}



.infoBox {

}



.infoBoxContents {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

}



.infoBoxNotice {

  background: #FF8E90;

}



.infoBoxNoticeContents {

  background: #FFE6E6;

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

}



TD.infoBoxHeading_right {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  font-weight: bold;

  background: #9CBEFF;

  height:17px;

  color: #000000;

}



TD.infoBox, SPAN.infoBox {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  background: #CEDFFF; 

}



TD.infoBox_right, SPAN.infoBox_right {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  background: #CEDFFF; 



}



TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {

  background: #f8f8f9;

}



TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {

  background: #f8f8f9;

}



TABLE.productListing {

  border: 1px;

  border-style: solid;

  border-color: #233563;

  border-spacing: 1px;

}



.productListing-heading {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  background: #b6b7cb;

  color: #FFFFFF;

  font-weight: bold;

}



TD.productListing-data {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

}



A.pageResults {

	color: #0000FF;

	text-decoration: underline;

}



A.pageResults:hover {

  color: #0000FF;

  background: #FFFF33;

}



TD.pageHeading, DIV.pageHeading {

  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  /*color: #000000;*/
  color: #333;
}



TR.subBar {

  background: #f4f7fd;

}



TD.subBar {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  color: #000000;

}



TD.main, P.main {

  font-family: Arial, sans-serif;

  font-size: 12px;

  line-height: 1.5;

}



TD.smallText, SPAN.smallText, P.smallText {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

}



TD.accountCategory {

  font-family: Verdana, Arial, sans-serif;

  font-size: 13px;

  color: #aabbdd;

}



TD.fieldKey {

  font-family: Verdana, Arial, sans-serif;

  font-size: 12px;

  font-weight: bold;

}



TD.fieldValue {

  font-family: Verdana, Arial, sans-serif;

  font-size: 12px;

}



TD.tableHeading {

  font-family: Verdana, Arial, sans-serif;

  font-size: 12px;

  font-weight: bold;

}



SPAN.newItemInCart {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  color: #ff0000;

}



CHECKBOX, INPUT, RADIO, SELECT {

	font-family: Verdana, Arial, sans-serif;

	font-size: 11px;

	border-color: #9CBEFF;

}



TEXTAREA {

  width: 100%;

  font-family: Verdana, Arial, sans-serif;

  font-size: 11px;

}



SPAN.greetUser {

  font-family: Verdana, Arial, sans-serif;

  font-size: 12px;

  color: #f0a480;

  font-weight: bold;

}



SPAN.underline {

	text-decoration: underline;

}



TABLE.formArea {

  background: #f1f1f1;

  border-color: #cccccc;

  border-style: solid;

  border-width: 1px;

}



TD.formAreaTitle {

  font-family: Tahoma, Verdana, Arial, sans-serif;

  font-size: 12px;

  font-weight: bold;

}



.copyright {

  font-family: Verdana, Arial, sans-serif;

  font-size: 11px;

  line-height: 1.5;

  text-align:center;

}

.parseTime {

  font-family: Verdana, Arial, sans-serif;

  font-size: 11px;

  line-height: 1.5;

  text-align:center;

}

A.copyright {

  color: #000000;

}

A.copyright:hover {

  color: #0000ff;

  text-decoration: underline;

}





SPAN.markProductOutOfStock {

  font-family: Tahoma, Verdana, Arial, sans-serif;

  font-size: 12px;

  color: #c76170;

  font-weight: bold;

}



SPAN.productSpecialPrice {

  font-family: Verdana, Arial, sans-serif;

  color: #ff0000;

}

SPAN.productOldPrice {

	font-family: Verdana, Arial, sans-serif;

	color: #ff0000;

	text-decoration: line-through;

}

SPAN.errorText {

  font-family: Verdana, Arial, sans-serif;

  color: #ff0000;

}



SPAN.productDiscountPrice {

  font-family: Verdana, Arial, sans-serif;

  color: #ff0000;

  font-weight: bold;

}



.smallHeading {

	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

	font-size: x-small;

	font-weight: bold;

	color: Black;

}



.checkoutBarFrom, .checkoutBarTo { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }

.checkoutBarCurrent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }



/* sitewide font classes */

/* Note: heading<Number> equals <font size="Number"> */

.heading1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; }

.heading2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; }

.heading3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }

.heading4 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; }

.heading5 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16pt; }



/* Sitemap Tables */

.sitemap_heading {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF; 

	background-color: #666666; 

	padding-top: 2px; padding-bottom: 2px;}

.sitemap_heading a {color:#FFFFFF;}

.sitemap_heading a:hover {color:#CCCCCC; text-decoration:none;}



.sitemap_sub {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; background-color: #CEDFFF; padding: 2px 2px;}

.sitemap_sub a {color:#000000;}

.sitemap_sub a:hover {color:#999999; text-decoration:none;}





/* message box */



.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }

.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }

.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }



/* input requirement */



.inputRequirement { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }



.tableShop {

background-color: #ffffff;

border-left: 1px solid;

border-right: 1px solid;

border-color: #b6b7cb;

}



.navLeft {

	border-right: 4px solid;

	border-color: #4162BA;

	width: 185px;

}

.navRight {

	border-color: #9CBEFF;

	border-top-width: 4px;

	border-top-style: solid;

	border-left-width: 4px;

	border-left-style: solid;

	background-color: #CEDFFF;

	width: 185px;

}



.tableListingI {

	background-color: #eeeeee;

}



.tableListingII {

	background-color: #d0d0d0;

}



.tableBody {

padding: 5px;

}



.poweredby {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  color: #000000;

  font-weight: bold;

}

.onepxwidth {

	width: 1px;

}

/* SAVE IN PERCENT */

.save_percent {font-family:Arial, sans-serif; font-size:13px; color:red; font-weight:normal;}

#lightbox{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}

#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#imageContainer{
	padding: 10px;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(../../images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../../images/nextlabel.gif) right 15% no-repeat; }


#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%	
	}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}	
		
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	}
	
.alter {
display: block;
background-image: url(img/alter.gif);
background-repeat: no-repeat;
width: 13px;
height: 13px;
border: 0px;
font-size: 0px;
cursor: pointer;
}

.plus {
display: block;
background-image: url(img/plus.gif);
background-repeat: no-repeat;
width: 13px;
height: 13px;
border: 0px;
font-size: 0px;
cursor: pointer;
}

.minus {
display: block;
background-image: url(img/minus.gif);
background-repeat: no-repeat;
width: 13px;
height: 13px;
border: 0px;
font-size: 0px;
cursor: pointer;
}

.delete {
display: block;
background-image: url(img/delete.gif);
background-repeat: no-repeat;
width: 19px;
height: 22px;
border: 0px;
font-size: 0px;
background-color: #FFCC99;
cursor: pointer;
}	

.produktdetails_head {
	background: #E0C14C;
	height:17px;
	color: #333;
	font-family: Arial;
	font-size:13px;
	font-weight:bold;
	padding:3px;
}

.produktdetails_content {
	padding: 10px;
	border-right:1px solid #896B2B;
	border-left:1px solid #896B2B;
	border-bottom:1px solid #896B2B;
	margin-bottom:20px;
	color:#333;
	line-height:1.5;
	font-size:12px;
}	

TD.infoBoxHeading {
	background: #E0C14C;
	height:17px;
	color: #333;
	font-family: Arial;
	font-size:13px;
	font-weight:bold;
	padding:3px;
}

img.max_img_height {
	max-height:150px;
}

h1.new {
	display:inline;
	color: #333;
	font-size:16px;
	font-family:Arial;
}

td.c_listing {
	color: #333;
	font-size:12px;
	font-family:Arial;
}	
	
.product-listing-dropdown {
	margin: 25px 0;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
    width: 50%;
}

.product-listing-dropdown select {
	padding:1px;
}

.product-listing-dropdown select option:first-letter {
	font-size:120%;
	font-weight:bold;
}


/* News Seiten */
#customer-informations {
	font-family: Arial;
	font-size: 13px;
	color: #444;
	line-height: 1.35;
	margin: -15px 15px 20px -5px;
}

#customer-informations .images {
	float: left;
	margin: 6px 20px 10px 0;
}

#customer-informations .left {
	float: left;
	margin: 6px 20px 10px 0;
}

#customer-informations .right {
	float: right;
	margin: -33px 0 10px 20px;
}

#customer-informations .clear {
	clear: both;
}

#customer-informations h1 {
	color:#444;
	font-size:16px;
	line-height:26px;
	display: inline;
}

#customer-informations h2 {
	color:#444;
	font-size:14px;
	line-height:26px;
	display: inline;
}

#customer-informations .source {
	font-size:11px;
	color:#666;
	margin-top:20px;
}

#customer-informations .images .image-subtext {
	font-size:10px;
	color:#666;
	text-align:center;
	font-style:italic;
}

#customer-informations a {
	color:blue;
	text-decoration:underline;
}

#customer-informations span.red {
	color: red;
	font-size:110%;
}

#productinformationen-box .produktinformationen-thumbnail {
	max-width: 25px;
	max-height: 25px;
	max-width: 25px;
	max-height: 25px;	
	margin-right: 5px;
}

#productinformationen-box span.right {
	position: relative;
	top: -7px;
}

#productinformationen-box a.link {
	font-family: Arial;
	font-size: 12px;
}

#weitere-productinformationen {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 30px;
	font-size:80%;
}

#weitere-productinformationen header {
	text-transform: uppercase;
	font-style: italic;
	color:#555;
	font-weight:bold;
	font-size:106%;
	margin-bottom: 15px;
}
	
#weitere-productinformationen ul {
	margin-left: -40px;
	margin-bottom: 25px;
}

#weitere-productinformationen li {
	list-style-type: none;
	display: inline-block;
	height: 120px;
	border: 1px solid #886C3A;
	margin-right: 10px;
	padding: 5px;
	text-align: left;
	/*border-radius: 8px;*/
	margin-bottom: 10px;
}

#weitere-productinformationen li:hover {
	/*border: 1px solid #333;	*/
	background-color: #FFC /*#E2C85A*/;
}

#weitere-productinformationen li h1 {
	font-size: 115%;	
	display: inline;
	color:#555;
}

#weitere-productinformationen li h2 {
	font-size: 100%;
	display: inline;
	line-height: 19px;
	color:#555;
}

#weitere-productinformationen li a {
	color:#555;
}

#weitere-productinformationen li .images {
	float:left;
	padding-top:8px;
}

#weitere-productinformationen li .images img {
	max-width:50px;
	margin-right:10px;
}

#weitere-productinformationen li .content {
	font-size: 90%;
	line-height: 1.40;
	padding-top:8px;
}

#weitere-productinformationen li .content a {
	text-decoration:none;
}

#weitere-productinformationen li .content a:hover{
	text-decoration:none;
}

#weitere-productinformationen li .clear {
	clear: both;
}


/* produkthervorhebung */
span.produkthervorhebung {
	padding-right:10px;
	color: red;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	text-transform: uppercase;
}

.footer-text {
	margin: 10px;
	font-size:90%;
	color:#000;
	font-family: Arial, Helvetica, sans-serif; 
}
	
/* warnung - notice */
.notice-text {
	font-size:75%;
	color:#444;
	font-style:italic;
	margin:10px;
	font-family: Arial, Helvetica, sans-serif; 
}

/* productinformation_news */
#productinformation_news {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 30px;
	font-size:80%;
}

#productinformation_news header {
	text-transform: uppercase;
	font-style: italic;
	color:#555;
	font-weight:bold;
	font-size:106%;
	margin-bottom: 15px;
}
	
#productinformation_news li.news-body {
	padding:10px;
	list-style-type:none;
	margin:0 0 10px -39px;
	border: 1px solid #333;	
	/*border-radius:8px;*/
}

#productinformation_news li.news-body:hover {
	/*border: 1px solid #333;	*/
	background-color: #FFC /*#E2C85A*/;
}

#productinformation_news li.news-body h1 {
	font-size: 115%;	
	display: inline;
	color:#555;
}

#productinformation_news li.news-body h2 {
	font-size: 100%;
	display: inline;
	line-height: 19px;
	color:#555;
}

#productinformation_news li.news-body a {
	color:#555;
}

#productinformation_news li.news-body .images {
	float:left;
	padding-top:8px;
}

#productinformation_news li.news-body .images img {
	max-width:90px;
	max-height:90px;	
	margin-right:10px;
}

#productinformation_news li.news-body .content {
	font-size: 90%;
	line-height: 1.40;
	padding-top:8px;
}

#productinformation_news li.news-body .content a{
	text-decoration:none;
}

#productinformation_news li.news-body .content a:hover{
	text-decoration:none;
}

#productinformation_news li.news-body .clear {
	clear: both;
}

/* products-on-startpage */
#products-on-startpage {
	
}

#products-on-startpage h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 95%;
	margin-bottom: 15px;
	color: #555;
}

#products-on-startpage ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	color: #555;
	margin-left: -40px;
	margin-bottom: 20px;
}

#products-on-startpage ul li {
	list-style-type:none;
	display: inline-block;
	width: 20.5%;
	height: 100%;
	border:1px solid #886C3A;
	margin-right:10px;
	padding: 3px;
	text-align: center;
	/*border-radius: 3%;*/
}

#products-on-startpage ul li:hover {
	background-color: #FFC;
}

#products-on-startpage .image {
	margin-bottom: 10px;
	height: 100px;
}

#products-on-startpage .image img {
	max-height:100px;
	/*border-radius:15%;*/
}

#products-on-startpage .info a {
	text-decoration: none;
	color: #555;
}

#products-on-startpage .info a:hover {
	text-decoration: none;
	color: #555;
}

#products-on-startpage .info .products-name {
	height: 45px;
	color: #555;
	font-size: 70%;
	/*letter-spacing: 1px;*/
	font-weight: bold;	
}

#products-on-startpage .info .products-price {
	border-top: 1px dotted #666;
	padding-top: 5px;
	font-size: 90%;
}

#products-on-startpage .info .products-tax {
	font-size:10px;
	color: #777;
}

#products-on-startpage .info .products-tax a {
	font-size:10px;
	color: #777;
}

/* startseite-text */
#startseiten-text {
	margin: 8px 5px 30px 0;
	font-size:84%;
	font-family: Arial, Helvetica, sans-serif;
	line-height:1.35;
}

#startseiten-text a {
	color: #333;
}

#startseiten-text strong {
	font-weight:normal;
}


/* new style: boxes */
.box_top {
	background: url(img/box_top_new.jpg);
	height: 23px;
	width: 200px;
	font-family: Arial;
	font-weight: bold;
	font-size: 13px;
	color: #333;
	text-align: center;	
	padding-top:6px;
}

.box_body {
	border-left: 1px solid #896b2b;
	border-right: 1px solid #896b2b;
	border-bottom: 1px solid #896b2b;
	width: 198px;
	font-family: Arial;
	font-size: 12px;
	color: #333;
	text-align: left; 
	margin-bottom: 10px;
	padding-top: 8px;
}

.box_body.centered {
	text-align: center;
}

.box_body a.not-underline {
	text-decoration: none;
}

/* Box "Versand" */
.box_body .versand-1 {
	color: #333;
	font-size:13px;
	font-weight:bold;
	margin-bottom:4px;
}

.box_body .versand-2 {
	color: #333;
	font-size:19px;
	font-weight:bold;
	margin: 20px 0 20px 0;
}

.box_body .versand-2 span.red {
	color: red;
}

.box_body .versand-3 {
	margin-bottom: 5px;
}

.box_body .versand-3 a {
	color: #333;
	font-size:13px;
	font-weight:normal;
	text-decoration: none;
}

.box_body .versand-3 a:hover {
	text-decoration: underline;
}

/* Box "Kontakt" */
.box_body .kontakt-1 {
	color: #333;
	font-size:13px;
	margin-bottom:4px;
}

.box_body .kontakt-2 {
	color: #333;
	font-size:14px;
	font-weight: bold;
	margin-bottom:4px;
	text-decoration:underline;
}

.box_body .kontakt-3 {
	color: #333;
	font-size:13px;
	margin:4px 0;
}

/* AGB's - Conditions */
#conditions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#conditions h1 {
	font-size: 16px;
}

#conditions h2 {
	font-size: 14px;
}

h1.index-head {
	font-family: Arial, Helvetica, sans-serif;
	font-size:105%;
	color:#333;
	margin-top:0;
	font-style:italic;
}
	
/* Checkout unten */
#checkout-rechtliches {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	margin:5px auto;
}

#checkout-rechtliches ul li {
	list-style-type:none;
	display:inline-block;
	padding:0 15px;
}

/* media/content/seiten */
.image-float.right {
	float: right;
	margin: -20px 0 10px 15px;
}

#checkout-success {
	padding:20px;	
}

#checkout-success h1 {
	color:#896B2B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
	margin-bottom: 0;
}

#checkout-success h2 {
	color:#896B2B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
	margin-bottom: 0;	
}

#checkout-success .text {
	color:#333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
	margin-bottom: 32px;
}

#checkout-success .image-left {
	float: left;
	margin: 6px 20px 10px 0;
}

#checkout-success .text-trusted-shops {
	color:#333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
	margin-top: 10px;
	margin-bottom: 32px;
    width: 570px;		
}

/* Adventskalender */
#advent {
	margin-top: -25px;
	margin-bottom: 35px;
}

#advent h1.caption {
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:16px;
}

#advent td.advent_hg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	height: 82px;
	width: 80px;
	text-align:center;
}

#advent td.advent_bhg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	height: 82px;
	width: 90px;
	text-align:center;
}

#advent a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	padding: 10px;
}

#advent span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	padding: 10px;
}

#advent a:hover {
	color: #CC0000;
	text-decoration: none;
}

.Stil1 {
	color: #990000;
	font-weight: bold;
}

.Stil2 {
	font-size: 16px;
	font-weight: bold;
	color: #FFFF99;
}

#advent table {
	height:328px;
}

#advent span.day{
	/*border:1px dashed #fff;*/
	font-size:135%;
}

#advent a.day {
	border:2px dotted #fff;
	font-size:150%;
	background-color:#ccc;
}

#advent p#time {
	font-family: Arial, Helvetica, sans-serif;
	color:#c21017;
	text-align: center;
}

#advent p#time .cd-time-digit {
	font-family: Arial, Helvetica, sans-serif;
	color:#c21017;
	font-size: 1.2em;
	padding:0;
	font-weight:bold;
}

#advent p#time .cd-time {
	font-family: Arial, Helvetica, sans-serif;
	display:inline;
	color:#333;
	font-size:0.9em;
	padding: 2px;
}

#advent p#time .cd-time-text {
	font-family: Arial, Helvetica, sans-serif;
	color:#333;
	font-size:0.9em;
	line-height:24px;
}

.inventur1 {
	margin:0 auto;
	padding:10px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	/*border-bottom:1px solid #333;*/
	width:99%;
	font-size:14px;
}

.inventur2 {
	margin:0 auto;
	padding:10px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}

span.navtrail {
	color: #555;
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
	position: relative;
	top: 6px;
	margin: 1px;	
	font-weight:bold;
}

/****************/
/* Gratisproben */
/****************/
#free-samples {
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:12px;
	margin-top:12px;
}

#free-samples .caption-box, #free-samples .samples-stage {
	background-color:#FAF5E2;
	border-radius:3px;
	-moz-box-shadow:2px 2px 5px -1px #999999;
	-webkit-box-shadow:2px 2px 5px -1px #999999;
	box-shadow:2px 2px 5px -1px #999999;
	margin-bottom:15px;
	border:1px solid #dedede;
}

#free-samples .caption-box h1, #free-samples .caption-box p {
	font-size:16px;
	padding:5px;
	color:#333;
}

#free-samples .caption-box p.img {
	margin-top:-11px;
}

#free-samples .caption-box div h1 {
	margin: -110px 10px 0 120px;
}

#free-samples .caption-box div p {
	margin: -6px 15px 12px 120px;
}

.clearer {
	clear:both;
}

#free-samples .samples-stage {
	padding:10px;
}

#free-samples .samples-stage p strong {
	color:#f00;
	font-size:120%;
}

#free-samples .samples-stage p span {
	color:#f00;
}

#free-samples .caption-box p {
	font-size:12px;
	margin-top: -15px;
}

#free-samples .samples-stage img {
	max-width:80px;
}

#free-samples ul {
    list-style-type: none;
    margin-left: -40px;
}

#free-samples ul li.aktiv, #free-samples ul li.inaktiv {
    border: 1px solid #CCCCCC;
    display: inline-block;
    margin-right: 11px;
    padding: 5px;
    text-align: center;
    width: 15%;
	background-color:#fff;
	border-radius:3px;
	-moz-box-shadow:2px 2px 5px -1px #999999;
	-webkit-box-shadow:2px 2px 5px -1px #999999;
	box-shadow:2px 2px 5px -1px #999999;
	height:130px;
	
}

#free-samples ul li.aktiv.checked {
	background-color:#dedede;
	border:1px solid #333;
}

#free-samples ul li.aktiv:hover {
	/*background-color:#E2C85A;*/
	border:1px solid #333;
}

#free-samples ul li.inaktiv {
	background-color:#eee;
}

#free-samples ul li.inaktiv p, #free-samples ul li.inaktiv p a {
	color:#ccc;
}

#free-samples ul li div p.img {
	height:110px;
}

#free-samples ul li.inaktiv p.img {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

#free-samples ul li p.btn img {
	border-radius:6px;
}

#free-samples ul li div p.btn {
	height:25px;
}

/* jQuery Fade In --> Mouseover Images */
#free-samples ul div {
	position:absolute;
	top:0;
	left:0;
	background-color:#ddd;
	border-radius:3px;
	display:none;
	width:500px;
	color:#333;
	z-index:99999;
	border:1px solid #fff;
	-moz-box-shadow:2px 2px 5px -1px #999999;
	-webkit-box-shadow:2px 2px 5px -1px #999999;
	box-shadow:2px 2px 5px -1px #999999;
	padding:5px;
}

#free-samples .samples-stage ul div ul {
	list-style-type: none;
    margin-left: -40px;
}

#free-samples .samples-stage ul div ul li:first-child {
	float:left;
	width:50%;
}

#free-samples .samples-stage ul div ul li:last-child {
	float:left;
	width:50%;
}

#free-samples .samples-stage ul div h1 {
	font-size: 14px;
	padding-left:5px;	
}

#free-samples .samples-stage ul div ul li img {
	max-width:220px;
	padding-left:5px;
}

#free-samples .samples-stage ul div ul li strong, #free-samples .samples-stage ul div ul li span {
	color:#333;
}

/* Suchbox */
#box_search {
	background: none repeat scroll 0 0 transparent;
	padding: 5px;
	width: 330px;
	position: relative;
	top: -46px;
	left: 715px;
	margin-top: -66px;
}

#box_search input#searchbox {
    border: 1px solid #896B2B;
   	border-radius:5px;
	padding: 10px 10px 10px 35px;
    width: 230px;
	box-shadow: 5px 5px 5px #666666;
	background: #f3e8ba !important; /* Old browsers */
	background: -moz-linear-gradient(top, #f3e8ba 0%, #e2c85a 100%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e8ba), color-stop(100%,#e2c85a))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f3e8ba 0%,#e2c85a 100%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f3e8ba 0%,#e2c85a 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f3e8ba 0%,#e2c85a 100%)!important; /* IE10+ */
	background: linear-gradient(to bottom, #f3e8ba 0%,#e2c85a 100%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e8ba', endColorstr='#e2c85a',GradientType=0 )!important; /* IE6-9 */	
}

#box_search input.search-image {
    left: -290px;
    position: relative;
    top: 16px;
}


/* Neue Navigation */
ul#navi, ul#navi ul, ul#navi ul ul, ul#navi ul ul ul {
	margin:0;
	padding:0;
}

ul#navi span {
	font-size: 10px;
	padding-left: 5px;
	cursor: default;
	position: relative;
	top: -1px;
}

ul#navi li.level-2 span:first-child, ul#navi li.level-3 span:first-child {
	font-size: 13px;
	position: relative;
	top: -2px;	
}

ul#navi li {
    list-style-type: none;
}

ul#navi li:hover {
    background-color:#e2c75a;
}

ul#navi li a {
display: block;
padding: 5px 0 5px 8px;
font-family: Arial;
font-size: 13px;
}

ul#navi li a:hover {
	text-decoration:none;
}

ul#navi li.none{
    display: none;
}

ul#navi li.level-1 {
    padding-left:0px;
	border-bottom: 1px dotted #ccc;
}

ul#navi li.level-1.aktiv {
    font-weight:bold;
	background-color:#e2c75a;
}

/* Level 2 */
ul#navi li.level-2 {
	font-weight:normal;
	background-color:#FBF7E1;
	border-bottom: 1px dotted #ccc;
}

ul#navi li.level-2.aktiv {
    font-weight:bold;
	background-color:#e2c75a;
}

ul#navi li.level-2 a {
	padding-left:5px;
}

ul#navi li.level-2 a:hover {
	background-color:#EDDD9C;
}

/* Level 3 */
ul#navi li.level-3 {
	font-weight:normal;
	background-color:#FBF7E1;
	border-bottom: 1px dotted #ccc;
}

ul#navi li.level-3.aktiv {
    font-weight:bold;
	background-color:#e2c75a;
}

ul#navi li.level-3 a {
	padding-left:5px;
}

ul#navi li.level-3 a:hover {
	background-color:#EDDD9C;
}

.relevant-accessory {
	display: none;
}

.relevant-accessory.show {
    background-color: #FBF7E1;
    border: 1px solid #E2C75A;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
}

.relevant-accessory.show a {
	color:#009;
}

.relevant-accessory.show a:hover {
	text-decoration:underline;
}

#product-attributes-radioset.ui-buttonset {
    width:380px;
    margin-top:12px;
}

#product-attributes-radioset.ui-buttonset .ui-button {
    border-radius: 0;
    margin: 5px 4px 4px 0;
}

#product-attributes-radioset.ui-buttonset .ui-button.ui-button-text-only .ui-button-text {
    width: 150px;
    font-size:14px;
}


/* Create Account */
#create-account {
	font-family: Arial;	
	color: #333333;
}

#create-account h1 {
    display: inline-block;
    font-size: 19px;
    margin: 5px 0px 0px 5px;
}

#create-account p {
    font-size: 13px;
    margin: 6px 0px 20px 5px;
}

#create-account .error-msg {
    border: 2px solid #FF0000;
    margin: 25px;
}

#create-account .error-msg .messageStackError {
    background-color: #FFB3B5;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
}

#create-account .error-msg .messageStackError img {
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 7px;
    position: relative;
    top: 3px;
}
#create-account .create-account-stage {
    background-color: #FAF5E2;
    border: 1px solid #777777;
    border-radius: 6px;
    box-shadow: 2px 2px 5px -1px #999999;
    font-size: 13px;
    margin: 0 auto;
    padding: 5px 15px 15px;
}

#create-account .create-account-stage h2:first-child {
    margin-top: 15px;
}

#create-account .create-account-stage h2 {
    color: #333333;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 25px;
}

#create-account .create-account-stage label {
	display: inline-block;
    margin-bottom: 0;
    padding-right: 5px;
    padding-top: 5px;
    width: 140px;
}

#create-account .create-account-stage select.textfield.gender {
    width:70px;
}

#create-account .create-account-stage select.textfield.country {
    width:150px;
}

#create-account .create-account-stage .textfield {
    border: 1px inset #BBBBBB;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px;
    width:200px;
}

#create-account .create-account-stage .textfield.required {
    border: 1px solid #ff0000;
    background-color: #FFC3B5;
}

#create-account .create-account-stage span.req {
    padding-left:5px;
    color: #cc0000;
    font-weight: bold;
}

#create-account .create-account-stage span.additional-text {
    color: #CC0000;
    font-size: 11px;
    font-style: italic;
    padding-left: 5px;
}

#create-account .create-account-stage .btn {
    margin-top:25px;
}

/* Newsmodul: Startseite; */
#news-modul {
    border: 1px solid #999999;
    border-radius: 8px;
    margin: 40px 0;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
}

#news-modul > h1 {
    margin: 20px 0;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
}

#news-modul .shop-news {
    border-bottom: 1px solid #CCCCCC;
    margin: 6px 0;
    padding: 6px;
}

#news-modul .shop-news:last-child {
	padding: 6px;
	border-bottom:0;
}

#news-modul .shop-news header div {
    background-color: #EFEFEF;
    height: 18px;
    padding: 5px;
}

#news-modul .shop-news h1 {
    float: left;
    margin: 0;
    padding: 0;
    width: 75%;
}

#news-modul .shop-news h1 > a {
    color: #555555;
    font-size: 15px;
}

#news-modul .shop-news header p {
    float: left;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 25%;
}

.clear-news {
	clear:both;
}

#news-modul .shop-news figure {
    float: left;
    margin: 0;
    padding: 0;
    width: 120px;
}

#news-modul .shop-news img {
	max-width:100px;
}

#news-modul .shop-news p.content {
    margin: 15px 5px 0 0;
}

#news-modul .shop-news p.read-more {
	
}

#news-modul .shop-news p.read-more > a {
	color: #999999;
}

#news-modul .shop-news p.read-more > a:hover {
	color: #555555;
}

/* Newsmodul: Shopnews; */
#shopnews {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin-top: 0;
    padding: 0 10px;
}

#shopnews .header {
	margin-bottom:20px;
}

#shopnews .header-left {
	float:left;
	width:120px;
}

#shopnews .header-right {
	float:left;
	width:75%;
}

#shopnews .header h1 {
	margin:0;
	padding:0;
	display:inline-block;
	font-size: 16px;
	color:#555;
}

#shopnews .header p {
	margin-top: 5px;
	padding:0;
	font-size: 13px;
	font-style:italic;
	color:#777;
}

#shopnews .main p.shorttext {
	padding:0;
	font-size: 13px;
	color:#333;
	margin-bottom:25px;
}

#shopnews .main p.longtext {
	padding:0;
	font-size: 13px;
	color:#333;
}

#shopnews .main p.headline {
	font-style:italic;
	color:#777;
	text-decoration:underline;
	margin-bottom: -8px;
	padding:0;
}

#shopnews .footer {
	font-style:italic;
	color:#777;
	margin-top: 18px;
	padding:0;
	font-size:11px;
}

/* Newsmodul: Newsarchiv */
#newsarchiv {
    margin: 0;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
}

#newsarchiv > h1 {
    margin: 20px 0;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
}

#newsarchiv .archiv-news {
    margin: 6px 0;
    padding: 6px;
}

#newsarchiv .archiv-news header div {
    background-color: #EFEFEF;
    height: 18px;
    padding: 5px;
}

#newsarchiv .archiv-news h1 {
    float: left;
    margin: 0;
    padding: 0;
    width: 75%;
}

#newsarchiv .archiv-news h1 > a {
    color: #555555;
    font-size: 15px;
}

#newsarchiv .archiv-news header p {
    float: left;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 25%;
}

#newsarchiv .archiv-news figure {
    float: left;
    margin: 0;
    padding: 0;
    width: 120px;
}

#newsarchiv .archiv-news img {
	max-width:100px;
}

#newsarchiv .archiv-news p.content {
    margin: 15px 5px 0 0;
}

#newsarchiv .archiv-news p.read-more {
	
}

#newsarchiv .archiv-news p.read-more > a {
	color: #999999;
}

#newsarchiv .archiv-news p.read-more > a:hover {
	color: #555555;
}

/* Checkout Prozess */
#checkout-process {
	font-family: Arial;	
	color: #333333;
}

#checkout-process h1 {
    display: inline-block;
    font-size: 19px;
    margin: 15px 0;
}

#checkout-process p {
    font-size: 13px;
    margin: 0;
}

#checkout-process .checkout-process-stage {
    background-color: #FAF5E2;
    border: 1px solid #777777;
    border-radius: 6px;
    box-shadow: 2px 2px 5px -1px #999999;
    font-size: 13px;
    margin: 0 auto 20px;
    padding: 5px 15px 15px;
}

#checkout-process h2 {
    color: #333333;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-top: 15px;
    /*display: inline-block;*/
    border-bottom: 2px dotted #333333;    
}

#checkout-process .checkout-process-stage .block {
    background-color: #FFFFFF;
    border: 1px solid #777;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    font-size:14px;
}

#checkout-process .checkout-process-stage .block strong {
    display: block;
}

#checkout-process .checkout-process-stage .block.among {
    display: block;
}

#checkout-process .checkout-process-stage .block.among:hover {
    background-color:#EEDFA2;
}

#checkout-process .checkout-process-stage .block.among.checked {
    background-color:#EEDFA2;
    border:1px solid #777;
    box-shadow: 0 0 3px #333333 inset;
    -moz-box-shadow: 0 0 3px #333333 inset;
    -webkit-box-shadow: 0 0 3px #333333 inset;
}


#checkout-process .checkout-process-stage .block.left {

}

#checkout-process .checkout-process-stage .block.right {
	margin-left: 40px;
}

#checkout-process .checkout-process-stage .block.left p,
#checkout-process .checkout-process-stage .block.right p {
    border-bottom: 1px solid #333333;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 6px;
}

#checkout-process .checkout-process-stage .block.right p {
    border: 0;
}

#checkout-process .checkout-process-stage .block p {
    border: 0;
}

#checkout-process .continue {
    margin: 40px 0;
    padding-left: 15px;
}

#checkout-process .continue h2 {
    margin-right: 15px;
}

#checkout-process .continue div p:nth-child(1) {
    float:left;
}

#checkout-process .continue div p:nth-child(2) {
    float:right;
    margin-right: 15px;
}

#checkout-process textarea {
    border: 1px inset #BBBBBB;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 8px;
    padding: 3px;
    width: 40%;
}

#checkout-process .textfield,
#checkout-process .form-row-paymill {
    border: 1px inset #BBBBBB;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px;
    width:200px;
}

#checkout-process .agb,
#checkout-process .widerruf {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

#checkout-process .condition-stage {
	background-color: transparent;
    display: block;
    padding: 3px 3px 4px;	
}

#checkout-process .condition-stage.checked,
#checkout-process .condition-stage.checked strong {
    background-color: #008000;
    color:#fff;
}

#checkout-process a.edit,
#checkout-process .edit {
	color:#009933;
	font-style:italic;
}

#checkout-process .grid-50 {
	float:left;
	width:49%;
}

#checkout-process .checkout-process-stage strong.confirmation {
	font-size:15px;
	text-decoration:none;
	display: inline-block;
	margin-bottom: 8px;
}

#checkout-process .checkout-process-stage .block.among.no-hover:hover {
	background-color:#fff;
}

#checkout-process .fixed-width {
	width: 49% !important;
}

#checkout-process .emphasize {
	background-color:#EEDFA2 !important;
}

#checkout-process .buy-now {
	text-align: right;
}

#checkout-process .image-left {
	float: left;
	margin: 6px 20px 10px 0;
}

#checkout-process .text-trusted-shops {
	color:#333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
	margin-top: 12px;
	margin-bottom: 12px;
    width: 75%;		
}

#checkout-process .continue .btn-left {
    float:left;
}

#checkout-process .continue .btn-right {
    float:right;
}

#checkout-process .continue.full-width {
	padding-left: 0;
}

#checkout-process .continue.full-width h2 {
	margin-right: 0;
}

#checkout-process #create-account .create-account-stage {
	background-color: #FFFFFF;
    border: 1px solid #777777;
    border-radius: 4px;
    /*display: inline-block;*/
    font-size: 14px;
    margin: 10px 0;
    padding: 10px 15px;
}

.question-mark {
	background-image: url("../../images/question_mark.png");
	width: 16px;
	height: 16px;
	display:inline-block;
	cursor: pointer;
}

#dialog-invoice-aufschlag {
	display:none;
}

/* Login */
#checkout-process #create-account .create-account-stage.login {
	background-color: #FAF5E2;
}

#create-account .create-account-stage .btn.login {
    margin-top: 5px;
}

#create-account .create-account-stage a.forgot-password {
    display: inline-block;
    font-size: 12px;
    margin: 8px 0 2px 4px;
}

#create-account .create-account-stage.login h2 {
    margin-top: 5px;
}

.paymill .paymill-label-field {
    display:inline-block;
}

#checkout-process .checkout-process-stage .block.among.paymill,
#checkout-process .checkout-process-stage .block.among.paymill:hover {
	background-color: #FFAEAE;
}

.paymill #paymill-card-expiry-month,
.paymill #paymill-card-expiry-year {
    height: 22px;
    margin-bottom: 5px;
    padding: 2px;
}

/* Checkout Prozess - Progressbar */
#checkout-process #process-arrows {
    height: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}

#checkout-process .arrow-body {
	height: 38px;
	max-height: 38px;
	border: 0;
	width:130px;
	float:left;
	position:relative;
}

#checkout-process .arrow-body p {
	display:block;
	padding-left: 35px;
	/*cursor: pointer;*/
	font-family: Arial;
	font-size:15px;
	margin-top: 12px;
}

#checkout-process .arrow-end {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 19px 0 19px 19px;
	border-color: transparent transparent transparent transparent;
	margin: -29px 0 0 130px;
}

#checkout-process .arrow-body.first .arrow-end {
	margin-left: 115px;
}

#checkout-process #process-arrows .arrow-body.active {
	background-color: #393;
}

#checkout-process #process-arrows .arrow-body.active p {
	color: #fff;
	font-weight:bold;
	margin-top: 11px;
}

#checkout-process #process-arrows .arrow-end.active {
	border-color: transparent transparent transparent #393;
	background-color: transparent;	
}

#checkout-process .arrow-body.first {
	width: 115px;
	z-index: 5;
	background-color: #FAF5E2;
}

#checkout-process .arrow-end.first {
	border-color: transparent transparent transparent #FAF5E2;
	background-color: transparent;	
}

#checkout-process .arrow-body.second {
	background-color: #F1E6B6;
	z-index: 4;
}

#checkout-process .arrow-end.second {
	border-color: transparent transparent transparent #F1E6B6;
	background-color: transparent;	
}

#checkout-process .arrow-body.third {
	background-color: #E8D682;
	z-index: 3;
}

#checkout-process .arrow-end.third {
	border-color: transparent transparent transparent #E8D682;
	background-color: transparent;	
}

#checkout-process .arrow-body.fourth {
	background-color: #DDC44A;
	z-index: 2;
}

#checkout-process .arrow-end.fourth {
	border-color: transparent transparent transparent #DDC44A;
	background-color: transparent;	
}

#checkout-process .arrow-body.first p {
	padding-left: 20px;
}

.versand-info-products-listing-footer {
    color: #000;
    font-family: arial;
    font-size: 12px;
    margin:5px auto;
    text-align: center;
}

#product-listing .header h1 {
	color: #333;
	font-size:16px;
	font-family:Arial;
}

#product-listing .header .categ-heading-title {
	display:inline;
	color: #333;
	font-size:13px;
	font-family:Arial;
}

#product-listing .header .product-listing-description {
	color: #333;
	font-size:12px;
	font-family:Arial;
	float:left;
	width:70%;
	padding-right:2%;
}

#product-listing .header .categ-advanced-search {
	margin: 10px;
}

#product-listing .header .product-listing-image {
	float: right;
	padding-right:1%;
}

#product-listing .header .categ-categories-image img {
	max-width: 150px;
	max-height: 150px;
}

.each-product {
    border: 1px solid #896b2b;
    font-family: Arial;
    margin-bottom: 10px;
    min-height: 130px;
}

.each-product .each-product-image {
	float: left;
	width: 19%;
	text-align: center;
	margin: 5px 0;
}

.each-product .each-product-description {
	float: left;
	font-size: 12px;
	line-height: 1.5;
	width: 48%;
	padding: 0 2%;
}

.each-product .each-product-price {
    box-sizing: border-box;
    float: right;
    padding: 15px 10px;
    width: 28%;
}
.each-product .each-product-image img {
	max-height: 135px;
	max-width: 135px;
}

.momentan-ausverkauft {
	color:#f00;
	font-size:14px;
	font-weight:bold;
	margin:6px 0;
}

a.products_name {
	font-family: Arial;
	font-size: 14px;
	color:#333;
	text-decoration:none;
}

a.products_name:hover {
	text-decoration:underline;
}

.short-description {
	margin: 12px 0 12px 0;
}

.price-subline {
	border-bottom:2px dotted #896b2b;
	width:99%;
	margin:5px 0;
}

.verfuegbarkeit p, .verfuegbarkeit img {
	float:left;
	position: relative;
	top: -5px;
}

.verfuegbarkeit p {
	width:53%;
	font-size:12px;
}

.verfuegbarkeit img {
	position: relative;
	top: 10px;
}