<!--
NOTES:	THE COLORS BELOW ARE FOR THE ADMIN CENTER ONLY
		SET YOUR CONTROL PANEL COLOR SCHEME IN THE Partnerverkauf ADMIN CENTER
-->

<style type="text/css">
<!--
body { font-size: 70%; font-family: Arial; }
td { font-size: 70%; font-family: Arial; }
A { color: blue; font-family: Arial; text-decoration: none; font-weight: normal; }
A:hover { font-family: Arial; text-decoration: underline; font-weight: normal; }

.template_header { color: #FFFFFF; background: #003366; font_weight: bold; }
.outline_color { background: #003366; }
.template_footer { color: #FFFFFF; background: #003366; }
.cell_back_section { background: #005FBE; }

.cell_back_super_light { background: #E6EDFD; }
.cell_back_light { background: #D7E2FE; }
.cell_back_mid { background: #C3D4FE; }
.cell_back_dark { background: #C3D4FE; }

.template_link_color_light { color: #DFE3EC; }
.template_link_color { color: #FFFFFF; }

.white_back { background: #FFFFFF; }
.menu_cells { background: #D4E2FD; }
.menu_cells_back { background: #F8FAFF; }
.menu_cells_alt { background: #FFCC66; }

-->
</style>