/* -----------------------------------------------------------------------------------------

Eso-Template

Farbe Hintergrund Boxen #CEDFFF

dunkle Linien #233563

Blau 1 (dunkel - rechts oben und Header-Box links) #4162BA

Blau 2 (mittel - header box rechts #9CBEFF

Blau 2 (hell - #CEDFFF)

   ---------------------------------------------------------------------------------------*/



.boxText { 

	font-family: Verdana, Arial, sans-serif;

	font-size: 10px;

}



.boxTextBG {

	font-family: Verdana, Arial, sans-serif;

	font-size: 10px;

	background-color: #f1f1f1;

}

.boxTextBGII {

	font-family: Verdana, Arial, sans-serif;

	font-size: 10px;

	background-color: #FFCC99;

}

.boxTextPrice {

	font-family: Verdana, Arial, sans-serif;

	font-size: 10px;

	color: #FF0000;

}



.errorBox {

	font-family : Verdana, Arial, sans-serif;

	font-size : 10px;

	font-weight: bold;

	background-color: #ffb3b5;

}

.gvBox {

	font-family : Verdana, Arial, sans-serif;

	font-size : 14px;

	font-weight: bold;

	border-color: #FFFFFF;

	border: 1px solid;

	background-color: #ffb3b5;

}

.stockWarning { 

	font-family : Verdana, Arial, sans-serif;

	font-size : 10px;

	color: #cc0033;

}



.productsNotifications {

	background-color: #f2fff7;

}



.orderEdit { 

	font-family : Verdana, Arial, sans-serif;

	font-size : 10px;

	color: #70d250;

	text-decoration: underline;

}



BODY {

	color: #000000;

	margin: 0px;

	background-color: #ffffff;

}

hr {

	border: 1px solid #4162BA;



}



img{

	border:0;

}



A {

 color: #0000ff;

  text-decoration: underline;

}



A:hover {

  color: #0000ff;

  text-decoration: underline;

}



FORM {

	display: inline;		   

}





TR.header {

	background-color: #ffffff;

}



TR.headerNavigation {

  background: #F6F6F6;

}



TD.headerNavigation {

	font-family: Verdana, Arial, sans-serif;

	font-size: 10px;

	color: #000000;

	font-weight : bold;

	border-bottom: 1px solid;

	border-color: #b6b7cb;

	background-color: #F6F6F6;

}



A.headerNavigation { 

  color: #000000; 

}



A.headerNavigation:hover {

  color: #000000;

}



TD.conditions {

  background-color: #FFCCCC;

}



A.confirmationEdit {

	color: #009933;

	font-style: italic;

}

A.confirmationEdit:hover {

	color: #009933;

	font-style: italic;

	text-decoration: underline;

}

TR.headerError {

  background-color: #ff0000;

}



TR.headerMessage {

	background-color: #00CC33;

}



.moduleHeading {

	font-family: Verdana, Arial, sans-serif;

	font-size: small;

	font-weight: bold;

	padding-bottom: 10px;

}



TD.headerError {

  font-family: Tahoma, Verdana, Arial, sans-serif;

  font-size: 12px;

  background: #ff0000;

  color: #ffffff;

  font-weight : bold;

  text-align : center;

}



TR.headerInfo {

  background: #00ff00;

}



TD.headerInfo {

  font-family: Tahoma, Verdana, Arial, sans-serif;

  font-size: 12px;

  background: #00ff00;

  color: #ffffff;

  font-weight: bold;

  text-align: center;

}



TR.footer {

  background: #bbc3d3;

}



TD.footer {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

    background: #F6F6F6;

  color: #000000;

  font-weight : bold;

  border-bottom: 1px solid;

  border-color: #b6b7cb;

}



.infoBox {

}



.infoBoxContents {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

}



.infoBoxNotice {

  background: #FF8E90;

}



.infoBoxNoticeContents {

  background: #FFE6E6;

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

}



TD.infoBoxHeading {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  font-weight: bold;

  background: #9CBEFF;

  height:17px;

  color: #000000;

}



TD.infoBoxHeading_right {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  font-weight: bold;

  background: #9CBEFF;

  height:17px;

  color: #000000;

}



TD.infoBox, SPAN.infoBox {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  background: #CEDFFF; 

}



TD.infoBox_right, SPAN.infoBox_right {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  background: #CEDFFF; 



}



TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {

  background: #f8f8f9;

}



TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {

  background: #f8f8f9;

}



TABLE.productListing {

  border: 1px;

  border-style: solid;

  border-color: #233563;

  border-spacing: 1px;

}



.productListing-heading {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  background: #b6b7cb;

  color: #FFFFFF;

  font-weight: bold;

}



TD.productListing-data {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

}



A.pageResults {

	color: #0000FF;

	text-decoration: underline;

}



A.pageResults:hover {

  color: #0000FF;

  background: #FFFF33;

}



TD.pageHeading, DIV.pageHeading {

  font-family: Verdana, Arial, sans-serif;

  font-size: 16px;

  font-weight: bold;

  color: #000000;

}



TR.subBar {

  background: #f4f7fd;

}



TD.subBar {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  color: #000000;

}



TD.main, P.main {

  font-family: Verdana, Arial, sans-serif;

  font-size: 11px;

  line-height: 1.5;

}



TD.smallText, SPAN.smallText, P.smallText {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

}



TD.accountCategory {

  font-family: Verdana, Arial, sans-serif;

  font-size: 13px;

  color: #aabbdd;

}



TD.fieldKey {

  font-family: Verdana, Arial, sans-serif;

  font-size: 12px;

  font-weight: bold;

}



TD.fieldValue {

  font-family: Verdana, Arial, sans-serif;

  font-size: 12px;

}



TD.tableHeading {

  font-family: Verdana, Arial, sans-serif;

  font-size: 12px;

  font-weight: bold;

}



SPAN.newItemInCart {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  color: #ff0000;

}



CHECKBOX, INPUT, RADIO, SELECT {

	font-family: Verdana, Arial, sans-serif;

	font-size: 11px;

	border-color: #9CBEFF;

}



TEXTAREA {

  width: 100%;

  font-family: Verdana, Arial, sans-serif;

  font-size: 11px;

}



SPAN.greetUser {

  font-family: Verdana, Arial, sans-serif;

  font-size: 12px;

  color: #f0a480;

  font-weight: bold;

}



SPAN.underline {

	text-decoration: underline;

}



TABLE.formArea {

  background: #f1f1f1;

  border-color: #cccccc;

  border-style: solid;

  border-width: 1px;

}



TD.formAreaTitle {

  font-family: Tahoma, Verdana, Arial, sans-serif;

  font-size: 12px;

  font-weight: bold;

}



.copyright {

  font-family: Verdana, Arial, sans-serif;

  font-size: 11px;

  line-height: 1.5;

  text-align:center;

}

.parseTime {

  font-family: Verdana, Arial, sans-serif;

  font-size: 11px;

  line-height: 1.5;

  text-align:center;

}

A.copyright {

  color: #000000;

}

A.copyright:hover {

  color: #0000ff;

  text-decoration: underline;

}





SPAN.markProductOutOfStock {

  font-family: Tahoma, Verdana, Arial, sans-serif;

  font-size: 12px;

  color: #c76170;

  font-weight: bold;

}



SPAN.productSpecialPrice {

  font-family: Verdana, Arial, sans-serif;

  color: #ff0000;

}

SPAN.productOldPrice {

	font-family: Verdana, Arial, sans-serif;

	color: #ff0000;

	text-decoration: line-through;

}

SPAN.errorText {

  font-family: Verdana, Arial, sans-serif;

  color: #ff0000;

}



SPAN.productDiscountPrice {

  font-family: Verdana, Arial, sans-serif;

  color: #ff0000;

  font-weight: bold;

}



.smallHeading {

	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

	font-size: x-small;

	font-weight: bold;

	color: Black;

}



.moduleRow {

 font-family: Verdana, Arial, sans-serif;

 font-size: 11px;

 line-height: 1.5;

 background-color: #D7E9F7;

 border: 1px solid;

 border-color: #CEDFFF;



}

.moduleRowOver { 

	background-color: #FFFFFF; 

	border: 1px solid;

	border-color: #ffffff;

	font-family: Verdana, Arial, sans-serif;

    font-size: 11px;

    line-height: 1.5; 

	

	}

.moduleRowSelected { background-color: #9CBEFF; }



.checkoutBarFrom, .checkoutBarTo { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }

.checkoutBarCurrent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }



/* sitewide font classes */

/* Note: heading<Number> equals <font size="Number"> */

.heading1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; }

.heading2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; }

.heading3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }

.heading4 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; }

.heading5 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16pt; }



/* Sitemap Tables */

.sitemap_heading {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #FFFFFF; 

	background-color: #666666; 

	padding-top: 2px; padding-bottom: 2px;}

.sitemap_heading a {color:#FFFFFF;}

.sitemap_heading a:hover {color:#CCCCCC; text-decoration:none;}



.sitemap_sub {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; background-color: #CEDFFF; padding: 2px 2px;}

.sitemap_sub a {color:#000000;}

.sitemap_sub a:hover {color:#999999; text-decoration:none;}





/* message box */



.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }

.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }

.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }



/* input requirement */



.inputRequirement { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }



.tableShop {

background-color: #ffffff;

border-left: 1px solid;

border-right: 1px solid;

border-color: #b6b7cb;

}



.navLeft {

	border-right: 4px solid;

	border-color: #4162BA;

	width: 185px;

}

.navRight {

	border-color: #9CBEFF;

	border-top-width: 4px;

	border-top-style: solid;

	border-left-width: 4px;

	border-left-style: solid;

	background-color: #CEDFFF;

	width: 185px;

}



.contentsTopics {

	font-family: Verdana, Arial, sans-serif;

	font-size: 14px;

	font-weight: bold;

}



.tableListingI {

	background-color: #eeeeee;

}



.tableListingII {

	background-color: #d0d0d0;

}



.tableBody {

padding: 5px;

}



.poweredby {

  font-family: Verdana, Arial, sans-serif;

  font-size: 10px;

  color: #000000;

  font-weight: bold;

}

.onepxwidth {

	width: 1px;

}

/* SAVE IN PERCENT */

.save_percent {font-family:Verdana, Arial, sans-serif; font-size:9px; color:#FF6600; font-weight:normal;}

#lightbox{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}

#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#imageContainer{
	padding: 10px;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(../../images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../../images/nextlabel.gif) right 15% no-repeat; }


#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%	
	}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}	
		
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	}