{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="box_top">
	<div class="box_top_font">
		{#heading_manufacturers_info#}
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		<div class="box_content_font">
			{if $IMAGE}<center><img src="{$IMAGE}" alt="{$NAME}" /><br /></center>{/if}
            {$NAME}<br />
            {if $URL}{$URL}<br />{/if}
            {$LINK_MORE}
		</div>
	</div>
</div>
<div id="box_bottom"></div>