{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="login-box" class="mystage">
	<a href="/login.php" class="btn">Jetzt anmelden!</a><br />
	<div class="separator"><span>oder</span></div>
	<a href="/create_account.php">Neukunde?</a><br />
	<a href="{$LINK_LOST_PASSWORD}">{#text_password_forgotten#}</a>
</div>