{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="box_top">
	<div class="box_top_font">
		{#heading_last_viewed#}
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		<div class="box_content_font">
			<div align="center">
			 {if $box_content.PRODUCTS_IMAGE!=''}<a href="{$box_content.PRODUCTS_LINK}"><img src="{$box_content.PRODUCTS_IMAGE}" alt="{$box_content.PRODUCTS_NAME} haben Sie sich zuletzt angesehen, bei Esoterikshopping.de, dem Esoterik Online Shop" title="{$box_content.PRODUCTS_NAME} haben Sie sich zuletzt angesehen, bei Esoterikshopping.de, dem Esoterik Online Shop" /></a><div class="spacer"></div>{/if}
			 <a class="show_categorie" href="{$box_content.PRODUCTS_LINK}">{$box_content.PRODUCTS_NAME}</a><div class="spacer"></div>
			 <strong>Preis: {$box_content.PRODUCTS_PRICE}</strong><br />
			 {if $box_content.PRODUCTS_VPE}{$box_content.PRODUCTS_VPE}<br />{/if}
			 {$box_content.PRODUCTS_TAX_INFO}{$box_content.PRODUCTS_SHIPPING_LINK}<div class="spacer"></div>
			 <a class="show_categorie" href="{$MY_PERSONAL_PAGE}">{#text_my_page#}</a><div class="spacer"></div>
			 {#text_watch_category#}
			 <a class="show_categorie" href="{$CATEGORY_LINK}"><strong>{$CATEGORY_NAME}</strong></a>
			 </div>
		</div>
	</div>
</div>
<div id="box_bottom"></div>