{config_load file="$language/lang_$language.conf" section="boxes"}

{if $empty=='false'}
<div id="shoppingcart-box" class="mystage">
	<h1>Ihr Warenkorb</h1>
	{foreach name=aussen item=products_data from=$products}
	<section class="product">
		<div class="product-image">
			<a href="{$products_data.LINK}"><img src="{$products_data.IMG}" /></a>
		</div>
		<div class="product-text">
			{$products_data.QTY} x {$products_data.NAME}<br />
			<strong>{$products_data.SINGLE_PRICE}</strong>
		</div>
		<div class="clearer"></div>
	</section>
	{/foreach}
	
	{if $DISCOUNT}
	{#text_discount#}&nbsp;{$DISCOUNT}
	{/if}

	<div class="separator"><span class="w_100">Berechnung</span></div>

	<div class="berechnung">
		<div class="summe">Gesamt: {$TOTAL}</div>
		<div class="ust">{$UST}</div>
		<div class="ship">{$SHIPPING_INFO}</div>
	</div>

	<div class="separator"><span>jetzt</span></div>
	
	<a href="/shopping_cart.php" class="btn">Zum Warenkorb</a>

	<div class="separator"><span>oder</span></div>
	
	<a href="/checkout_shipping.php" class="btn">Zur Kasse</a>	

	<br /><br />
</div>
{else} 
<div id="shoppingcart-box" class="mystage">
	<br />
	Der Warenkorb ist leer.
	<div class="separator"><span>jetzt</span></div>
	<a href="/shopping_cart.php" class="btn">Zum Warenkorb</a>
	<br />
	<br />
</div>
{/if}