{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="box_top">Versandinfo</div>
<div class="box_body centered">
	<a class="not-underline" href="../../../content/Liefer-und-Versandkosten.html">
        <div class="versand-1">Zustellung durch</div>
        <img src="{$tpl_path}img/dhl-logo.jpg" width="164" height="37" alt="Zustellung durch DHL" title="Zustellung durch DHL"/><br />
        <div class="versand-2">ab 49,- Euro<br /><span class="red">Versandkostenfrei</span><br />innerhalb DE</div>
        <div class="versand-3"><a href="../../../content/Liefer-und-Versandkosten.html">... mehr Informationen ...</a></div>
    </a>
</div>