{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="box_top">Sie haben Fragen?</div>
<div class="box_body centered">
	<div class="kontakt-1">Rufen Sie uns an!</div>
	<div class="kontakt-2">Tel.: 08404 - 939 264</div>
	<img src="{$tpl_path}img/kontakt.jpg" width="90" height="88"><br />
	<div class="kontakt-3">Mo.-Do.: 09.00 - 17.00 Uhr</div>
    <div class="kontakt-3">Freitag: 09.00 - 15.00 Uhr</div>
</div>
