{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="box_top">
	<div class="box_top_font">
		{#heading_specials#}
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		<div class="box_content_font">
			<div align="center">
			{if $box_content.PRODUCTS_IMAGE}<a href="{$box_content.PRODUCTS_LINK}"><img src="{$box_content.PRODUCTS_IMAGE}" alt="{$box_content.PRODUCTS_NAME}" /></a><div class="spacer"></div>{/if}
			<a class="show_categorie" href="{$box_content.PRODUCTS_LINK}">{$box_content.PRODUCTS_NAME}</a><div class="spacer"></div>
			<strong>{$box_content.PRODUCTS_PRICE}</strong><br />
			{if $box_content.PRODUCTS_VPE}{$box_content.PRODUCTS_VPE}<br />{/if}
			{$box_content.PRODUCTS_TAX_INFO}{$box_content.PRODUCTS_SHIPPING_LINK}
			</div>
		</div>
	</div>
</div>
<div id="box_bottom"></div>