{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="box_top">
	<div class="box_top_font">
		Unsere Produkte
	</div>
</div>
<div id="box_body">
<ul id="navi">
	{$BOX_CONTENT}
 </ul>
</div>
<div id="box_bottom"></div>