{config_load file="$language/lang_$language.conf" section="index"}
<div id="mobile-product-listing">
    <!--
    {if $CATEGORIES_DESCRIPTION != ''}
    <div class="content-secondary">
    {if $CATEGORIES_DESCRIPTION}
    <div class="categorie-description" data-role="collapsible" data-collapsed="true" data-inset="false" style="margin:-15px 0 15px"> 
      {if $CATEGORIES_HEADING_TITLE}
      <h3>{$CATEGORIES_HEADING_TITLE}</h3>
      {else}
      <h3>{$CATEGORIES_NAME}</h3>
      {/if}
      {if $CATEGORIES_IMAGE}<img src="{$CATEGORIES_IMAGE}" alt="{$CATEGORIES_NAME}" class="imgLeft" />{/if}
      {$CATEGORIES_DESCRIPTION} 
    </div>
    {/if}
    </div>
    {/if}
    
    {if $CATEGORIES_DESCRIPTION != ''}
    <div class="content-primary">
    {else}
    <div class="content-primary" style="width:96%;">
    {/if}
    -->
      <div class="content-seconday" style="width:85%;margin-top:-15px;">
        <h3>Unsere Produkte:</h3>
        <ul data-role="listview" class="productlist" data-filter="true">
        {foreach name=aussen item=module_data from=$module_content}
        <li data-icon="search"> <a href="{$module_data.PRODUCTS_LINK}">{if $module_data.PRODUCTS_IMAGE!=''}<img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" />{else}<img src="{$tpl_path}img/noimage.gif" alt="{$module_data.PRODUCTS_NAME}" />{/if}
          <h2>{$module_data.PRODUCTS_NAME}</h2>
          <p>{$module_data.PRODUCTS_SHORT_DESCRIPTION|strip_tags}</p>
          <div class="product_price">
            <span class="ui-btn-up-a ui-btn-corner-all" >{$module_data.PRODUCTS_PRICE}</span> 
            {if $module_data.PRODUCTS_VPE}<span class="product_vpe">{$module_data.PRODUCTS_VPE}</span>{/if}</div>
          </a>
        </li>
        {/foreach}
      </ul>
    </div>
    <div style="clear:both"> </div>
    <div class="page-navi">{$NAVIGATION}</div>
</div>