{config_load file="$language/lang_$language.conf" section="index"}

<section id="product-listing">
    <header role="banner" class="header">
        {if $ADVANCED_SEARCH_DESC}
            {$ADVANCED_SEARCH_DESC}
        {else}
            {if $CATEGORIES_HEADING_TITLE != ''}
                <h1>{$CATEGORIES_HEADING_TITLE}</h1>
            {else}
                <h1>{$CATEGORIES_NAME}</h1>
            {/if}
        {/if}
        {if $CATEGORIES_DESCRIPTION}<section class="product-listing-description" {if $CATEGORIES_IMAGE==''}style="width:95%"{/if}>{$CATEGORIES_DESCRIPTION}</section>{/if}
        {if $CATEGORIES_IMAGE}<aside role="complementary" class="product-listing-image"><img src="{$CATEGORIES_IMAGE}" alt="{$CATEGORIES_NAME}" title="{$CATEGORIES_NAME}" /></aside>{/if}
        <div style="clear:both;"></div>
        <div class="product-listing-dropdown">{$MULTISORT_DROPDOWN}</div>
    </header>
    {foreach name=aussen item=module_data from=$module_content} 
        <article role="article" class="each-product">
            <section class="each-product-image">
                {if $module_data.PRODUCTS_IMAGE!=''}
                    <a href="{$module_data.PRODUCTS_LINK}">
                        <img src="{$module_data.PRODUCTS_IMAGE}" alt='{$module_data.PRODUCTS_NAME}' title='{$module_data.PRODUCTS_NAME}' />
                    </a>
                {/if}
                {if $module_data.PRODUCTS_FSK18=='true'}
                    <img src="{$tpl_path}img/fsk18.gif" />
                {/if}
            </section>
            <section class="each-product-description">
                <a class="products_name" href="{$module_data.PRODUCTS_LINK}">
                    <strong>
                        {if $module_data.PRODUCTS_PRODUKTHERVORHEBUNG_SWITCH > 0}
                            <span class="produkthervorhebung">{$module_data.PRODUCTS_PRODUKTHERVORHEBUNG}</span>
                        {/if}
                        {$module_data.PRODUCTS_NAME}
                    </strong>
                </a>
                {if $module_data.SOLD_OUT == '1'}
                    <div class="momentan-ausverkauft">Momentan leider ausverkauft!!</div>
                    {if $module_data.REMIND_STATUS == '1'}
                        {$module_data.BUTTON_SUBMIT_REMIND}
                    {/if}
                {/if}
                {if $module_data.PRODUCTS_SHORT_DESCRIPTION != ''}
                    <div class="short-description">{$module_data.PRODUCTS_SHORT_DESCRIPTION}</div>
                {/if}
            </section>
            <section class="each-product-price">
                {if $module_data.PP_DISCOUNT == 'false'}
                    <span class="products_price">{$module_data.PRODUCTS_PRICE}</span><br />
                    {if $module_data.PRODUCTS_GRUNDPREIS_EXISTS > 0}<span style="color:#666;font-size:11px;">(Grundpreis: {$module_data.PRODUCTS_GRUNDPREIS_EINHEIT} = {$module_data.PRODUCTS_GRUNDPREIS})</span>{/if}
                {else}
                    <span class="products_price">H&auml;ndlerpreis: {$module_data.PP_DISCOUNT}</span><br />
                    {if $module_data.PRODUCTS_GRUNDPREIS_EXISTS > 0}<span style="color:#666;font-size:11px;">(Grundpreis: {$module_data.PRODUCTS_GRUNDPREIS_EINHEIT} = {$module_data.PRODUCTS_GRUNDPREIS})</span>{/if}
                {/if}   
                <div class="price-subline"></div>
                {if $module_data.PRODUCTS_SHIPPING_IMAGE}
                    <div class="verfuegbarkeit">
                        <p>Verf&uuml;gbarkeit:&nbsp;</p>
                        <img src="{$module_data.PRODUCTS_SHIPPING_IMAGE}" />
                    </div>
                    {$module_data.PRODUCTS_BUTTON_BUY_NOW}
                    <div style="clear:both;"></div>
                {/if}
                {if $module_data.PRODUCTS_VPE}<br />
                {$module_data.PRODUCTS_VPE}{/if}
            </section>                       
            <div style="clear:both;"></div>
        </article>
    {/foreach} 
    <footer role="contentinfo" class="">{$NAVIGATION}</footer>
</section>