{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="box_top">
	<div class="box_top_font">
		Login / Anmelden
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		<div class="box_content_font">
			{$FORM_ACTION}
			{#text_email#}:<br/>
			{$FIELD_EMAIL}<div class="spacer"></div>
			{#text_pwd#}:<br />
			{$FIELD_PWD}<div style="height:12px"></div>
			{$BUTTON}
			{$FORM_END}
			<div class="spacer"></div>
			<a class="show_categorie" href="/create_account.php">Neukunde?</a>
			<div class="spacer"></div>
			<a class="show_categorie" href="{$LINK_LOST_PASSWORD}">{#text_password_forgotten#}</a>
		</div>
	</div>
</div>
<div id="box_bottom"></div>