{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="box_top">Immer auf dem Laufenden...</div>
<div class="box_body">
    <a rel="nofollow" href="https://www.facebook.com/Esoterikshopping" target="_blank">
        <img style="float:left;margin:5px 10px;" src="{$tpl_path}img/facebook_2.jpg" name="FB" width="42" height="43" border="0" align="top" id="FB" alt="Zu unserem Facebook Konto" title="Zu unserem Facebook Konto" />
        <span style="margin-top:10px;display:block;">Esoterikshopping.de<br />bei <strong>Facebook!</strong></span>
    </a>

    <div style="clear:both;margin-bottom:0;"></div>

    <a rel="nofollow" href="https://www.youtube.com/user/Esoterikshopping" target="_blank">
        <img style="float:left;margin:5px 10px;" src="{$tpl_path}img/youtube_2.jpg" name="YT" width="42" height="43" border="0" id="YT" alt="Zu unseren Videos bei YouTube" title="Zu unseren Videos bei YouTube" />
        <span style="margin-top:14px;display:block;">Esoterikshopping.de<br />bei  <strong>Youtube!</strong></span>
    </a>
    <div style="clear:both; height:5px;"></div>
</div>