{config_load file="$language/lang_$language.conf" section="boxes"}
<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td class="infoBoxHeading"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="infoBoxHeading">{#heading_categories#} </td>
          <td></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td class="infoBox" align="left"><table width="95%"  border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td bgcolor="#D7E9F7" class="boxText">		
		  &nbsp;<img src="/templates/Eso-Template/img/icon_arrow.jpg" width="9" height="5"> <a href="http://www.esoterikshopping.de/" target="_self"><strong><font size="2">Startseite</font></strong></a></td>
        </tr>
        <tr>
          <td bgcolor="#D7E9F7" class="boxText"></td>
        </tr>
        <tr>
          <td bgcolor="#D7E9F7" class="boxText">&nbsp;<img src="/templates/Eso-Template/img/icon_arrow.jpg" width="9" height="5"> <a href="/products_new.php" target="_self"><strong><font size="2">Neue Produkte</font></strong></a></td>
        </tr>
        <tr>
          <td class="boxText">{$BOX_CONTENT} &nbsp;<img src="/templates/Eso-Template/img/icon_arrow.jpg" width="9" height="5"> <a href="/shop_content.php?coID=8" target="_self"><strong><font size="2">Alle Produkte / Sitemap</font></strong></a></td>
        </tr>

    </table></td>
  </tr>
</table>