{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="box_top">
	<div class="box_top_font">
		Produktinformationen
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		{$BOX_CONTENT}
	</div>
</div>
<div id="box_bottom"></div>
