{config_load file="$language/lang_$language.conf" section="boxes"}
{if $deny_cart neq 'true'}
{if $empty=='false'}

<div id="box_top">
	<div class="box_top_font">
		<a style="color:#333;" href="/shopping_cart.php">{#heading_cart#}</a>
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		<div class="box_content_font">
			{foreach name=aussen item=products_data from=$products}
			{$products_data.QTY}&nbsp;x&nbsp;<a class="show_categorie" href="{$products_data.LINK}">{$products_data.NAME|truncate:26:"...":true}</a>
			<div style="height:6px"></div>
			{/foreach}
			{if $DISCOUNT}
			{#text_discount#}&nbsp;{$DISCOUNT}
			{/if}
			<div style="height:2px"></div><div class="categorie_space"></div><div style="height:2px"></div>
			<div align="right" style="padding: 2px 8px 0 0;">{$UST}<strong>{#text_total#}</strong>{$TOTAL}{if $SHIPPING_INFO}<br />{$SHIPPING_INFO}{/if}</div>
		</div>
	</div>
</div>
<div id="box_bottom"></div>
{else} <!-- cart has no content --> 
<!--
<div id="box_top">
	<div class="box_top_font">
		<a style="color:#333;" href="/shopping_cart.php">{#heading_cart#}</a>
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		<div class="box_content_font">
			<div align="center">
				{#text_empty_cart#}<br /><img src="{$tpl_path}img/warenkorb.gif" width="140" height="115">
			</div>
		</div>
	</div>
</div>
<div id="box_bottom"></div>
-->
{/if}

{if $coupon_valid == 'true'}
<!--
<table class="infoBoxContents" width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="infoBox_right"><img src="{$tpl_path}img/img_gift.gif" alt="" /></td>
    <td valign="middle" class="infoBox_right">
	<table width="95%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="{$tpl_path}img/pixel_trans.gif" alt="" width="100%" height="1" /></td>
      </tr>
      <tr>
        <td align="center" class="smalltext">{#cart_coupon#}</td>
      </tr>
      <tr>
        <td align="center" class="gvBox" valign="bottom">{$coupon_amount}</td>
      </tr>
    </table>
	</td>
  </tr>
</table>

<table cellpadding="0" width="100%" cellspacing="0" border="0">
  <tr>
    <td class="infoBox_right"><img src="{$tpl_path}img/pixel_trans.gif" alt="" width="100%" height="1" /></td>
  </tr>
</table>
-->
{/if}
{/if}





