{config_load file="$language/lang_$language.conf" section="index"}
<div data-role="page" id="page_{$page}">
    
    {php}//include('inventur_1.php');{/php}	

    <div id="header">
    	<h1><a href="index.php"><img src="{$tpl_path}img/logo_mobile.jpg" alt="{$store_name}" /></a><a target="_blank" href="https://www.trustedshops.com/shop/certificate.php?shop_id=XECB830E0AE0C3827CC8EC3B083D488FC"><img src="{$tpl_path}img/trustedshops.gif" alt="Zertifiziert von Trusted Shops" /></a><div>Dieser Shop ist Trusted Shops zertifiziert!</div></h1> 
        {$box_ADMIN} 
	</div><!-- /header startseite -->

  	<div data-role="header">
	    <a href="#" class="ui-btn-left ui-btn-back" data-icon="arrow-l" onclick="history.back(); return false">{$smarty.const.text_back}</a>
    	<h1 class="ui-title">{$page_title}</h1>
	    <a href="#popupSearch" data-transition="pop" data-rel="popup" data-position-to="window" data-icon="search" class="ui-btn-right bt_top_search" data-iconpos="notext"></a>
	    <a href="index.php" data-ajax="false" data-icon="home" class="ui-btn-right bt_top_home" data-iconpos="notext"></a>
	</div><!-- /header --> 
	
    <div id="breadcrumb" class="ui-btn-up-c">{$navtrail}</div>
  
  <div data-role="content">
    {if (strstr ($page, 'index'))}
        <div class="content-secondary">

            {php}//include('inventur_2.php');{/php}

            <p id="intro">{$smarty.const.text_intro}</p>
            <input name="dummy" type="hidden" value="" />
            {$box_SEARCH}
            {$PRODUCT_BROWSER}
            
            <ul data-role="listview" data-inset="true">
              <li><a href="{php}echo xtc_href_link(FILENAME_PRODUCTS_NEW, '', 'SSL');{/php}">{$smarty.const.text_newproducts}</a></li>
              <li><a href="{php}echo xtc_href_link(FILENAME_SPECIALS, '', 'SSL');{/php}">{$smarty.const.text_specials}</a></li>
              <!--{if $box_BESTSELLERS}<li><a href="#bestseller" data-ajax="false">{$smarty.const.text_bestseller}</a></li>{/if}-->
            </ul>
        </div>
        <div class="content-primary">
            {$box_CATEGORIES}
            {*<ul data-role="listview" data-inset="true" data-divider-theme="a">
            	{$box_LAST_VIEWED}
            </ul>*}
            <ul data-role="listview" data-inset="true" data-divider-theme="a">
                <li data-role="list-divider">{$smarty.const.text_fast_contact}</li>
                <li><a href="tel:{get_adminTel}"><img src="{$tpl_path}img/icons-black/icon075.png" class="ui-li-icon">{get_adminTel}</a></li>
                <li><a href="mailto:{get_adminMail}"><img src="{$tpl_path}img/icons-black/icon018.png" class="ui-li-icon">{get_adminMail}</a></li>
            </ul>
        </div>
        <div style="clear:both"> </div>
        {if $box_CURRENCIES}
        <div class="content-settings">
            <div data-role="collapsible" data-collapsed="true" id="mst-settings">
                <h3>{$smarty.const.text_settings}</h3>
                <div>{$box_LANGUAGES}{$box_CURRENCIES}</div>
            </div>
        </div>
        {else}
        {$box_LANGUAGES}
        {/if}
    {else}
    	{$main_content}
        {*<ul data-role="listview" data-divider-theme="a" style="margin: 15px -15px">
            {$box_LAST_VIEWED}
        </ul>*}
    {/if}
    <div id="links">
    	<a href="{php}echo xtc_href_link(FILENAME_CONTENT, "coID=4"){/php}">{$smarty.const.text_notice}</a> - 
        <a href="{php}echo xtc_href_link(FILENAME_CONTENT, "coID=3"){/php}">{$smarty.const.text_conditions}</a> - 
        <a href="{php}echo xtc_href_link(FILENAME_CONTENT, "coID=1"){/php}">{$smarty.const.text_privacy}</a>
    </div>
    <div id="copyright">{$smarty.const.STORE_NAME} &copy; {$smarty.now|date_format:"%Y"}</div>
    <div id="vattext">{$smarty.const.text_vat}</div>
    <div id="view"><a rel="nofollow" href="{$smarty.server.PHP_SELF}?tpl=clear&{$page_param}">{$smarty.const.text_pageview}</a></div>

  </div><!-- /content -->
  
  <div data-role="footer" data-position="fixed" id="footer">
    <div data-role="navbar">
      <ul class="navbar">
        {*<li><a id="bt_search" href="{php}echo xtc_href_link(FILENAME_ADVANCED_SEARCH, '', 'SSL');{/php}" data-icon="custom" {if $page == 'advanced_search'} class="ui-btn-active"{/if}>{$smarty.const.text_search}</a></li>*}
        <li><a id="bt_catalog" data-transition="pop" href="#popupCatalog" data-rel="popup" data-icon="custom">{$smarty.const.text_catalog}</a></li>
        <li>{if $account}{php} if (isset($_SESSION['customer_id'])) { {/php}
        	<a id="bt_account" href="{$account}" data-icon="custom" {if $page == 'account'} class="ui-btn-active"{/if}>{$smarty.const.text_account}</a>
        	{php} } else { {/php}
        	<a id="bt_login" href="{php}echo xtc_href_link(FILENAME_LOGIN){/php}" data-icon="custom" {if $page == 'login'} class="ui-btn-active"{/if}>{$smarty.const.text_login}</a>
            {php} } {/php}{/if}
        </li>
        <li><a id="bt_cart" href="{$cart}" data-icon="custom" {if $page == 'shopping_cart'} class="ui-btn-active"{/if}>{$smarty.const.text_cart}{$box_CART}</a></li>
        <li><a id="bt_more" data-transition="pop" href="#popupMenu" data-rel="popup" data-icon="custom">{$smarty.const.text_more}</a></li>
      </ul>
    </div><!-- /navbar --> 
  </div><!-- /footer --> 
  
    <div data-role="popup" id="popupMenu" data-theme="a" data-position-to="window" style="min-width:250px;">
        <ul data-role="listview" data-inset="true" data-divider-theme="a" data-theme="b">
            {$box_CONTENT}
            <!--{$box_INFORMATION}-->
        </ul>
    </div><!-- /popup --> 
    
    <div data-role="popup" id="popupCatalog" data-theme="a" data-position-to="window" style="min-width:250px;">
        {$box_CATEGORIES_POPUP}
    </div><!-- /popup --> 
    
    <div data-role="popup" id="popupSearch" data-theme="a" class="ui-corner-all">
        <div style="padding:5px 20px 10px;">
            <h3>{$smarty.const.text_search_keyword}</h3>
            {$box_SEARCH}
            <p><a href="{php}echo xtc_href_link(FILENAME_ADVANCED_SEARCH){/php}">{$smarty.const.text_advanced_search}</a></p>
        </div>
    </div><!-- /popup --> 
</div><!-- /page -->

{* Bestseller *}
<div data-role="page" id="bestseller">
  <div data-role="header">
    <a href="#" class="ui-btn-left ui-btn-back" data-icon="arrow-l" onclick="history.back(); return false">{$smarty.const.text_back}</a>
    <h1 class="ui-title">{$page_title}</h1>
    <a href="#popupSearch" data-transition="pop" data-rel="popup" data-position-to="window" data-icon="search" class="ui-btn-right bt_top_search" data-iconpos="notext"></a>
    <a href="index.php" data-ajax="false" data-icon="home" class="ui-btn-right bt_top_home" data-iconpos="notext"></a>
  </div><!-- /header -->
  
  <div data-role="content"> 
  	{$box_BESTSELLERS}
    <div id="links">
    	<a href="{php}echo xtc_href_link(FILENAME_CONTENT, "coid=4"){/php}">{$smarty.const.text_notice}</a> - 
        <a href="{php}echo xtc_href_link(FILENAME_CONTENT, "coid=3"){/php}">{$smarty.const.text_conditions}</a> - 
        <a href="{php}echo xtc_href_link(FILENAME_CONTENT, "coid=2"){/php}">{$smarty.const.text_privacy}</a>
    </div>
    <div id="copyright">{$smarty.const.STORE_NAME} &copy; {$smarty.now|date_format:"%Y"}</div>
    <div id="vattext">{$smarty.const.text_vat}</div>
    <div id="view"><a rel="nofollow" href="{$smarty.server.PHP_SELF}?tpl=clear&{$page_param}">{$smarty.const.text_pageview}</a></div>
  </div><!-- /content --> 
 
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul class="navbar">
        {*<li><a id="bt_search" href="{php}echo xtc_href_link(FILENAME_ADVANCED_SEARCH, '', 'SSL');{/php}" data-icon="custom" {if $page == 'advanced_search'} class="ui-btn-active"{/if}>{$smarty.const.text_search}</a></li>*}
        <li><a id="bt_catalog" data-transition="pop" href="#popupCatalog" data-rel="popup" data-icon="custom">{$smarty.const.text_catalog}</a></li>
        <li>{if $account}{php} if (isset($_SESSION['customer_id'])) { {/php}
        	<a id="bt_account" href="{$account}" data-icon="custom" {if $page == 'account'} class="ui-btn-active"{/if}>{$smarty.const.text_account}</a>
        	{php} } else { {/php}
        	<a id="bt_login" href="{php}echo xtc_href_link(FILENAME_LOGIN){/php}" data-icon="custom" {if $page == 'login'} class="ui-btn-active"{/if}>{$smarty.const.text_login}</a>
            {php} } {/php}{/if}
        </li>
        <li><a id="bt_cart" href="{$cart}" data-icon="custom" {if $page == 'shopping_cart'} class="ui-btn-active"{/if}>{$smarty.const.text_cart}{$box_CART}</a></li>
        <li><a id="bt_more" data-transition="pop" href="#popupMenu" data-rel="popup" data-icon="custom">{$smarty.const.text_more}</a></li>
      </ul>
    </div><!-- /navbar --> 
  </div><!-- /footer --> 
  
    <div data-role="popup" id="popupMenu" data-theme="a" data-position-to="window" style="min-width:250px;">
        <ul data-role="listview" data-inset="true" data-divider-theme="a" data-theme="b">
            {$box_CONTENT}
            {$box_INFORMATION}
        </ul>
    </div><!-- /popup --> 
    
    <div data-role="popup" id="popupCatalog" data-theme="a" data-position-to="window" style="min-width:250px;">
        {$box_CATEGORIES_POPUP}
    </div><!-- /popup --> 
    
    <div data-role="popup" id="popupSearch" data-theme="a" class="ui-corner-all">
        <div style="padding:5px 20px 10px;">
            <h3>{$smarty.const.text_search_keyword}</h3>
            {$box_SEARCH}
            <p><a href="{php}echo xtc_href_link(FILENAME_ADVANCED_SEARCH){/php}">{$smarty.const.text_advanced_search}</a></p>
        </div>
    </div><!-- /popup --> 
</div><!-- /page -->

{php}
  include("etracker.inc.php");
  echo etracker::getCode("7sgmS9");
{/php}