<body bgcolor="#dddddd">
<div align="center">
<img src="newsletter-grafik.jpg" width="817" height="1615" border="0" usemap="#Map">
<map name="Map">
  <area shape="rect" coords="0,1,816,152" href="http://www.esoterikshopping.de/" target="_blank">
  <area shape="rect" coords="1,149,816,183" href="http://www.esoterikshopping.de/Edelsteinschmuck/Astrologische-Edelsteine" target="_blank">
  <area shape="rect" coords="51,212,774,413" href="https://www.esoterikshopping.de/shopping_cart.php" target="_blank" alt="Gratisprodukte">
  <area shape="rect" coords="43,583,631,705" href="https://www.esoterikshopping.de/shopping_cart.php" target="_blank" alt="Unser Hilight - Nur für kurze Zeit">
  <area shape="rect" coords="53,865,216,1084" href="http://www.esoterikshopping.de/products/Esoterische-Buecher-Lehrbuecher/Lebenshilfe-Erfolgreich-leben/Die-Blume-des-Lebens-in-dir.html" target="_blank" alt="Die Blume des Lebens in dir">
  <area shape="rect" coords="229,864,394,1080" href="http://www.esoterikshopping.de/Chakra-Produkte/Chakra-Raeuchermischungen" target="_blank" alt="Chakra Räuchermischungen">
  <area shape="rect" coords="411,864,579,1086" href="http://www.esoterikshopping.de/Meditation-Musik/Klangschalen-Choe-pa" target="_blank" alt="Klangschalen Chö-pa">
  <area shape="rect" coords="590,865,754,1085" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Inspirationskarten-Weisheitskarten/Wildkraeuter-Heilkraft-am-Wegesrand.html" target="_blank" alt="Wildkräuter Set: Heilkraft am Wegesrand">
  <area shape="rect" coords="54,1106,214,1315" href="http://www.esoterikshopping.de/products/Esoterische-Buecher-Lehrbuecher/Lebenshilfe-Erfolgreich-leben/Schuessler-Salze.html" target="_blank" alt="Schüßler Salze Set Das Starter Set!">
  <area shape="rect" coords="229,1105,393,1314" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Inspirationskarten-Weisheitskarten/Ich-koennte-alles-tun-wenn-ich-nur-wuesste-was-ich-will-Set.html" target="_blank" alt="Ich könnte alles tun, wenn ich wüsste, was ich will">
  <area shape="rect" coords="412,1104,574,1315" href="http://www.esoterikshopping.de/Edelsteine-Fossilien-Spezialsteine/Moqui-Marbles" target="_blank" alt="Moqui-Marbles... die geborenen Steine">
  <area shape="rect" coords="590,1104,751,1314" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Lenormandkarten-Lenormand-Wahrsagekarten/Lenormand-ganz-einfach-Set.html" target="_blank" alt="Lenormandkarten Set Lenormand ganz einfach">
  <area shape="rect" coords="155,1341,657,1380" href="http://www.esoterikshopping.de/specials.php" target="_blank" alt="Sonderangebote">
  <area shape="rect" coords="561,1588,646,1611" href="http://www.esoterikshopping.de/newsletter.php" target="_blank">
</map>
</div>
</body>