217
a:5:{s:8:"template";a:1:{s:41:"Eso-Template/boxes/box_manufacturers.html";b:1;}s:6:"config";a:1:{s:23:"german/lang_german.conf";b:1;}s:9:"timestamp";i:1231792394;s:7:"expires";i:1231792394;s:13:"cache_serials";a:0:{}}

<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td class="infoBoxHeading_right"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="infoBoxHeading_right">Hersteller </td>
          <td>&nbsp;</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td class="infoBox_right" align="left"><table width="95%"  border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td class="boxText"></td>
        </tr>
    </table></td>
  </tr>
</table>