217
a:5:{s:8:"template";a:1:{s:41:"Eso-Template/boxes/box_add_a_quickie.html";b:1;}s:6:"config";a:1:{s:23:"german/lang_german.conf";b:1;}s:9:"timestamp";i:1231792394;s:7:"expires";i:1231792394;s:13:"cache_serials";a:0:{}} 
 <form id="quick_add" method="post" action="http://www.esoterikshopping.de/shopping_cart.php/action/add_a_quickie">
<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td class="infoBoxHeading"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="infoBoxHeading">Schnellkauf </td>
          <td></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td class="infoBox" align="left"><table width="95%"  border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td class="boxText">        
    Bitte geben Sie die Artikelnummer aus unserem Katalog ein.
    <table width="100%"  border="0" cellpadding="2" cellspacing="0">
      <tr valign="middle">
        <td><input type="text" name="quickie" size="20" /></td>
        <td align="left"><input type="image" src="templates/Eso-Template/buttons/german/button_add_quick.gif" alt="In den Korb legen" title=" In den Korb legen " /></td>
      </tr>
    </table></td>
        </tr>
    </table></td>
  </tr>
</table>
</form>