{config_load file="$language/lang_$language.conf" section="also_purchased"}


<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="infoBoxHeading">Andere Kunden kauften noch folgende Produkte:</td>
  </tr>
</table>

{if $screenwidth=='1150'}
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-right:1px solid #896B2B; border-left:1px solid #896B2B; border-bottom:1px solid #896B2B; padding:10px;">
<tr> 
<td>

	{foreach name=aussen item=module_data from=$module_content} 
	{php} 
	$col++; 
	if ($col==1) 
	{ 
	echo '<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>';
	}
	{/php} 

    <td width="33%" align="center" valign="bottom" height="220" class="main" {php}if ($col==1 || $col==2) { echo 'style="border-right:1px solid #ccc;"'; }{/php}>
    	{if $module_data.PRODUCTS_IMAGE}
    		<a title="{$module_data.PRODUCTS_NAME}" href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" border="0" class="max_img_height" alt="{$module_data.PRODUCTS_NAME}"/></a><br />
         {/if}
         <a title="{$module_data.PRODUCTS_NAME}" href="{$module_data.PRODUCTS_LINK}"><strong>{$module_data.PRODUCTS_NAME|truncate:33:"...":true}</strong></a><br />
         <strong>Preis: {$module_data.PRODUCTS_PRICE}</strong><br />
         {if $module_data.PRODUCTS_VPE}{$module_data.PRODUCTS_VPE}<br />{/if}{$module_data.PRODUCTS_TAX_INFO}<br />{$module_data.PRODUCTS_SHIPPING_LINK}
	</td>
	{php} 
	if ($col>=3) 
	{ 
		$col=0; 
		echo '</tr></table><div style="height:30px;"></div>';
	} 
	{/php} 
    {/foreach} 
    
    {php} 
	if ($col==1) 
	{ 
	echo '<td width="33%">&nbsp;</td><td width="33%">&nbsp;</td></tr></table>';
	} 
	if ($col==2) 
	{ 
		echo '<td width="33%">&nbsp;</td></tr></table>';
	} 
	{/php}

</td>
</tr>
</table>

{else}
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-right:1px solid #896B2B; border-left:1px solid #896B2B; border-bottom:1px solid #896B2B; padding:10px;">
<tr> 
<td>
<div align="center"> 
    {foreach name=aussen item=module_data from=$module_content} 
    <table width="100%" border="0">
    <tr> 
    <td width="110" rowspan="2" valign="middle">
    {if $module_data.PRODUCTS_IMAGE}
    	<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" border="0" alt="{$module_data.PRODUCTS_NAME}" /></a>{/if}
    </td>
    </tr>
    
    <tr> 
    <td valign="middle" class="main">
   		<a href="{$module_data.PRODUCTS_LINK}"><strong>{$module_data.PRODUCTS_NAME}</strong></a><br />
    	<a href="{$module_data.PRODUCTS_LINK}">Detailansicht...</a><br />
        <strong>Preis: {$module_data.PRODUCTS_PRICE}</strong><br />
        <span class="smallText">{if $module_data.PRODUCTS_VPE}{$module_data.PRODUCTS_VPE}<br />{/if}{$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}</span>
	</td>
    </tr>
    </table>
    <div style="height:6px;"></div>
    <div style="border-top:1px dotted #ccc;"></div>
    <div style="height:6px;"></div>
    {/foreach} 
</div>
</td>
</tr>
</table>
{/if}
