{config_load file="$language/lang_$language.conf" section="checkout_shipping"}

<div id="checkout-process">
{$FORM_ACTION}

    <div id="process-arrows">
        <div class="arrow-body first active">
            <p>Versand</p>
            <div class="arrow-end first active"></div>
        </div>
        

        <div class="arrow-body second ">
            <p>Zahlung</p>
            <div class="arrow-end second "></div>
        </div>
            
        
        <div class="arrow-body third ">
            <p>&Uuml;bersicht</p>
            <div class="arrow-end third"></div>
        </div>
        

        <div class="arrow-body fourth">
            <p>Fertig!</p>
            <div class="arrow-end fourth"></div>
        </div>
    </div>
  
    <header>
        <div class="header">
            <h1>{#heading_shipping#}</h1>
        </div>
    </header>

    <section class="checkout-process-stage address">
        <h2>{#title_address#}</h2>
        <p>{#text_addressbook#}</p>

        <div class="block left">
            <p>Aktuelle Versandadresse:</p><br />
            {$ADDRESS_LABEL}
        </div>

        <div class="block right">
            <p>M&ouml;chten Sie Ihre Versandaddresse &auml;ndern?</p><br />
            {$BUTTON_ADDRESS}
        </div>        

        <div class="clearer"></div>
    </section>

    <section class="checkout-process-stage shipping">
        <h2>{#title_shipping#}</h2>
        <p>{#text_shipping#}</p>
        {$SHIPPING_BLOCK}
    </section>  

    <section class="continue full-width">
        <h2>{#title_continue#}</h2>
        <div>
            <p><button class="btn">Weiter zu den Zahlungsoptionen</button></p>
        </div>
        <div class="clearer"></div>
    </section>    

{$FORM_END}
</div>
