{config_load file="$language/lang_$language.conf" section="checkout_success"}

<div id="checkout-process">

    <div id="process-arrows">
        <div class="arrow-body first">
            <p>Versand</p>
            <div class="arrow-end first"></div>
        </div>
        

        <div class="arrow-body second ">
            <p>Zahlung</p>
            <div class="arrow-end second "></div>
        </div>
            
        
        <div class="arrow-body third ">
            <p>&Uuml;bersicht</p>
            <div class="arrow-end third"></div>
        </div>
        

        <div class="arrow-body fourth active">
            <p>Fertig!</p>
            <div class="arrow-end fourth active"></div>
        </div>
    </div>    

    <header>
        <div class="header">
            <h1 style="margin:20px 0 5px 0;">Vielen Dank f&uuml;r Ihre Bestellung!</h1>
            <p>Sie erhalten von uns in K&uuml;rze zus&auml;tzlich noch eine Auftragsbest&auml;tigung per E-Mail mit allen Bestelldaten.</p>
        </div>
    </header>

    <section class="checkout-process-stage" style="margin-top:25px;">
		<!--
        <div class="block among no-hover">
			<p><strong class="confirmation" style="margin-bottom:8px;">{#title_printorder#}</strong>
			<p>{$BUTTON_PRINT}</p>
		</div>
        -->

		<div class="block among no-hover">
			<p><strong class="confirmation">Trusted Shops</strong>
			{$MODULE_trusted_shops}
		</div>
    </section>    

    {$FORM_ACTION}
    	<p class="buy-now"><button class="btn">Weiter zur Startseite</button></p><br />
    {$FORM_END}    

</div>


<!-- Google Conversion-tracking start !-->
{if $google_tracking eq 'true'}
{$tracking_code}
{/if}
<!-- Google Conversion-tracking end !-->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1036038295;
var google_conversion_language = "de";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "Cby7CP3WigEQl-GC7gM";
//-->
</script>
<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1036038295/?label=Cby7CP3WigEQl-GC7gM&amp;guid=ON&amp;script=0"/>
</noscript>
{if $downloads_content neq ''}
  {$downloads_content}
{/if}
