<table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox">
	<tr class="infoBoxContents">
		<td>
			{foreach name=aussen item=module_data from=$module_content}
				<div class="block among">
				{$module_data.selection}
				{$module_data.module}
				{if $module_data.module_cost != ''}(<em>{$module_data.module_cost}</em> ) <div class="question-mark invoice-aufschlag"></div>{/if}

				{if $module_data.description}
					{$module_data.description}
				{/if}

				{if stristr($module_data.module, "Kreditkarte")}<table><tr><td><em>Ihre Kreditkarten-Informationen m&uuml;ssen von Ihnen auf der n&auml;chsten Seite eingegeben werden!</em></td></tr></table>{/if}

				{if $module_data.error}
					{$module_data.error}
				{else}
					{foreach name=aussen item=method_data from=$module_data.fields}
						{$method_data.title}
						{$method_data.field}
					{/foreach}
				{/if}
				</div>
			{/foreach}
		</td>
	</tr>
</table>