{if $FREE_SHIPPING}
<div class="block among">
	<strong>{$FREE_SHIPPING_TITLE}</strong>
	{$FREE_SHIPPING_ICON}
	{$FREE_SHIPPING_DESCRIPTION}
</div>
{else}
	{foreach name=aussen item=module_data from=$module_content}
		<div class="block among">
			<strong>{$module_data.module}</strong>

			{if $module_data.error != ''}
				{$module_data.error}
			{else}

			 	{foreach name=aussen item=method_data from=$module_data.methods}
			 		{$method_data.radio_field}
			 		{$method_data.title}
			 		{if $method_data.price != ' 0,00 EUR'}({$method_data.price} ){/if}
			 	{/foreach}
		 	{/if}
		</div>
	{/foreach}
{/if}