{config_load file="$language/lang_$language.conf" section="create_account"}
{$FORM_ACTION}

<div id="create-account">

    <header>
        <h1>Gastzugang</h1>
        <p>Melden Sie sich als Gast ohne der Angabe eines Passworts an.</p>
    </header>                

    {if $error!=''}
        <div class="error-msg">{$error}</div>
    {/if}

    <div class="create-account-stage">

        <label>{#text_gender#}</label>
        {$GENDER_SELECT}<span class="req">*</span>
        <br />

        <label>{#text_firstname#}</label>
        {$FIRSTNAME_INPUT}<span class="req">*</span>
        <br />  

        <label>{#text_lastname#}</label>
        {$LASTNAME_INPUT}<span class="req">*</span>
        <br />   
        
        <label>{#text_street#}</label>
        {$STREET_ADDRESS_INPUT}<span class="req">*</span>
        <br />      

        <label>{#text_code#}</label>
        {$PLZ_INPUT}<span class="req">*</span>
        <br />

        <label>{#text_city#}</label>
        {$CITY_INPUT}<span class="req">*</span>
        <br />

        <label>{#text_country#}</label>
        {$COUNTRY_INPUT}<span class="req">*</span>
        <br />

        <label>{#text_tel#}</label>
        {$TELEFON_INPUT}<span class="req">*</span>
        <br />      

        <label>{#text_birthdate#}</label>
        {$GEBURTSTAG_INPUT}<span class="additional-text">(Format: xx.xx.xxxx, z.B. 13.07.1975)</span>   

        <label>{#text_email#}</label>
        {$EMAIL_INPUT}<span class="req">*</span><span class="additional-text">(zur Auftragsbest&auml;stigung)</span>
        <br />                

        <h2>Firmendaten</h2>

        <label>{#text_company#}</label>
        {$COMPANY_INPUT}
        <br />  

        {if $vat=='1'}
        <label>{#text_ustid#}</label>
        {$VAT_INPUT}
        <br />  
        {/if}

        <br />
        <button class="btn login" title="Weiter" alt="Weiter">Gastzugang erstellen</button>
        <div class="clearer"></div>
        <!--<div class="btn">{$BUTTON_SUBMIT}</div>-->

    </div>

</div>

{$FORM_END}