{config_load file="$language/lang_$language.conf" section="cross_selling"} 

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="infoBoxHeading">Wir empfehlen Ihnen noch folgende Produkte:</td>
  </tr>
</table>


{if $screenwidth=='1150'}
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-right:1px solid #896B2B; border-left:1px solid #896B2B; border-bottom:1px solid #896B2B; padding:10px;">
<tr> 
<td>
	{foreach name=aussen item=module_data from=$module_content}
	{foreach item=products_data from=$module_data.PRODUCTS}
	{php} 
	$col++; 
	if ($col==1) 
	{ 
	echo '<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>';
	}
	{/php}
    
    <td width="33%" align="center" valign="bottom" height="220" class="main" {php}if ($col==1 || $col==2) { echo 'style="border-right:1px solid #ccc;"'; }{/php}>
    	{if $products_data.PRODUCTS_IMAGE}
    		<a title="{$products_data.PRODUCTS_NAME}" href="{$products_data.PRODUCTS_LINK}"><img src="{$products_data.PRODUCTS_IMAGE}" border="0" class="max_img_height" alt="{$products_data.PRODUCTS_NAME}"/></a><br />
         {/if}
         <a title="{$products_data.PRODUCTS_NAME}" href="{$products_data.PRODUCTS_LINK}"><strong>{$products_data.PRODUCTS_NAME|truncate:33:"...":true}</strong></a><br />
         <strong>Preis: {$products_data.PRODUCTS_PRICE}</strong><br />
         {if $products_data.PRODUCTS_VPE}{$products_data.PRODUCTS_VPE}<br />{/if}{$products_data.PRODUCTS_TAX_INFO}<br />{$products_data.PRODUCTS_SHIPPING_LINK}
	</td>
	{php} 
	if ($col>=3) 
	{ 
		$col=0; 
		echo '</tr></table><div style="height:30px;"></div>';
	} 
	{/php} 
    {/foreach} 
    {/foreach} 
    
    {php} 
	if ($col==1) 
	{ 
	echo '<td width="33%">&nbsp;</td><td width="33%">&nbsp;</td></tr></table>';
	} 
	if ($col==2) 
	{ 
		echo '<td width="33%">&nbsp;</td></tr></table>';
	} 
	{/php}

</td>
</tr>
</table>


{else}
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-right:1px solid #896B2B; border-left:1px solid #896B2B; border-bottom:1px solid #896B2B; padding:10px;">
<tr> 
<td>

    {foreach name=aussen item=module_data from=$module_content}
    {foreach item=products_data from=$module_data.PRODUCTS}
    <table width="100%" border="0">
    <tr> 
    <td width="110" rowspan="2" valign="middle">
    {if $products_data.PRODUCTS_IMAGE}
    	<a href="{$products_data.PRODUCTS_LINK}"><img src="{$products_data.PRODUCTS_IMAGE}" border="0" alt="{$products_data.PRODUCTS_NAME}" /></a>{/if}
    </td>
    </tr>
    
    <tr> 
    <td valign="middle" class="main">
   		<a href="{$products_data.PRODUCTS_LINK}"><strong>{$products_data.PRODUCTS_NAME}</strong></a><br />
    	<a href="{$products_data.PRODUCTS_LINK}">Detailansicht...</a><br />
        <strong>Preis: {$products_data.PRODUCTS_PRICE}</strong><br />
        <span class="smallText">{if $products_data.PRODUCTS_VPE}{$products_data.PRODUCTS_VPE}<br />{/if}{$products_data.PRODUCTS_TAX_INFO}{$products_data.PRODUCTS_SHIPPING_LINK}</span>
	</td>
    </tr>
    </table>
    <div style="height:6px;"></div>
    <div style="border-top:1px dotted #ccc;"></div>
    <div style="height:6px;"></div>
    {/foreach} 
    {/foreach} 

</td>
</tr>
</table>
{/if}