{config_load file="$language/lang_$language.conf" section="error_handler"}


<table width="100%"  border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="main" align="center" style="border: 1px solid; border-color: #ff0000; background-color:#FFCCCC;">
	<strong>{$ERROR}</strong>
</td>
</tr>
</table>
<br />
{if $LIST_CATEGORIES != ''}
    <table width="100%"  border="0" cellpadding="0" cellspacing="0">
    <tr>
    <td class="main">
	    {$LIST_CATEGORIES}
    </td>
    </tr>
    </table>
{else}

{#text_search_again#}<br />{$FORM_ACTION}<table style="border:1px solid; border-color: #666666; background-color: #E6E6E6;" width="100%"  border="0" cellpadding="5" cellspacing="0">	<tr>		    <td width="70%" align="right" class="main"><strong>{#text_search#}</strong>       {$INPUT_SEARCH}</td>		<td>{$BUTTON_SUBMIT}</td>	</tr></table>{$FORM_END}<table width="100%" border="0">	<tr>		<td align="right">{$BUTTON}</td>	</tr></table> 
{/if}