{config_load file="$language/lang_$language.conf" section="graduated_price"} 
<table width="100%" border="0" cellpadding="3" cellspacing="0">
  {foreach name=aussen item=module_data from=$module_content} 
  <tr> 
    <td width="50%" valign="top" nowrap="nowrap" align="center" style="border-bottom:1px solid #999;border-right:1px solid #999;border-left:1px solid #999;font-size:13px;">{$module_data.QUANTITY} {#unit#}</td>
    <td nowrap="nowrap" align="center" style="border-bottom:1px solid #999;border-right:1px solid #999;font-size:13px;">{#pieces#} {$module_data.PRICE}
    {if $module_data.GRUNDPREIS_EINHEIT}<br /><span style="color:#666;font-size:10px;">(Grundpreis: {$module_data.GRUNDPREIS_EINHEIT} = {$module_data.GRUNDPREIS})</span>{/if}
    {if $module_data.VPE}<br />{$module_data.VPE}{/if}</td>
  </tr>
  {/foreach}
</table>

