{config_load file="$language/lang_$language.conf" section="login"}

<div id="checkout-process">

    <header>
        <div class="header">
            <h1>Hier k&ouml;nnen Sie sich einloggen oder ein Konto anlegen!</h1>
        </div>
    </header>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;font-size:12px;font-weight:bold;color:#333;">
    <tr>
    <td width="105" class="main"><a href="content/SSL-Verschluesselung.html"><img src="../../images/ssl_zertifikat.gif" alt="SSL verschl&uuml;sselte &Uuml;bertragung" title="SSL verschl&uuml;sselte &Uuml;bertragung" width="90" height="50" border="0" /></a>
    </td>
    <td valign="middle"><strong style="font-size:14px;">Wichtige Information!</strong><div style="height:4px;"></div><strong>Ihre Kundendaten werden per SSL verschl&uuml;sselt &uuml;bertragen.</strong></td>
    </tr>
    </table>
    <br />    

    
    {if $account_option=='account' or $account_option=='both'}
    
    <div id="create-account">
        {$FORM_ACTION}
        <div class="create-account-stage login">
           
            {if $info_message!=''}
            <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="headerMessage">
            <tr>
            <td align="center">{$info_message}</td>
            </tr>
            </table>
            <br />
            {/if}    
                    
            <h2>{#title_returning#}</h2>
            <p>
                Sie haben schon einmal bei uns bestellt? Herzlichen Dank, dass Sie uns ein weiteres Mal Ihr Vertrauen schenken. 
                Auf der n&auml;chsten Seite haben Sie die M&ouml;glichkeit Ihre Lieferanschrift zu &auml;ndern, oder eine neue Lieferanschrift hinzuzuf&uuml;gen, 
                sowie Ihre Zahlungsart auszuw&auml;hlen.
            </p>
            <br />

            <div class="add-textfield-class">
                <label>{#text_email#}</label>
                {$INPUT_MAIL}
                <br />

                <label>{#text_password#}</label>
                {$INPUT_PASSWORD}

                <p><button class="btn login" title="Anmelden" alt="Anmelden">Anmelden!</button></p>
                <a class="forgot-password" href="{$LINK_LOST_PASSWORD}">({#text_lost_password#})</a>
                <div class="clearer"></div>   
            </div>
        </div>
        {$FORM_END}

        <br />
        <!-- Kundenkonto mit Passwort -->
        <form id="create_account" method="post" action="create_account.php">
            <div class="create-account-stage login" style="margin-top:0;">
            
                <h2>{*#title_new#*}Kundenkonto: Mit eigenem Konto und Passwort</h2>            
                <p style="margin-bottom:10px;">{#text_new#}</p>
                <p><button class="btn login" title="Kundenkonto: Mit eigenem Konto und Passwort" alt="Kundenkonto: Mit eigenem Konto und Passwort"><a href="create_account.php">Als neuer Kunde anmelden!</a></button></p>
                <div class="clearer"></div>

            </div>
        </form>

        <br />
        
        <!-- Gastkonto ohne Passwort -->
        <form id="create_account_guest" method="post" action="create_guest_account.php">
            <div class="create-account-stage login" style="margin-top:0;">
            
                <h2>{*#title_guest#*}Gastkonto: Ohne Passwort nur f&uuml;r diese Bestellung g&uuml;ltig</h2>            
                <p style="margin-bottom:10px;">{#text_guest#}</p>
                <p><button class="btn login" title="Gastkonto: Ohne Passwort nur f&uuml;r diese Bestellung g&uuml;ltig" alt="Gastkonto: Ohne Passwort nur f&uuml;r diese Bestellung g&uuml;ltig"><a href="create_guest_account.php">Als Gast anmelden!</a></button></p>
                <div class="clearer"></div>

            </div>
        </form>        
    
    </div>
    {/if}
</div>

<br />
