{config_load file="$language/lang_$language.conf" section="new_products"} 
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="infoBoxHeading">{#heading_text#} </td>
  </tr>
</table>
<br />
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  {foreach name=aussen item=module_data from=$module_content}
  {php} $col++; 
  {/php}
    <td class="main">
        <table  width="100%" border="0" cellpadding="0" cellspacing="4">
          <tr> 
            <td rowspan="2" valign="top" >{if $module_data.PRODUCTS_IMAGE}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" /></a>{/if}</td>
            <td valign="top" class="main"><strong><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></strong></td>
          </tr>
          <tr> 
            <td  class="main">{$module_data.PRODUCTS_DESCRIPTION}<br /> 
              <strong>{$module_data.PRODUCTS_PRICE}</strong><br />
			  {if $module_data.PRODUCTS_VPE}{$module_data.PRODUCTS_VPE}<br />{/if}
	      {$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}<br />
              {$module_data.PRODUCTS_BUTTON_BUY_NOW}<br />
            </td>
          </tr>
        </table>
</td>
  {php} 

  if ($col>=2) {
  $col=0;
  echo '</tr><tr>';
  }
  {/php}
  {/foreach}  
  </tr>
</table>
