{config_load file="$language/lang_$language.conf" section="news"}
{foreach name=news item=news_data from=$news_modul}
	{if $news_data.NEWS_STATUS != '1'}
		<article role="article" class="shop-news">
			<header role="banner">
				<div>
					<h1><a href="{$news_data.NEWS_LINK}"><strong>{$news_data.NEWS_TITLE}</strong></a></h1>
					<p>{if $news_data.NEWS_SHOW_DATE != '1'}{$news_data.NEWS_DATE}{/if}</p>
				</div>
			</header>
			<div class="clear-news"></div>
			
			<main role="main">
				<div>
					<figure>{if $news_data.NEWS_IMAGE}<a href="{$news_data.NEWS_LINK}"><img src="{$news_data.NEWS_IMAGE}" alt="{$news_data.NEWS_TITLE}" /></a>{/if}</figure>
					<figcaption></figcaption>
					<p class="content">{$news_data.NEWS_TEXT}</p>
					<p class="read-more"><a href="{$news_data.NEWS_LINK}">weiterlesen...</a></p>
				</div>
			</main>
			<div class="clear-news"></div>

			<footer role="contentinfo"></footer>
	  	</article>
  {/if}
{/foreach}
