{config_load file="$language/lang_$language.conf" section="products_gift"}
{php}
	$gruop = 0;
{/php}

<div id="free-samples">

	<div class="caption-box">
       	<p class="img"><img src="{$IMG_FREE_SAMPLES}" /></p>
        <div>
            <h1>2 Gratisproben / Gratisgeschenke</h1>
            <p>Probieren Sie einfach mal was neues. Wie w&auml;re es mit einem neuen R&auml;ucherst&auml;bchen oder einem neuen Weihrauch? W&auml;hlen Sie einfach aus den Produkten maximal <u>zwei Geschenke</u> aus. Wir w&uuml;nschen Ihnen viel Spa&szlig; beim Ausprobieren.</p>
        </div>
    </div>

    {foreach name=prod_gift item=groups from=$groups_content} 
    {php}
        $this->assign('GROUP_ID', $gruop);
        $gruop += 1;
    {/php}
    
    {php}
    $col = 0;
    {/php}
        <div class="samples-stage">
            <p>
                Ab einem Bestellwert von <strong>{$groups.GROUPS_PRICE}</strong> Euro k&ouml;nnen Sie die folgenden Warenproben gratis in den Warenkorb legen!
                {if $groups.MESSAGE != '0,00'}<br />Es fehlen noch <strong>{$groups.MESSAGE}</strong> Euro um die Warenprobe in den Warenkorb legen zu k&ouml;nnen{/if}
            </p>
		
            <ul>
            {foreach name=prod_gift item=data from=$gift_content[$GROUP_ID]} 
                <li class="{$data.CLASS_OF_SAMPLE}">
                    <!--<p class="caption">{#products_gift_sum_text#}{$data.PRODUCTS_GIFT_SUM}{#products_gift_sum_text2#}</p>-->
                    <p class="img"><img src="{$data.PRODUCTS_IMAGE}" alt="" /></p>
                    <!--<p class="products_name">{$data.PRODUCTS_NAME|truncate:26:"...":true}</p>-->
                    <p class="btn">{$data.BUTTON_BUY_NOW}</p>
                </li>
                 <div class="{$data.CLASS_OF_SAMPLE}">
	               	<h1>{$data.PRODUCTS_NAME}</h1>
                    <ul>
                    	<li><img src="{$data.PRODUCTS_IMAGE_POPUP}" /></li>
                        <li>{$data.PRODUCTS_DESC}</li>
                    </ul>
                 </div>
            
            {php}
            $col += 1;
            if($col == 5)
            {
                echo '</ul><ul>';
                $col = 0;
            }
            {/php}
            
            {/foreach}
            </ul>
        </div>
    {/foreach}

</div>

