<div id="productinformation_news">
	<header>Produktinformationen & News</header>
    <ul>
{foreach name=aussen item=module_data from=$module_content}
        <li class="news-body">
            <h1><a href="{$module_data.PIN_LINK}">{$module_data.PIN_HEADLINE_1}</a></h1><br />
            <h2><a href="{$module_data.PIN_LINK}">{$module_data.PIN_HEADLINE_2}</a></h2><br />
            <div class="images">
                <a href="{$module_data.PIN_LINK}">{$module_data.PIN_IMG}</a>
             </div>
            <div class="content">
                <a href="{$module_data.PIN_LINK}">{$module_data.PIN_CONTENT}...</a><br />
                <a href="{$module_data.PIN_LINK}">{$module_data.PIN_LINK_MORE}</a>
            </div>
            <div class="clear"></div>
        </li>
{/foreach}
	</ul>
</div>


