{config_load file="$language/lang_$language.conf" section="specials"} 
{config_load file="$language/lang_$language.conf" section="index"} 

<h1 class="new">Unsere Sonderangebote</h1>
<br />

<div class="categ-multisort-dropdown">Artikel sortieren:&nbsp;{$MULTISORT_DROPDOWN}</div>


       
          {foreach name=aussen item=module_data from=$module_content} 
           <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #896b2b;">
		   <tr> 
            
    <td width="120" rowspan="2">{if $module_data.PRODUCTS_IMAGE!=''}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME} preiswert im Esoterik Online Shop zu kaufen - Esotherik Tarot Versand" title="{$module_data.PRODUCTS_NAME} preiswert im Esoterik Online Shop zu kaufen - Esotherik Tarot Versand" /></a>{/if} 
      {if $module_data.PRODUCTS_FSK18=='true'}<br />
      <img src="{$tpl_path}img/fsk18.gif" alt="" />{/if}</td>
            <td colspan="2" align="left"><a class="products_name" href="{$module_data.PRODUCTS_LINK}"><strong>{$module_data.PRODUCTS_NAME}</strong></a></td>
          </tr>
          <tr> 
            
          <td align="left" class="main">
          {if $module_data.SOLD_OUT == '1'}
          <font color="#ff0000" size="3"><b>Momentan leider ausverkauft!!</b></font><br />
          {/if}
          
          {if $module_data.PRODUCTS_SHORT_DESCRIPTION != ''}
          {$module_data.PRODUCTS_SHORT_DESCRIPTION}
          <br />
          {/if}
          
 <br />
          
            <span class="products_price">{$module_data.PRODUCTS_PRICE}</span><br />
            {if $module_data.PRODUCTS_GRUNDPREIS_EXISTS > 0}<span style="color:#666;font-size:11px;">(Grundpreis: {$module_data.PRODUCTS_GRUNDPREIS_EINHEIT} = {$module_data.PRODUCTS_GRUNDPREIS})</span><br />{/if}


            {$module_data.PRODUCTS_TAX_INFO}
            {$module_data.PRODUCTS_SHIPPING_LINK} 
            
            <div style="border-bottom:2px dotted #896b2b;width:240px;margin:5px 0 0 0;"></div>
            
            {if $module_data.PRODUCTS_SHIPPING_IMAGE}
            <table width="220" border="0" cellspacing="0" cellpadding="0" style="padding:5px 0 5px 0;">
            <tr>
            <td width="76" class="products_lieferstatus">Lieferstatus:</td>
            <td><img src="{$module_data.PRODUCTS_SHIPPING_IMAGE}" alt="{$module_data.PRODUCTS_SHIPPING_NAME}" title="{$module_data.PRODUCTS_SHIPPING_NAME}" /></td>
            </tr>
            </table> 
            {/if}
            
            {if $module_data.PRODUCTS_VPE}<br />
            {$module_data.PRODUCTS_VPE}{/if}
            </td>
          <td width="150" align="right" class="main" style="padding:0 8px 0 0;">


{if $module_data.REMIND_STATUS != '1'}
<div style="height:4px;"></div>
{$module_data.PRODUCTS_BUTTON_DETAILS}
<div style="height:4px;"></div>
{$module_data.PRODUCTS_BUTTON_BUY_NOW}
<div style="height:4px;"></div>
{/if}

{if $module_data.REMIND_STATUS == '1'}
{$module_data.BUTTON_SUBMIT_REMIND}
{/if}
           
          </td>
          </tr>
          <tr>
            </tr>
	    </table>
            



          
		  <div style="height:18px;"></div>
          {/foreach} 
      

<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$NAVBAR}</td>
  </tr>
</table>