<table  width="100%" border="0" cellpadding="4" cellspacing="0" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; ">
<tr>
    <td align="left" valign="top"><img src="{$logo_path}logo_email.jpg"></td>
  </tr>
<tr>
  <td height="2" style="border-bottom:1px solid;">&nbsp;</td>
  </tr>
<tr> 
<td colspan="2" style="border-bottom:1px solid;">

<strong>Bestelldatum:</strong> {$ORDER_DATE}<br>
{if $KUNDEN_NR}<strong>Kundennummer:</strong> {$KUNDEN_NR}<br>{/if}
<strong>Bestell-Nr:</strong> {$ORDER_NR}<br>
</td>
</tr>
<tr> 
<td>
  <p><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Hallo {$NAME},</strong><br />
      <br />
      vielen Dank f&uuml;r Ihre Bestellung.<br />
      <br />
      Ihre Bestellung mit der Nummer {$ORDER_NR} vom
      {$ORDER_DATE} wird heute unser Versandlager verlassen.<br />
      Sie werden in den n&auml;chsten 24 Stunden eine weitere E-Mail mit der Sendungsnummer von DHL erhalten.<br />
      Mit dieser <em>Sendungsverfolgungsnummer</em>, die Sie von DHL erhalten, k&ouml;nnen Sie jederzeit Ihre Sendung online verfolgen.<br />
<br />
Bei Fragen zu Ihrer Bestellung stehen wir Ihnen jederzeit gerne zur Verf&uuml;gung.<br />
    <br />
    </font></p></td>
</tr>
</table><br>


	<table style="border-top:1px solid; border-bottom:1px solid; font-family:Arial, Helvetica, sans-serif; font-size:9px; " width="100%" border="0" cellpadding="3" cellspacing="0">
	<tr>
	<td valign="top">
		<strong>Ihr Esoterikshopping Team</strong><br>
		Spart-Bares GbR<br />
		Gesellschafter: 
		H.Klinzmann und U. Dittrich <br>
		Humboldtstr. 134<br>
		90459 N&uuml;rnberg<br>
		Umsatzsteuer-Identifikationsnummer: DE 234465241<br><br>
		<a href="http://www.esoterikshopping.de" target="_blank">www.esoterikshopping.de</a><br />
		E-mail: bestellung@esoterikshopping.de<br />
		Tel.: 08404 - 939 264<br />
		Fax: 08404 - 939 265</td>
	<td valign="top">
		<strong>Bankverbindung</strong><br>
		Empf&auml;nger: Esoterikshopping <br>
		Dresdner Bank N&uuml;rnberg <br>
		Kto: 154379901<br>
		Blz : 76080040<br /><br />
		Aus dem Ausland:<br />
		BIC: DRES DE FF <br />
		IBAN: DE17 76080040 0154379901 <br />
		&Uuml;ber Paypal: <br />
		<a href="mailto:paypal@spart-bares.de">paypal@spart-bares.de</a>
	</td>
	<td valign="top">
		<strong>Telefonisch erreichbar:</strong><br>
		Montag - Donnerstag: 09.00 - 17.00<br />
		Freitag: 09.00 - 15.00</td>
	</tr>
	</table>

