{config_load file="$language/lang_$language.conf" section="boxes"}
{$FORM_ACTION}

<div id="box_top">
	<div class="box_top_font">
		{#heading_add_a_quickie#}
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		<div class="box_content_font">
			{#text_quickie#}<br />
			{$INPUT_FIELD} {$SUBMIT_BUTTON}
		</div>
	</div>
</div>
<div id="box_bottom"></div>
{$FORM_END}