{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="account-box" class="mystage">
	<a href="/account.php" class="btn">Konto-&Uuml;bersicht</a><br />
	<div class="separator"><span>oder</span></div>
	<a href="/logoff.php" class="btn">Logout</a><br />
</div>
