{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="box_top">
	<div class="box_top_font">
		Anzeigen
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		<div class="box_content_font">
			<div style="padding-left:10px;">
				{$BOX_CONTENT}
			</div>
		</div>
	</div>
</div>
<div id="box_bottom"></div>