{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="box_top">
	<div class="box_top_font">
		{#heading_guestnewsletter#}
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		<div class="box_content_font">
			{$FORM_ACTION}
			{#text_email#}<br />
			{$FIELD_EMAIL}<div style="height:12px"></div>
			{$BUTTON}
			{$FORM_END}
		</div>
	</div>
</div>
<div id="box_bottom"></div>