{config_load file="$language/lang_$language.conf" section="boxes"}

<div id="box_top">
	<div class="box_top_font">
		{#heading_best_sellers#}
	</div>
</div>
<div id="box_body">
	<div id="box_inner_space">
		<div class="box_content_font">
			{foreach name=aussen item=box_data from=$box_content}
			{$box_data.COUNT}. <a class="show_categorie" href="{$box_data.PRODUCTS_LINK}">{$box_data.PRODUCTS_NAME}</a><br />
			{$box_data.PRODUCTS_PRICE}<br/ >
			{if $box_data.PRODUCTS_VPE}{$box_data.PRODUCTS_VPE}<br />{/if}{$box_data.PRODUCTS_TAX_INFO}{$box_data.PRODUCTS_SHIPPING_LINK}
			{/foreach}
		</div>
	</div>
</div>
<div id="box_bottom"></div>