{config_load file="$language/lang_$language.conf" section="trustedshops"}

<div class="box_top">{#ts_heading_text#}</div>
<div class="box_body centered">
    <form name="formSiegel" method="post" action= "https://www.trustedshops.com/shop/certificate.php" target="_blank">
    <input name="shop_id" type="hidden" value="{#ts_id#}">
    <input type="image" src="{$TPL_PATH}img/{#ts_seal_box#}" title="{#ts_click_seal#}">
    <p><a title="{#ts_more_information#} {$SHOP_NAME}" href="http://www.trustedshops.de/profil/{$SHOP_NAME_URL}_{#ts_id#}.html" target="_blank">{$SHOP_NAME} {#ts_text#}</a></p>
    </form>
</div>