<table  width="100%" border="0" align="center" cellpadding="4" cellspacing="0" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; ">
<tr>
    <td align="right" valign="top"><img src="{$logo_path}logo_email.jpg"></td>
</tr>

<tr> 
<td><p><b>Hallo {$VORNAME} {$NACHNAME} - Ihr Pa&szlig;wort wurde ge&auml;ndert!</b></p> 
<p>Sie erhalten diese Mail weil Sie ein neues Pa&szlig;wort eingerichtet bekommen wollten.<br>
Bitte loggen Sie sich mit Ihrer E-mail Adresse und folgendem Pa&szlig;wort in unserem Shop ein <br>
und &auml;ndern Sie Ihr Pa&szlig;wort in Ihrem Account wie Sie es w&uuml;nschen.</p>
	<table width="100%"  border="0" bgcolor="f1f1f1">
	<tr>
	<td><b>Ihr neues Passwort:<br></b>{$NEW_PASSWORD}
	</td>
	</tr>
	</table>
<p>Wir w&uuml;nschen Ihnen weiterhin viel Spa&szlig; mit unserem Angebot! </p>
<p>&nbsp; </p></td>
</tr>
</table>
<br />
<table style="border-top:1px solid; border-bottom:1px solid; font-family:Arial, Helvetica, sans-serif; font-size:9px; " width="100%" border="0" cellpadding="3" cellspacing="0">
  <tr>
    <td valign="top"><strong>Ihr Esoterikshopping Team</strong><br />
      Spart-Bares GbR<br />
      Gesellschafter: 
      H.Klinzmann und U. Dittrich <br />
      Humboldtstr. 134<br />
      90459 N&uuml;rnberg<br />
      Umsatzsteuer-Identifikationsnummer: DE 234465241<br />
      <br />
      <a href="http://www.esoterikshopping.de" target="_blank">www.esoterikshopping.de</a><br />
      E-mail: bestellung@esoterikshopping.de<br />
      Tel.: 08404 - 939 264<br />
      Fax: 08404 - 939 265</td>
    <td valign="top"><strong>Bankverbindung</strong><br />
      Empf&auml;nger: Esoterikshopping <br />
      Dresdner Bank N&uuml;rnberg <br />
      Kto: 154379901<br />
      Blz : 76080040<br />
      <br />
      Aus dem Ausland:<br />
      BIC: DRES DE FF <br />
      IBAN: DE17 76080040 0154379901 <br />
      &Uuml;ber Paypal: <br />
      <a href="mailto:paypal@spart-bares.de">paypal@spart-bares.de</a></td>
    <td valign="top"><strong>Telefonisch erreichbar:</strong><br />
      Montag - Donnerstag: 09.00 - 12.00 und 15.00 - 18.00<br />
      Freitag: 09.00 - 12.00</td>
  </tr>
</table>
