.paymentblock.sblock .hint {
    margin-left: 0;
    display: block;
}

.paymill_powered {
    border: 1px solid #ccc;
    width: 330px;
    height: 35px;
    padding: 4px;
    background: url('../images/icon_paymill.png') no-repeat center right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 15px;
    font-size: 10px;
}

.paymill_powered > .paymill_credits {
    width: 160px;
    color: #666;
}

.paymill_powered > a {
    color: #666;
    text-decoration: underline;
}

.form-row label {
    padding-bottom: 4px;
}

.elv-logo {
    padding-bottom: 7px;
    padding-top: 7px;
}

.form-row-paymill {
    width: 170px;
}

.paymill-label-field {
    width: 155px;
    height:35px;
    display: inline-block;
}

#paymill-card-expiry-month {
    width: 100px;
}

#paymill-card-expiry-year {
    width: 70px;
} 

.paymill-error {
    margin-top: 5px;
    padding: 2px 4px;
    border: solid 1px #FBD3C6;
    background: #FDE4E1;
    color: #CB4721;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    display: none;
}

.number-extra-field {
    width: 500px;
}

.paymill-card-number-visa {
    background: url('../images/32x20_visa.png') no-repeat center right !important;
}

.paymill-card-number-mastercard {
    background: url('../images/32x20_mastercard.png') no-repeat center right !important;
}

.paymill-card-number-amex {
    background: url('../images/32x20_amex.png') no-repeat center right !important;
}

.paymill-card-number-jcb {
    background: url('../images/32x20_jcb.png') no-repeat center right !important;
}

.paymill-card-number-maestro {
    background: url('../images/32x20_maestro.png') no-repeat center right !important;
}

.paymill-card-number-carte-bleue {
    background: url('../images/32x20_unionpay.png') no-repeat center right !important;
}

.paymill-card-number-diners {
    background: url('../images/32x20_dinersclub.png') no-repeat center right !important;
}

.paymill-card-number-discover {
    background: url('../images/32x20_discover.png') no-repeat center right !important;
}

.tooltip {
    margin-left: 3px;
    font-size: 11px;
    color: #E2E2E2;
    padding: 0 5px;
    border-radius: 100px;
    background: #636363;
}

.tooltip-text {
    display: none;
    margin: 5px 0px 0px -30px;
    font-size: 13px;
    color: #E2E2E2;
    padding: 5px;
    border-radius: 10px;
    background: #333;
    width: 395px;
    height: auto;
    z-index: 99999;
    position: relative;
    font-family: Arial;
    text-shadow: none;
}