{config_load file="$language/affiliate_lang_$language.conf" section="affiliate_box"}
<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td class="infoBoxHeading"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="infoBoxHeading">{#heading_affiliate#} </td>
          <td width="10"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td class="infoBox" align="right"><table width="95%"  border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td class="boxText"><div align="left">{$BOX_CONTENT}</div></td>
        </tr>

    </table></td>
  </tr>
</table>
