{config_load file="$language/lang_$language.conf" section="categorie_listing"}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="top"> 
    <td class="main"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr valign="top"> 
          <td class="contentsTopics" bgcolor="CEDFFF">{$CATEGORIES_NAME}</td>
          <td valign="top" align="right" bgcolor="CEDFFF">{if $CATEGORIES_IMAGE}<img src="{$CATEGORIES_IMAGE}" alt="{$CATEGORIES_IMAGE}" />{/if}</td>
        </tr>
        <tr valign="top"> 
          <td class="contentsTopics" bgcolor="CEDFFF">{$CATEGORIES_HEADING_TITLE}</td>
          <td align="right" bgcolor="CEDFFF"></td>
        </tr>	
      </table>{if $CATEGORIES_DESCRIPTION}
      {$CATEGORIES_DESCRIPTION} 
      <br />
      <br />
	  {/if}
      {if $module_content !=''} <strong>{#heading_more_categories#}</strong> 
      <br />
      <table style="border-top: 2px solid; border-color: #d4d4d4;" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> {foreach name=aussen item=module_data from=$module_content} 
		{php} 
          $col++; 
		{/php} 
          <td class="main"><table  width="100%" border="0" cellpadding="0" cellspacing="4">
                <tr> 
                  <td align="center" valign="bottom" >{if $module_data.CATEGORIES_IMAGE}<a href="{$module_data.CATEGORIES_LINK}"><img src="{$module_data.CATEGORIES_IMAGE}" alt="{$module_data.CATEGORIES_NAME} - Esoterik Online Shop mit Engel, Astrologie, Tarot und Kartenlegen" title="{$module_data.CATEGORIES_NAME} - Esoterik Online Shop mit Engel, Astrologie, Tarot und Kartenlegen" /></a>{/if}</td>
                </tr>
                <tr>
                  <td align="center" valign="bottom" ><strong><a href="{$module_data.CATEGORIES_LINK}">{$module_data.CATEGORIES_NAME}</a></strong></td>
                </tr>
                <tr>
                  <td align="center" ></td>
                </tr>
              </table>
            </td>
          {php} 
		  if ($col>=3) { 
		  $col=0; 
		  echo '</tr><tr>';
		   } 
		  {/php} 
		 {/foreach} </tr>
      </table> 
       {/if} <br />
    </td>
    <td class="main">&nbsp;</td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$MODULE_new_products}</td>
  </tr>
</table>
