{config_load file="$language/lang_$language.conf" section="account"}
<!--<h1>{#heading_account#}</h1> -->

<div class="content-secondary">

{if $error_message}<div class="errormessage">{$error_message}</div>{/if}

{if !$products_history}
    <h2>{#title_welcome#}</h2>
    {if #text_welcome#}
        <p>{#text_welcome#}</p>
        {if $LINK_LOGIN}
        	<p><a href="{$LINK_LOGIN}" style="font-size:13px;"><strong>{#text_login#}</strong></a></p>
        {/if}
    {/if}
{/if}

<div class="highlightbox">
	<ul data-role="listview" data-inset="true" data-divider-theme="a">
    	<li data-role="list-divider">{#title_account#}</li>
		<li><a href="{$LINK_EDIT}">{#text_edit#}</a></li>
		<li><a href="{$LINK_ADDRESS}">{#text_address#}</a></li>
		<li><a href="{$LINK_PASSWORD}">{#text_password#}</a></li>
        <li><a href="{$LINK_NEWSLETTER}">{#text_newsletter#}</a></li>
        {if $LINK_DELETE}	
		<li><a href="{$LINK_DELETE}">{#text_delete#}</a></li>
		{/if}
        <li><a href="logoff.php">{$smarty.const.text_logoff}</a></li>
	</ul>
</div>

</div>
<div class="content-primary">

{if $order_content}
    <ul data-role="listview" data-inset="true" data-divider-theme="a">
        <li data-role="list-divider">{#title_orders#}</li>
    {foreach name=aussen item=order_data from=$order_content}
        <li><a href="{$order_data.ORDER_LINK}">
          <h2>{#order_nr#}{$order_data.ORDER_ID}</h2>
        <p class="ui-li-desc">{$order_data.ORDER_DATE} - {#order_total#}{$order_data.ORDER_TOTAL} - {#order_status#}<strong>{$order_data.ORDER_STATUS}</strong></p></a></li>
    {/foreach}
    <li><a href="{$LINK_ALL}">{#text_all#}</a></li>
    </ul>
    
{/if}

{if $products_history}
    <ul data-role="listview" data-inset="true" data-divider-theme="a" class="account_history">
        <li data-role="list-divider">{#title_viewed_products#}</li>
    {foreach name=history_products item=products_history from=$products_history}
        <li><a href="{$products_history.PRODUCTS_LINK}">{$products_history.PRODUCTS_NAME} - {$products_history.PRODUCTS_PRICE}</a></li>
    {/foreach}
    </ul>
{/if} 

</div>
<div style="clear:both"> </div>
