{config_load file="$language/lang_$language.conf" section="account_password"}

{if $error!=''}<div class="errormessage">{$error}</div>{/if}
{$FORM_ACTION}
	<h1>{#heading_password#}</h1>
	<p class="red">{#text_must#}</p>

    <div data-role="fieldcontain">
    <label for="password_current">{#text_actual#}</label>
    {$INPUT_ACTUAL}
    </div> 

    <div data-role="fieldcontain">
    <label for="password_new">{#text_new#}</label>
    {$INPUT_NEW}
    </div> 
    
    <div data-role="fieldcontain">
    <label for="password_confirmation">{#text_confirm#}</label>
    {$INPUT_CONFIRM}
    </div> 
    
<p><input type="submit" alt="{$smarty.const.IMAGE_BUTTON_CONTINUE}" title="{$smarty.const.IMAGE_BUTTON_CONTINUE}" value="{$smarty.const.IMAGE_BUTTON_CONTINUE}" data-theme="b" data-icon="arrow-r"></p><br />

{$FORM_END}