{config_load file="$language/lang_$language.conf" section="account_history"} 
<!--<h1>{#heading_history#}</h1> -->
<ul data-role="listview" data-inset="true" data-divider-theme="a">
  <li data-role="list-divider">{#heading_history#}</li>
  {foreach name=aussen item=order_data from=$order_content}
  <li><a href="account_history_info.php?order_id={$order_data.ORDER_ID}">
    <h2>{#text_oid#}{$order_data.ORDER_ID}</h2>
    <p><strong>{#text_date#}</strong>{$order_data.ORDER_DATE}<br />
	<strong>{#text_articles#}</strong>{$order_data.ORDER_PRODUCTS}<br />
    <strong>{#text_total#}</strong>{$order_data.ORDER_TOTAL}<br />
	<strong>{#text_status#}</strong>{$order_data.ORDER_STATUS}</p>
    </a></li>
  {/foreach}
</ul>
<div class="page-navi">{$SPLIT_BAR}</div>
