{config_load file="$language/lang_$language.conf" section="account_edit"} 
<!--<h1>{#heading_account#}</h1> -->
{$FORM_ACTION}
{if $error!=''}<div class="errormessage">{$error}</div>{/if}

<p class="red">{#text_must#}</p>
<h1>{#title_personal#}</h1>

{if $csID}
    <div data-role="fieldcontain">
    <label for="firstname">{#csID#}</label>
    {$csID}
    </div>
{/if}

{if $gender=='1'}
    <div data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>{#text_gender#} <span class="red">*</span></legend>
        <span class="gender">{$INPUT_MALE}</span>
        <label for="m">{$smarty.const.text_mr}</label>
        <span class="gender">{$INPUT_FEMALE}</span>
        <label for="f">{$smarty.const.text_mrs}</label>
    </fieldset>
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="firstname">{#text_firstname#}</label>
    {$INPUT_FIRSTNAME}
    </div>
    
    <div data-role="fieldcontain">
    <label for="lastname">{#text_lastname#}</label>
    {$INPUT_LASTNAME}
    </div>

{if $birthdate=='1'}   
    <div data-role="fieldcontain">
    <label for="dob">{#text_birthdate#}</label>
    {$INPUT_DOB}
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="email_address">{#text_email#}</label>
    {$INPUT_EMAIL}
    </div>
    
    <div data-role="fieldcontain">
    <label for="confirm_email_address">{#text_confirm_email#}</label>
    {$INPUT_CONFIRM_EMAIL}
    </div>

    <div data-role="fieldcontain">
    <label for="telephone">{#text_tel#}</label>
    {$INPUT_TEL}
    </div>
    
    <div data-role="fieldcontain">
    <label for="fax">{#text_fax#}</label>
    {$INPUT_FAX}
    </div> 

{if $vat=='1'}  
    <div data-role="fieldcontain">
    <label for="dob">{#text_ustid#}</label>
    {$INPUT_VAT}
    </div>
{/if}

<p><input type="submit" alt="{$smarty.const.IMAGE_BUTTON_CONTINUE}" title="{$smarty.const.IMAGE_BUTTON_CONTINUE}" value="{$smarty.const.IMAGE_BUTTON_CONTINUE}" data-theme="b" data-icon="arrow-r"></p><br />

{$FORM_END}