{config_load file="$language/lang_$language.conf" section="account_history_info"}
{config_load file="$language/lang_$language.conf" section="print_order"}
{config_load file="$language/lang_$language.conf" section="product_info"}
<!--<h1>{#heading_history_info#}</h1>
<p>{$BUTTON_PRINT}&nbsp;{$BUTTON_BACK}</p> -->
<div class="content-secondary">

<h1>{#text_oid#}{$ORDER_NUMBER} ({$ORDER_STATUS})</h1>
<p>{#text_date#} {$ORDER_DATE}</p>

<h2>{#text_shipping_address#}</h2>
<p>{$DELIVERY_LABEL}</p>

{if $BILLING_LABEL}
<h2>{#text_payment_address#}</h2>
<p>{$BILLING_LABEL}</p>
{/if}

{if $SHIPPING_METHOD!=''}
<h2>{#text_shipping_method#}</h2>
<p>{$SHIPPING_METHOD}</p>
{/if}

{if $PAYMENT_METHOD}
<h2>{#text_payment_method#}</h2>
<p>{$PAYMENT_METHOD}</p>
{/if}

{if $ORDER_COMMENTS!=''}
<h2>{#text_comments#}</h2>
<p>{$ORDER_COMMENTS}</p>
{/if}

{if $PAYMENT_INFORMATION!=''}
<h2>{#text_payment_info#}</h2>
<p>{$PAYMENT_INFORMATION}</p>
{/if}

</div>
<div class="content-primary">

<h2>{#title_history#}:</h2>
<p>{$HISTORY_BLOCK}</p>

<h2>{#text_products#}</h2>
<table class="orderdetails" width="100%" border="0" cellspacing="0" cellpadding="5">
<tr class="tablehead">
  <td><strong style="font-size: 80%">{#head_products#}</strong></td>
  <td width="110" align="right"><strong style="font-size: 80%">{#head_price#}</strong></td>
</tr>

{foreach name=aussen item=order_values from=$order_data}
<tr class="tablemain">
<td valign="top">
	{$order_values.PRODUCTS_QTY}&nbsp;x {$order_values.PRODUCTS_NAME}</strong><em style="font-size: 80%">{$order_values.PRODUCTS_ATTRIBUTES}</em>
	<span style="font-size: 80%">{if $order_values.PRODUCTS_MODEL}<br />{#head_artnr#} {$order_values.PRODUCTS_MODEL}{*$order_values.PRODUCTS_ATTRIBUTES_MODEL*}{/if}{if $order_values.PRODUCTS_SHIPPING_TIME neq ''}<br />{#text_shippingtime#} {$order_values.PRODUCTS_SHIPPING_TIME}{/if}</span>
</td>
<td width="110" align="right" valign="top">
	<strong>{$order_values.PRODUCTS_PRICE}</strong><br />
	<span style="font-size: 80%">UP: {$order_values.PRODUCTS_SINGLE_PRICE}</span></td>
</tr>
{/foreach}

<tr class="tablesub">
    <td colspan="2" align="right">
        {foreach name=aussen item=order_total_values from=$order_total}
        {$order_total_values.TITLE} <strong>{$order_total_values.TEXT}</strong><br />
        {/foreach
    }</td>
</tr>
</table>

<!-- BOF - web28 - 2010-03-27 PayPal Bezahl-Link -->
{if $PAYPAL_LINK}	    
    <p><div style="padding:5px;">{$PAYPAL_LINK}</div></p>		
{/if}
<!-- EOF - web28 - 2010-03-27 PayPal Bezahl-Link -->

<p>{$TOTAL_BLOCK}</p>

{if $downloads_content neq ''}
<p>{$downloads_content}</p>
{/if}
<br />

</div>
<div style="clear:both"> </div>
