{config_load file="$language/lang_$language.conf" section="account_delete"}
{if $error != ''}<div class="errormessage">{$error}</div>{/if}

{if $BUTTON_CONTINUE}

<h2>{#heading_account_deleted#}</h2>
<p>{#account_deleted#}</p>
<p class="btn_replace">{$BUTTON_CONTINUE}</p><br />

{else}

<h2>{#heading_delete_account#}</h2>
<p>{#delete_account#}</p>

{$FORM_ACTION}
<p>{$INPUT_PASSWORD}</p>
<p><input type="submit" alt="{$smarty.const.IMAGE_BUTTON_CONTINUE}" title="{$smarty.const.IMAGE_BUTTON_CONTINUE}" value="{$smarty.const.IMAGE_BUTTON_CONTINUE}" data-theme="b" data-icon="arrow-r"></p><br />
{$FORM_END}

{/if}
