{config_load file="$language/lang_$language.conf" section="address_book_process"}
{if $error!=''}<div class="errormessage">{$error}</div>{/if} 

<h1>{#heading_address#}</h1>
{$FORM_ACTION}

{$MODULE_address_book_details}

{if $delete=='1'}
<!--<h1>{#title_delete#}</h1> -->
<p>{#text_delete#}</p>
<h2>{#text_address#}</h2>
<p>{$ADDRESS}</p>
<p class="btn_replace">{$BUTTON_DELETE}</p><br />
{/if}

{if $delete!='1'}
<div style="visibility: hidden; height: 1px; overflow:hidden;k">{$BUTTON_UPDATE}</div>
<p><input type="submit" alt="{$smarty.const.IMAGE_BUTTON_CONTINUE}" title="{$smarty.const.IMAGE_BUTTON_CONTINUE}" value="{$smarty.const.IMAGE_BUTTON_CONTINUE}" data-theme="b" data-icon="arrow-r"></p>
<br />
{/if}

{$FORM_END}