{config_load file="$language/lang_$language.conf" section="address_book"}
<!--<h1>{#heading_address#}</h1> -->
{$FORM_ACTION}
{if $error!=''}<div class="errormessage">{$error}</div>{/if}

<h1>{#title_standard#}</h1>
<p>{#text_standard#}</p>

<h2>{#title_standard#}:</h2>
<p>{$ADDRESS_DEFAULT}</p>

<h2>{#title_addresses#}</h2>
{foreach name=aussen item=addresses from=$addresses_data}
    <p><strong>{$addresses.NAME} {if $addresses.PRIMARY=='1'} ({#title_standard#}) {/if}</strong><br />
    {$addresses.ADDRESS}</p>
    <p><span class="btn_replace_small_inline">{$addresses.BUTTON_EDIT}</span>&nbsp;<span class="btn_replace_small_inline">{$addresses.BUTTON_DELETE}</span></p>
{/foreach}

<p class="btn_replace">{$BUTTON_NEW}</p>
<p>{$ADDRESS_COUNT}</p><br />
