{config_load file="$language/lang_$language.conf" section="address_book_process"}

<p class="red">{#text_must#}</p>
<h2>{#title_address#}</h2>

{if $gender=='1'}
    <div data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>{#text_gender#} <span class="red">*</span></legend>
        <span class="gender">{$INPUT_MALE}</span>
        <label for="m">{$smarty.const.text_mr}</label>
        <span class="gender">{$INPUT_FEMALE}</span>
        <label for="f">{$smarty.const.text_mrs}</label>
    </fieldset>
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="firstname">{#text_firstname#}</label>
    {$INPUT_FIRSTNAME}
    </div>

    <div data-role="fieldcontain">
    <label for="lastname">{#text_lastname#}</label>
    {$INPUT_LASTNAME}
    </div>

{if $company=='1'}
	<h2>{#title_company#}</h2>

    <div data-role="fieldcontain">
    <label for="company">{#text_company#}</label>
    {$INPUT_COMPANY}
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="street_address">{#text_street#}</label>
    {$INPUT_STREET}
    </div>

{if $suburb=='1'}
    <div data-role="fieldcontain">
    <label for="suburb">{#text_suburb#}</label>
    {$INPUT_SUBURB}
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="postcode">{#text_code#}</label>
    {$INPUT_CODE}
    </div>
    
    <div data-role="fieldcontain">
    <label for="city">{#text_city#}</label>
    {$INPUT_CITY}
    </div>
    
{if $state=='1'}
    <div data-role="fieldcontain">
    <label for="state">{#text_state#}</label>
    {$INPUT_STATE}
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="country">{#text_country#}</label>
    {$SELECT_COUNTRY}
    </div>


{if $new=='1'}
    <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
		<legend></legend>
        {$CHECKBOX_PRIMARY}
		<label for="primary">{#text_standard#|replace:":":""}</label>
    </fieldset>
	</div>
{/if}


