{config_load file="$language/lang_$language.conf" section="advanced_search"}
{config_load file="$language/lang_$language.conf" section="popup_search_help"}
<!--<h1>{#heading_search#}</h1> -->
{$FORM_ACTION}
{if $error!=''}<div class="errormessage">{$error}</div>{/if}
<div data-role="fieldcontain">
	<label for="keywords">{#title_keywords#}</label>
    {$INPUT_KEYWORDS}
</div>
<div data-role="collapsible" {*data-inset="false"*}>
	<h3>{#title_help#}</h3>
	<p>{#text_help#}</p>
</div>
<div data-role="fieldcontain">
	<label for="categories_id">{#text_categories#}</label>
    {$SELECT_CATEGORIES}
</div>
<div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
		<legend></legend>
        {$ENTRY_SUBCAT}
		<label for="inc_subcat">{#text_subkategories#}</label>
    </fieldset>
</div>
<div data-role="fieldcontain">
	<label for="manufacturers_id">{#text_manufacturer#}</label>
    {$SELECT_MANUFACTURERS}
</div>
<div data-role="fieldcontain">
	<label for="pfrom">{#text_min#}</label>
    {$SELECT_PFROM}
</div>
<div data-role="fieldcontain">
	<label for="pto">{#text_max#}</label>
    {$SELECT_PTO}
</div>
<input type="submit" title="{$smarty.const.text_btn_search}" alt="{$smarty.const.text_btn_search}" value="{$smarty.const.text_btn_search}" data-theme="b" data-icon="search">
{$FORM_END}

<br />
