{config_load file="$language/ajax_checkout.conf" section="checkout"}
{if !$LOGGED_IN}
  {config_load file="$language/ajax_checkout.conf" section="login"}
  {config_load file="$language/ajax_checkout.conf" section="create_account"}
{/if}

<link rel="stylesheet" href="lib/nyroModal/styles/nyroModal.css" />
<link rel="stylesheet" href="{$tpl_path}ajax_checkout.css" />

<br />
<div id="ajax-checkout">
	<h2 class="last-site-header">Hier k&ouml;nnen Sie den Kauf nun abschlie&szlig;en</h2><br />
  
  {if $error}
    <p class="error-message" id="ajax-checkout-error">{$error}</p>
  {/if}
   
  <div id="ajax-checkout-logged-in-content" class="clearfix" >
    {foreach from=$SORTING item=box}
      {if $box=='modules'}
        <!-- SHIPPING MODULES START -->
        <div id="ajax-checkout-shipping-modules" class="{$half_box_css_class} left">
          <h2 class="header">
            {#title_shipping_modules#} w&auml;hlen:
            <img src="{$tpl_path}img/ajax_checkout_indicator.gif" width="16" height="16" class="ajax-indicator" alt="" />
            <span class="toggle minus">-</span>
            <span class="toggle plus">+</span>
          </h2>
          <div class="content">
            <form method="post" {if $is_virtual || $free_shipping} style="display:none;"{/if}>
              <input type="hidden" name="ajax_action" value="update_shipping" />
              <div class="shipping-options">
                {$SHIPPING_BLOCK}
              </div>
              {if $NO_SHIPPINGS}
                <div>{#text_no_shippings#}</div>
              {/if}
              <p class="error-message"></p>
            </form>
            <div class="virtual-text" {if !$is_virtual} style="display:none;"{/if}>
              <strong>{$TEXT_VIRTUAL}</strong>
            </div>
            <div class="free-shipping-text" {if !$free_shipping} style="display:none;"{/if}>
              <strong>{$FREE_SHIPPING_DESCRIPTION}</strong>
            </div>
          </div>
        </div>
        <!-- SHIPPING MODULES END -->
          
        <!-- PAYMENT MODULES START -->
        <div id="ajax-checkout-payment-modules" class="{$half_box_css_class} right">
          <h2 class="header">
            {#title_payment_modules#} w&auml;hlen:
            <img src="{$tpl_path}img/ajax_checkout_indicator.gif" width="16" height="16" class="ajax-indicator" alt="" />
            <span class="toggle minus">-</span>
            <span class="toggle plus">+</span>
          </h2>
          <div class="content">
            <form method="post" {if $gv_cover} style="display:none"{/if}>
              <input type="hidden" name="ajax_action" value="update_payment" />
              <div class="payment-options">
                {$PAYMENT_BLOCK}
              </div>
              {if $NO_PAYMENTS}
                <div>{#text_no_payments#}</div>
              {/if}
              <p class="error-message"></p>
            </form>
            <div class="gvcover-text" {if !$gv_cover} style="display:none"{/if}>
              <strong>{#text_gccover#}</strong>
            </div>
            <form class="gift-module" {if !$gift_module}style="display: none;"{/if} method="post">
              <input type="hidden" name="ajax_action" value="use_gv" />
              <table border="0" width="100%" cellspacing="0" cellpadding="0">
                {$GIFT_MODULE}
              </table>
            </form>
          </div>
        </div>
        <!-- PAYMENT MODULES END -->
        
      {elseif $box=='addresses'}
      
        <!-- SHIPPING ADDRESS START -->
        <div id="ajax-checkout-shipping-address" class="{$half_box_css_class} left">
          <h2 class="header">
            {#title_shipping_address#}
            <img src="{$tpl_path}img/ajax_checkout_indicator.gif" width="16" height="16" class="ajax-indicator" alt="" />
            <span class="toggle minus">-</span>
            <span class="toggle plus">+</span>
          </h2>
          <div class="content">
            <div class="standard-address"{if $is_virtual} style="display:none;"{/if}>
              <div class="show-address">
                <address class="selected">{$SHIPPING_ADDRESS_LABEL}</address>
                <input type="image" src="{$tpl_path}buttons/{$language}/button_checkout_edit.gif" alt="" class="edit" />
              </div>
              <div class="change-address" style="display:none;">
                <h4>{#address_old#}</h4>
                {$SHIPPING_ADDRESS_DROPDOWN}
                {if $IS_NEW_ADDRESS_POSSIBLE}
                  <form method="post">
                    <input type="hidden" name="ajax_action" value="update_address" />
                    <input type="hidden" name="type" value="shipping" />
                    {$MODULE_new_address}
                    <div class="ajax-checkout-button">
                      <input type="image" src="{$tpl_path}buttons/{$language}/button_back.gif" alt="" class="back" />
                      {if $IS_NEW_ADDRESS_POSSIBLE}
                        <input type="image" src="{$tpl_path}buttons/{$language}/button_checkout_save.gif" alt="" class="save" />
                      {/if}
                    </div>
                    <p class="error-message"></p>
                  </form>
                {else}
                  <div class="no-address-anymore">{#address_no_more#}</div>
                  <div class="ajax-checkout-button">
                    <input type="image" src="{$tpl_path}buttons/{$language}/button_back.gif" alt="" class="back" />
                  </div>
                {/if}
              </div>
            </div>
            <div id="virtual-address" {if !$is_virtual} style="display:none;"{/if}>
              {$TEXT_VIRTUAL}
            </div>
          </div>
        </div>
        <!-- SHIPPING ADDRESS END -->
          
        <!-- PAYMENT ADDRESS START -->
        <div id="ajax-checkout-payment-address" class="{$half_box_css_class} right">
          <h2 class="header">
            {#title_payment_address#}
            <img src="{$tpl_path}img/ajax_checkout_indicator.gif" width="16" height="16" class="ajax-indicator" alt="" />
            <span class="toggle minus">-</span>
            <span class="toggle plus">+</span>
          </h2>
          <div class="content">
            <div class="show-address">
              <address class="selected">{$PAYMENT_ADDRESS_LABEL}</address>
              <input type="image" src="{$tpl_path}buttons/{$language}/button_checkout_edit.gif" alt="" class="edit" />
            </div>
            <div class="change-address" style="display:none;">
              <h4>{#address_old#}</h4>
              {$PAYMENT_ADDRESS_DROPDOWN}
              {if $IS_NEW_ADDRESS_POSSIBLE}
                <form method="post">
                  <input type="hidden" name="ajax_action" value="update_address" />
                  <input type="hidden" name="type" value="payment" />
                  {$MODULE_new_address}
                  <div class="ajax-checkout-button">
                    <input type="image" src="{$tpl_path}buttons/{$language}/button_back.gif" alt="" class="back" />
                    {if $IS_NEW_ADDRESS_POSSIBLE}
                      <input type="image" src="{$tpl_path}buttons/{$language}/button_checkout_save.gif" alt="" class="save" />
                    {/if}
                  </div>
                  <p class="error-message"></p>
                </form>
              {else}
                <div class="no-address-anymore">{#address_no_more#}</div>
                <div class="ajax-checkout-button">
                  <input type="image" src="{$tpl_path}buttons/{$language}/button_back.gif" alt="" class="back" />
                </div>
              {/if}
            </div>
          </div>
        </div>
        <!-- PAYMENT ADDRESS END -->
        
      {elseif $box=='products'}
      
        <!-- SHOPPING CART START -->
        <div id="ajax-checkout-shopping-cart" class="box-full">
          <h2 class="header-no-toggle">
            {#title_products#} (<a class="products-edit-list" href="../shopping_cart.php">Bearbeiten</a>)
			<!--
            <img src="{$tpl_path}img/ajax_checkout_indicator.gif" width="16" height="16" class="ajax-indicator" alt="" />
            <span class="toggle minus">-</span>
            <span class="toggle plus">+</span>
			-->
          </h2>
          <div class="content">
            {$PRODUCTS_BLOCK}
          </div>
         
          <!-- ORDER TOTAL START -->
          <div class="content">
	  		  <form id="ajax-checkout-total-form" action="{$FORM_ACTION_CHECKOUT}" method="post" >
			  <div id="ajax-checkout-order-total" class="clearfix">{$ORDER_TOTAL}</div>
			  <div id="ajax-checkout-payment-data">{$HIDDEN_PAYMENT}</div>
			  <div  id="ajax-checkout-button" class="clearfix">
			  	<input type="image" src="{$tpl_path}buttons/{$language}/button_confirm_order.gif" />
			  </div>
			  <p class="error-message"></p>
			  </form>
			  <div style="height:30px;"></div>
        	</div>
        </div>
        <!-- SHOPPING CART END -->
        
      {elseif $box=='comments'}
      
        <!-- COMMENTS START -->
        <div id="ajax-checkout-comments" class="box-full">
		<!-- Note: Toggle Event wird nur für class "header" angesprochen -->
          <h2 class="header_comments">
			{#title_comments#} / Kommentar zur Bestellung
			<!--
            <img src="{$tpl_path}img/ajax_checkout_indicator.gif" width="16" height="16" class="ajax-indicator" alt="" />
            <span class="toggle minus">-</span>
            <span class="toggle plus">+</span>
			-->
          </h2>
          <div class="content_comments">
            <textarea id="ajax-checkout-comments-text" cols="60" rows="10">{$COMMENTS}</textarea>
          </div>
        </div>
        <!-- COMMENTS END -->
        
      {elseif $box=='legals'}
      
        <!-- TOS START -->
        {if $AGB !== false}
          <div id="ajax-checkout-tos" class="box-full">
			<!--
            <h2 class="header">
              {#title_agb#}
              <img src="{$tpl_path}img/ajax_checkout_indicator.gif" width="16" height="16" class="ajax-indicator" alt="" />
              <span class="toggle minus">-</span>
              <span class="toggle plus">+</span>
            </h2>
			-->
            <div class="content">
			<!--
              <textarea cols="60" rows="10" readonly="readonly">{$AGB}</textarea>
			-->
              <div>
                <input type="checkbox" id="agb-checkbox" />
                <label for="agb-checkbox">{#text_accept_agb#}</label>
				<!--<a href="javascript:newWin=void(window.open('http://www.esoterikshopping.de/popup_content.php?coID=3', 'popup', 'toolbar=0, scrollbars=yes, resizable=yes, height=700, width=750, screenX=200, screenY=200'))" class="popup-links">Anzeigen!</a>-->
              </div>
            </div>
          </div>
        {/if}
        <!-- TOS END -->
        
        <!-- REVOCATION START -->
        {if $REVOCATION !== false}
          <div id="ajax-checkout-revocation" class="box-full">
		<!--
            <h2 class="header">
              {#title_revocation#}
              <img src="{$tpl_path}img/ajax_checkout_indicator.gif" width="16" height="16" class="ajax-indicator" alt="" />
              <span class="toggle minus">-</span>
              <span class="toggle plus">+</span>
            </h2>
			-->
            <div class="content">
			<!--
              <textarea cols="60" rows="10" readonly="readonly">{$REVOCATION}</textarea>
			-->
              <div>
              <div id="check_box">
                <input type="checkbox" id="revocation-checkbox" />
                {$REVOCATION_checkbox} <label for="revocation-checkbox">{#text_accept_revocation#}</label>
				<!--<a href="javascript:newWin=void(window.open('http://www.esoterikshopping.de/popup_content.php?coID=201', 'popup', 'toolbar=0, scrollbars=yes, resizable=yes, height=700, width=750, screenX=200, screenY=200'))" class="popup-links">Anzeigen!</a>-->
              </div>
              </div>
            </div>
          </div>
        {/if}
        <!-- REVOCATION END -->
      {/if}
    {/foreach}
  </div>
          <!-- ORDER TOTAL START -->
          <!--
          <div class="content">
	  		  <form id="ajax-checkout-total-form" action="{$FORM_ACTION_CHECKOUT}" method="post" {if !$LOGGED_IN} style="display: none;"{/if}>
			  <div id="ajax-checkout-order-total" class="clearfix">{$ORDER_TOTAL}</div>
			  <div id="ajax-checkout-payment-data">{$HIDDEN_PAYMENT}</div>
			  <div {if !$LOGGED_IN} style="display: none;"{/if} id="ajax-checkout-button" class="clearfix">
			  	<input type="image" src="{$tpl_path}buttons/{$language}/button_confirm_order.gif" alt="{#button_checkout_alt#}" />
			  </div>
			  <p class="error-message"></p>
			  </form>
        	</div>  
           -->
</div>

<script type="text/javascript" src="checkout.js.php?tpl={php}echo urlencode(CURRENT_TEMPLATE){/php}&amp;v=1"></script>
<script>
xtc.AjaxCheckout.BOX_CONFIGS = {$JS_BOX_CONFIGS};
xtc.AjaxCheckout.PAYMENT_FORM_DATA = {$JS_PAYMENT_FORM_DATA};
xtc.AjaxCheckout.AGB_ERROR = {$JS_AGB_ERROR};
xtc.AjaxCheckout.REVOCATION_ERROR = {$JS_REVOCATION_ERROR};

xtc.AjaxCheckout.initialize();

xtc.SessionTimeout.LANGUAGE = "{$language}";
xtc.SessionTimeout.LIFETIME = {php}echo ini_get('session.gc_maxlifetime');{/php};
xtc.SessionTimeout.initialize();
</script>