{config_load file="$language/lang_$language.conf" section="checkout_success"}
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}
<ul id="checkoutnavigation">
	<li class="inactive">
	  <div><span class="number">1.</span><br />
	    <span class="title">{$smarty.const.text_shipping}</span></div></li>
	<li class="inactive">
	  <div><span class="number">2.</span><br />
      <span class="title">{$smarty.const.text_payment}</span></div></li>
	<li class="inactive">
	  <div><span class="number">3.</span><br />
      <span class="title">{$smarty.const.text_confirm}</span></div></li>
	<li class="active">
	  <div><span class="number">4.</span><br />
      <span class="title">{$smarty.const.text_success}</span></div></li>
</ul>
<div style="clear:both"></div>
<br />

{$FORM_ACTION}
<h1>{#heading_success#}</h1>
<p>{#text_success#}</p>
<p><strong>{#text_thankyou#}</strong></p>

{if $GV_SEND_LINK}
<p>{#gv_has_vouchera#} {$GV_SEND_LINK} {#gv_has_voucherb#}</p>
{/if}

<!-- BOF - web28 - 2010-03-27 PayPal Bezahl-Link -->
{if $PAYPAL_LINK}
<p><div style="background: #f2f2f2; color: #ffffff; padding:5px; border: 2px solid #496686">{$PAYPAL_LINK}</div></p>
{/if}
<!-- EOF - web28 - 2010-03-27 PayPal Bezahl-Link -->

<p><input type="submit" title="{$smarty.const.text_continue}" alt="{$smarty.const.text_continue}" value="{$smarty.const.text_continue}" data-theme="b" data-icon="arrow-r"></p><br />


{if $downloads_content neq ''}
{if $title_downloadfiles!=''}
<h1>{#title_downloadfiles#}</h1>
{/if}
{$downloads_content}
{/if}

{* Google Conversion-tracking start *}
{if $google_tracking eq 'true'}
<p>{$tracking_code}</p>
{/if}
{* Google Conversion-tracking end *}
{$FORM_END}
