{config_load file="$language/lang_$language.conf" section="checkout_shipping"}
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}
<ul id="checkoutnavigation">
	<li class="active">
	  <div><span class="number">1.</span><br />
	    <span class="title">{$smarty.const.text_shipping}</span></div></li>
	<li class="inactive">
	  <div><span class="number">2.</span><br />
      <span class="title">{$smarty.const.text_payment}</span></div></li>
	<li class="inactive">
	  <div><span class="number">3.</span><br />
      <span class="title">{$smarty.const.text_confirm}</span></div></li>
	<li class="inactive">
	  <div><span class="number">4.</span><br />
      <span class="title">{$smarty.const.text_success}</span></div></li>
</ul>
<div style="clear:both"></div>
<br />
{$FORM_ACTION}
<div class="content-secondary">

{if $error!=''}<div class="errormessage">{$error}</div>{/if}

<h1>{#heading_shipping#}</h1>

<p><strong>{#title_address#}:</strong><br/>
  {$ADDRESS_LABEL}</p>
<p class="btn_replace_small_inline">{$BUTTON_ADDRESS}</p>

</div>
<div class="content-primary">

<h1>{#title_shipping#}</h1>
<p>{#text_shipping#}</p>
<p>{$SHIPPING_BLOCK}</p>
<div id="customized-btn">
	<p><input type="submit" title="{$smarty.const.text_continue}" alt="{$smarty.const.text_continue}" value="{$smarty.const.text_continue}" data-theme="b" data-icon="arrow-r"></p><br />
</div>

</div>
<div style="clear:both"> </div>
{$FORM_END} 