{foreach name=aussen item=module_data from=$module_content} 
<div class="paymentblock sblock">

    {$module_data.selection}
    
    <label><span>{$module_data.module}</span><br />{$module_data.module_cost}</label>
    
    <div class="hint" style="margin-left:46px; display:none">

    
    {if $module_data.description!=''}{$module_data.description}{/if}
    
    {if $module_data.error!=''}<br />{$module_data.error}
    
    {elseif $module_data.fields}<br />

		{foreach name=aussen item=method_data from=$module_data.fields} 
			<p><strong>{$method_data.title}</strong><br />
			{$method_data.field}</p>
		{/foreach}
        
	{/if} 
    
    </div>    

</div>
{/foreach}
