{config_load file="$language/lang_$language.conf" section="checkout_payment_address"}
<!--<h1>{#heading_address#}</h1>-->
{$FORM_ACTION}
<div class="content-secondary">
{if $error!=''}<div class="errormessage">{$error}</div>{/if}

<p>{#text_current_address#}</p>
<p><strong>{#title_current_address#}:</strong><br />{$ADDRESS_LABEL}</p>

{if $BLOCK_ADDRESS}
<h1>{#title_old_addresses#}</h1>
<p>{#text_old_addresses#}</p>
<p>{$BLOCK_ADDRESS}</p>
{/if}

</div>
<div class="content-primary">

{if $MODULE_new_address}{$MODULE_new_address}{/if}
<p>{*$BUTTON_CONTINUE*}<input type="hidden" name="action" value="submit"><input type="submit" title="{$smarty.const.text_continue}" alt="{$smarty.const.text_continue}" value="{$smarty.const.text_continue}" data-theme="b" data-icon="arrow-r"></p><br />

</div>
<div style="clear:both"> </div>
{$FORM_END}