{config_load file="$language/lang_$language.conf" section="checkout_confirmation"} {config_load file="$language/lang_$language.conf" section="checkout_navigation"}
<ul id="checkoutnavigation">
	<li class="inactive">
	  <div><span class="number">1.</span><br />
	    <span class="title">{$smarty.const.text_shipping}</span></div></li>
	<li class="inactive">
	  <div><span class="number">2.</span><br />
      <span class="title">{$smarty.const.text_payment}</span></div></li>
	<li class="active">
	  <div><span class="number">3.</span><br />
      <span class="title">{$smarty.const.text_confirm}</span></div></li>
	<li class="inactive">
	  <div><span class="number">4.</span><br />
      <span class="title">{$smarty.const.text_success}</span></div></li>
</ul>
<div style="clear:both"></div>
<br />

<div class="content-secondary">
    <!--
    <h1>{#heading_confirmation#}</h1>
    <p>{#text_information#}</p>
    
    {if $IP_LOG=='true'}
    <p>{#text_ip#}:&nbsp;<strong>{$CUSTOMERS_IP}</strong></p>
    <p>{/if}</p>
    
    {if $REVOCATION}
    <div class="checkoutInfoBoxes red">    
    	{$TEXT_AGB_CHECKOUT}
    </div>
    {/if}
    -->
    <h2>{$smarty.const.check_data_checkout_confirmation}</h2>
    
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <p><strong>{#text_shipping_address#}</strong><br />
            {$DELIVERY_LABEL}<br />
            <a href="{$SHIPPING_ADDRESS_EDIT}">{#text_edit#}</a></span></p>
        </div>
        <div class="ui-block-b">
            <p>{if $BILLING_LABEL}<strong>{#text_payment_address#}</strong><br />
            {$BILLING_LABEL}<br />
            <a href="{$BILLING_ADDRESS_EDIT}">{#text_edit#}</a>{/if}</p>
        </div>
    </div><!-- /grid-a -->
    
    {if $SHIPPING_METHOD}
    <strong>{#text_shipping_method#}</strong><br />
	{$SHIPPING_METHOD}&nbsp;<a href="{$SHIPPING_EDIT}">{#text_edit#}</a>
    {/if}     
    
    {if $PAYMENT_METHOD!=''}
    <br /><br />
    <strong>{#text_payment_method#}</strong><br />
    {$PAYMENT_METHOD}&nbsp;<a href="{$PAYMENT_EDIT}">{#text_edit#}</a>
    {/if}   
    
    {if $ORDER_COMMENTS!=''}
    <br /><br />
    <strong>{#text_comments#}</strong><br />
    {$ORDER_COMMENTS}&nbsp;<a href="{$PAYMENT_EDIT}">{#text_edit#}</a>
    {/if} 
    
    {if $PAYMENT_INFORMATION!=''}
    <br /><br />
    <!--
    <strong>{#text_payment_info#}</strong><br />
    {$PAYMENT_INFORMATION}
    -->
    <strong>{$smarty.const.payment_information_caption_checkout_confirmation}</strong><br />
    {$smarty.const.payment_information_content_checkout_confirmation}
    {/if}    
</div>


<div class="content-primary">
	<div id="emphasize_products_total_block">
        <h2>{#text_products#}</h2>
        <p>{#text_products#}&nbsp;<a href="{$PRODUCTS_EDIT}">{#text_edit#}</a></p>
        
        <div class="products_block"> {$PRODUCTS_BLOCK|replace:" EUR":" &euro;"}</div>
        
        <hr/>
        {if $TOTAL_BLOCK}
        <div class="total">
          {$TOTAL_BLOCK|replace:" EUR":" &euro;"}
          <div style="clear:both"></div>
        </div>
        {/if}
        {if $DELIVERY_DUTY_INFO == true}
        <div class="hr"></div>
        <div style="font-size:11px; border:0px solid red;padding:5px;margin-top:8px;">{#text_duty_info#}</div>
        {/if}
        
		{$CHECKOUT_FORM}{if $MODULE_BUTTONS!=''}&nbsp;{$MODULE_BUTTONS}{/if}&nbsp;
        <div id="customized-btn" class="btn-margin">
            <input type="submit" alt="{$smarty.const.IMAGE_BUTTON_CONFIRM_ORDER_MOBILE}" title="{$smarty.const.IMAGE_BUTTON_CONFIRM_ORDER_MOBILE}" value="{$smarty.const.IMAGE_BUTTON_CONFIRM_ORDER_MOBILE}" data-theme="b" data-icon="arrow-r">
        </div>
    </div>

</div>
<div style="clear:both"> </div>