{if $FREE_SHIPPING} 

<table class="shippingblock" border="0" width="100%" cellspacing="0" cellpadding="6">
	<tr> 
		<td class="header"><strong>{$FREE_SHIPPING_TITLE}</strong></td>
	</tr>
	<tr> 
		<td width="100%">{$FREE_SHIPPING_DESCRIPTION}</td>
	</tr>
</table>

{else}

{foreach name=aussen item=module_data from=$module_content} 

<div class="shippingblock sblock">

<p><strong>{$module_data.module}</strong></p>

  {if $module_data.error != ''}
  {$module_data.error}
  
  {else}
  
  {foreach name=aussen item=method_data from=$module_data.methods} 
  
        {$method_data.radio_field}
        <label><span style="font-weight: normal">{$method_data.title}</span><br />{$method_data.price}</label>

  {/foreach}
  {/if}

</div>

{/foreach}

{/if}