{config_load file="$language/lang_$language.conf" section="checkout_payment"}
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}
<ul id="checkoutnavigation">
	<li class="inactive">
	  <div><span class="number">1.</span><br />
	    <span class="title">{$smarty.const.text_shipping}</span></div></li>
	<li class="active">
	  <div><span class="number">2.</span><br />
      <span class="title">{$smarty.const.text_payment}</span></div></li>
	<li class="inactive">
	  <div><span class="number">3.</span><br />
      <span class="title">{$smarty.const.text_confirm}</span></div></li>
	<li class="inactive">
	  <div><span class="number">4.</span><br />
      <span class="title">{$smarty.const.text_success}</span></div></li>
</ul>
<div style="clear:both"></div>
<br />
{$FORM_ACTION}

<div class="content-secondary">

{if $error!=''}<div>{$error}</div>{/if}
{if $step2!='true'}
<h1>{#title_address#}</h1>
<p>{$ADDRESS_LABEL}</p>
<p class="btn_replace_small_inline">{$BUTTON_ADDRESS}</p>
</div>

<div class="content-primary">

<h1>{#title_payment#}</h1>
<p>{#text_payment#}</p>
{/if}

{if $GV_COVER!='true'}{$PAYMENT_BLOCK}<div id="module_gift">{$module_gift}</div>{else}{#text_gccover#}{/if}

<!--
<h4>{#title_comments#}</h4>
<p class="checkoutcomment">{$COMMENTS}</p>
-->

<!--<div data-role="collapsible" class="collapsible">
    <h2>{#title_agb#}</h2>
    <p class="checkoutagb">{$AGB}</p>
</div>
-->

<div data-role="fieldcontain">
 	<fieldset data-role="controlgroup" class="agb">
        {$AGB_checkbox}
        <label for="conditions">{#text_accept_agb#}</label>
    </fieldset>
</div>



<div id="customized-btn">
	<p><input type="submit" title="{$smarty.const.text_continue}" alt="{$smarty.const.text_continue}" value="{$smarty.const.text_continue}" data-theme="b" data-icon="arrow-r"></p><br />
</div>

</div>
<div style="clear:both"> </div>
{$FORM_END}