{config_load file="$language/lang_$language.conf" section="newsletter"} 
{config_load file="$language/lang_$language.conf" section="contact_us"}
<!--<h1>{$CONTACT_HEADING}</h1> -->

{if $error_message!=''}
<div class="errormessage">{$error_message}</div>
{/if} 
{if $success!='1'} 
{$FORM_ACTION}
<div class="content-secondary">

{$CONTACT_CONTENT}
<br />
<br />

	<div class="red">{#text_hint#}</div>

    <div data-role="fieldcontain">
    <label for="name">{#text_name#}</label>
    {$INPUT_NAME}
    </div>
    
    <div data-role="fieldcontain">
    <label for="email">{#text_email#}</label>
    {$INPUT_EMAIL} <span class="inputRequirement">*</span>
    </div>   
    
</div>
<div class="content-primary">
    
    <div data-role="fieldcontain">
    <label for="message_body">{#text_message#}</label>
    {$INPUT_TEXT} <span class="inputRequirement">*</span>
    </div>
    
    {*$BUTTON_SUBMIT*}  
<p><input type="submit" title="{$smarty.const.IMAGE_BUTTON_CONTINUE}" alt="{$smarty.const.IMAGE_BUTTON_CONTINUE}" value="{$smarty.const.IMAGE_BUTTON_CONTINUE}" data-theme="b" data-icon="arrow-r"></p>
<br />

</div>
<div style="clear:both"> </div>

{$FORM_END}
{else}
<p>{#text_success#}</p>
<p class="btn_replace">{$BUTTON_CONTINUE}</p>
<br />

{/if}
