{config_load file="$language/lang_$language.conf" section="create_account"}
<!--<h1>{#heading_create_guest_account#}</h1> -->
{$FORM_ACTION}

{if $error!=''}<div class="errormessage">{$error}</div><br />{/if}

    <header>
        <h1>{*#heading_create_account#*}Anmeldung f&uuml;r Neukunden</h1>
        <p style="margin:-10px 0 10px 0;">Melden Sie sich als Neukunde an und profitieren Sie von vielen Vorteilen!</p>
        <div style="margin-bottom:40px;">({#text_must#})</div>
    </header>

    <h2>Rechnungsadresse</h2>    

{if $gender=='1'}
    <div data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>{#text_gender#} <span>*</span></legend>
        {$GENDER_SELECT}
    </fieldset>
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="firstname">{#text_firstname#} <span>*</span></label>
    {$FIRSTNAME_INPUT}
    </div>

    <div data-role="fieldcontain">
    <label for="lastname">{#text_lastname#} <span>*</span></label>
    {$LASTNAME_INPUT}
    </div>

    <div data-role="fieldcontain">
    <label for="street_address">{#text_street#} <span>*</span></label>
    {$STREET_ADDRESS_INPUT}
    </div>    

    <div data-role="fieldcontain">
    <label for="postcode">{#text_code#} <span>*</span></label>
    {$PLZ_INPUT}
    </div>

    <div data-role="fieldcontain">
    <label for="city">{#text_city#} <span>*</span></label>
    {$CITY_INPUT}
    </div>   
    
    <div data-role="fieldcontain">
    <label for="country">{#text_country#} <span>*</span></label>
    {$COUNTRY_INPUT}
    </div>

    {if $birthdate=='1'}   
        <div data-role="fieldcontain">
        <label for="dob">{#text_birthdate#}</label>
        {$GEBURTSTAG_INPUT}
        </div>
    {/if}

    <div data-role="fieldcontain">
    <label for="telephone">{#text_tel#} </label>
    {$INPUT_TEL}
    </div>




    <br />
    <h2>Firmendaten</h2>

    <div data-role="fieldcontain">
    <label for="company">{#text_company#}</label>
    {$COMPANY_INPUT}
    </div>

    {if $vat=='1'}
        <div data-role="fieldcontain">
        <label for="vat">{#text_ustid#}</label>
        {$VAT_INPUT}
        </div>
    {/if}    

    
    <br />
    <h2>Ihr Konto</h2>    

    <div data-role="fieldcontain">
    <label for="email_address">{#text_email#} <span>*</span></label>
    {$EMAIL_INPUT}
    </div>

    <div data-role="fieldcontain">
    <label for="password">{#text_password#} <span>*</span></label>
    {$PASSWORD1_INPUT}
    </div>  
    
    <div data-role="fieldcontain">
    <label for="confirmation">{#text_confirmation#} <span>*</span></label>
    {$PASSWORD2_INPUT}
    </div>     
    

	<p>&nbsp;</p>

<p><input type="submit" title="{$smarty.const.text_continue}" alt="{$smarty.const.text_continue}" value="{$smarty.const.text_continue}" data-theme="b" data-icon="arrow-r"></p>
<br />

{$FORM_END}
