{config_load file="$language/lang_$language.conf" section="create_account"}
<!--<h1>{#heading_create_guest_account#}</h1> -->
{$FORM_ACTION}

{if $error!=''}<div class="errormessage">{$error}</div>{/if}

<div class="red">{#text_must#}</div>

<h2>{#title_personal#}</h2>

{if $gender=='1'}
    <div data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>{#text_gender#} <span class="red">*</span></legend>
        <span class="gender">{$INPUT_MALE}</span>
        <label for="m">{$smarty.const.text_mr}</label>
        <span class="gender">{$INPUT_FEMALE}</span>
        <label for="f">{$smarty.const.text_mrs}</label>
    </fieldset>
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="firstname">{#text_firstname#}</label>
    {$INPUT_FIRSTNAME}
    </div>

    <div data-role="fieldcontain">
    <label for="lastname">{#text_lastname#}</label>
    {$INPUT_LASTNAME}
    </div>
    
{if $birthdate=='1'}   
    <div data-role="fieldcontain">
    <label for="dob">{#text_birthdate#}</label>
    {$INPUT_DOB}
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="email_address">{#text_email#}</label>
    {$INPUT_EMAIL}
    </div>
    
    <div data-role="fieldcontain">
    <label for="confirm_email_address">{#text_confirm_email#}</label>
    {$INPUT_CONFIRM_EMAIL}
    </div>




	<h2>{#title_address#}</h2>

    <div data-role="fieldcontain">
    <label for="street_address">{#text_street#}</label>
    {$INPUT_STREET}
    </div>

{if $suburb=='1'}
    <div data-role="fieldcontain">
    <label for="suburb">{#text_suburb#}</label>
    {$INPUT_SUBURB}
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="postcode">{#text_code#}</label>
    {$INPUT_CODE}
    </div>
    
    <div data-role="fieldcontain">
    <label for="city">{#text_city#}</label>
    {$INPUT_CITY}
    </div>
    
{if $state=='1'}
    <div data-role="fieldcontain">
    <label for="state">{#text_state#}</label>
    {$INPUT_STATE}
    </div>
{/if}

    <div data-role="fieldcontain">
    <label for="country">{#text_country#}</label>
    {$SELECT_COUNTRY}
    </div>

{if $company=='1'}
	<h2>{#title_company#}</h2>

    <div data-role="fieldcontain">
    <label for="company">{#text_company#}</label>
    {$INPUT_COMPANY}
    </div>

{if $vat=='1'}
    <div data-role="fieldcontain">
    <label for="vat">{#text_ustid#}</label>
    {$INPUT_VAT}
    </div>
{/if}

{/if}

	
    <h2>{#title_contact#}</h2>


    <div data-role="fieldcontain">
    <label for="telephone">{#text_tel#}</label>
    {$INPUT_TEL}
    </div>
    
    <div data-role="fieldcontain">
    <label for="fax">{#text_fax#}</label>
    {$INPUT_FAX}
    </div>  



	<h2>{#title_password#}</h2>
    

    <div data-role="fieldcontain">
    <label for="password">{#text_password#}</label>
    {$INPUT_PASSWORD}
    </div>  
    
    <div data-role="fieldcontain">
    <label for="confirmation">{#text_confirmation#}</label>
    {$INPUT_CONFIRMATION}
    </div> 

	


	<p>&nbsp;</p>

{if $PRIVACY_CHECKBOX} 
	<div data-role="fieldcontain">
 	<fieldset data-role="controlgroup">
		{$PRIVACY_CHECKBOX}
		<label for="privacy">{#text_privacy_accept#}{*$PRIVACY_LINK*}</label>
	</fieldset>
	</div>
{/if}

<p><input type="submit" title="{$smarty.const.text_continue}" alt="{$smarty.const.text_continue}" value="{$smarty.const.text_continue}" data-theme="b" data-icon="arrow-r"></p>
<br />

{$FORM_END}
