{config_load file="$language/lang_$language.conf" section="cross_selling"} 
<!--<h2>{#heading_text#}</h2> -->
<ul data-role="listview" class="productlist">
{foreach name=aussen item=module_data from=$module_content}
	{foreach item=products_data from=$module_data.PRODUCTS}
		<li data-icon="search"> 
      <a href="{$products_data.PRODUCTS_LINK}">
    	{if $products_data.PRODUCTS_IMAGE!=''}<img src="{$products_data.PRODUCTS_IMAGE}" alt="{$products_data.PRODUCTS_NAME}" class="productImageBorder" />{else}<img src="{$tpl_path}img/noimage.gif" alt="{$module_data.PRODUCTS_NAME}" />{/if}
			<h2>{$products_data.PRODUCTS_NAME}</h2>
			<p>{$products_data.PRODUCTS_SHORT_DESCRIPTION|strip_tags}</p>
			<div class="product_price">
        <span class="ui-btn-up-a ui-btn-corner-all" >{$products_data.PRODUCTS_PRICE}</span>
        {if $module_data.PRODUCTS_VPE}<span class="product_vpe">{$module_data.PRODUCTS_VPE}</span>{/if}
      </div>
      </a>
    </li>
	{/foreach}
{/foreach}
</ul>

