{config_load file="$language/lang_$language.conf" section="error_handler"}
<h1>{$ERROR}</h1>
<p>{#text_search_again#}</p>
{$FORM_ACTION}

<div data-role="fieldcontain">
<label for="keywords">{#text_search#}</label>
{$INPUT_SEARCH}
</div>

<div data-role="fieldcontain">
<label for="dummy"></label>
<input id="dummy" data-theme="b" data-icon="arrow-r" type="submit" title="{$smarty.const.IMAGE_BUTTON_SEARCH}" alt="{$smarty.const.IMAGE_BUTTON_SEARCH}" value="{$smarty.const.IMAGE_BUTTON_SEARCH}">
</div>
    
<br/>
{$FORM_END}