{config_load file="$language/lang_$language.conf" section="gift_cart"}
{if $ACTIVATE_GIFT=='true'}
{$FORM_ACTION}
<h1>{#title#}</h1>
{if $GV_AMOUNT neq ''}
<p>{#text_info#}</p>
<p>{#voucher_balance#} <strong>{$GV_AMOUNT}</strong></p>
<p>{#text_send_to_friend#} <a href="{$GV_SEND_TO_FRIEND_LINK}">{#box_send_to_friend#}</a></p>
{/if}
{if $COUPON_AMOUNT2 neq ''}
<p>{#voucher_redeemed#}</p>
<p>{$COUPON_AMOUNT2}</p>
{/if}
{if $COUPON_HELP_LINK neq ''}
<p>{#cart_coupon#} {$COUPON_HELP_LINK} {#cart_coupon_info#}</a></p>
{/if}
{if $C_FLAG == 'true'}
<p>{#text_gift#}</p>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top"><strong>{#text_code#}</strong><br />
			{$INPUT_CODE}
			<input type="submit" alt="{$smarty.const.NAVBAR_GV_REDEEM}" title="{$smarty.const.NAVBAR_GV_REDEEM}" value="{$smarty.const.NAVBAR_GV_REDEEM}" data-theme="b" data-icon="arrow-r">
        </td>
    </tr>
</table>
{else}
<p>{#create_account#}<br />
<a data-role="button" href="{$LINK_ACCOUNT}" data-theme="b" data-icon="plus">{#text_create_account#|replace:"&raquo;":""}</a></p>
{/if}
{$FORM_END}
{/if}