{config_load file="$language/lang_$language.conf" section="gv_send"}
<h1>{#heading_gvsend#}</h1>
{if $action eq 'process'}
<p>{$LINK_DEFAULT}</p>
{elseif $action eq 'send'}
{$FORM_ACTION}
<p>{$MAIN_MESSAGE}</p>
{if $POST_MESSAGE neq ''}
	<p>{$PERSONAL_MESSAGE}</p>
	<p>{$POST_MESSAGE}</p>
{/if}
{$HIDDEN_FIELDS}
<p>{$LINK_BACK}&nbsp;{$LINK_SUBMIT}</p>
{$FORM_END}
{elseif $action eq ''}
<p>{#heading_text#}</p>
{$FORM_ACTION}

    <div data-role="fieldcontain">
    <label for="to_name">{#entry_name#}</label>
    {$INPUT_TO_NAME}
    </div>
    
    <div data-role="fieldcontain">
    <label for="email">{#entry_email#}</label>
    {$INPUT_EMAIL} {if $ERROR_EMAIL neq ''}{$ERROR_EMAIL}{/if}
    </div>
    
    <div data-role="fieldcontain">
    <label for="amount">{#entry_amount#}</label>
    {$INPUT_AMOUNT} {if $ERROR_AMOUNT neq ''}{$ERROR_AMOUNT}{/if}
    </div>
    
    <div data-role="fieldcontain">
    <label for="message">{#entry_message#}</label>
    {$TEXTAREA_MESSAGE}
    </div>

<p><input type="submit" alt="{$smarty.const.text_continue}" title="{$smarty.const.text_continue}" value="{$smarty.const.text_continue}" data-theme="b" data-icon="arrow-r"></p><br />

{$FORM_END}
{/if}