{config_load file="$language/lang_$language.conf" section="login"} 
<!--<h1>{#heading_login#}</h1> -->
<div class="content-secondary"> 
  {if $info_message!=''}
  <div class="errormessage">{$info_message}</div>
  {/if}
  {if $account_option=='account' or $account_option=='both'}
  <h1>{#title_returning#}</h1>
  {$FORM_ACTION}
  <p>{#text_returning#}</p>
  {if $smarty.get.order_id}
    {#text_after_login1#}
  {elseif $smarty.get.review_prod_id}
     {#text_after_login2#}
  {else}
    {#text_after_login#}
  {/if}<br />

  <div data-role="fieldcontain">
    <label for="email_address">{#text_email#}</label>
    {$INPUT_MAIL} </div>
  <div data-role="fieldcontain">
    <label for="password">{#text_password#}</label>
    {$INPUT_PASSWORD} </div>
  <input type="submit" title="{$smarty.const.text_login}" alt="{$smarty.const.text_login}" value="{$smarty.const.text_login}" data-theme="b" data-icon="arrow-r">
  <a data-role="button" data-icon="back" href="{$LINK_LOST_PASSWORD}">{#text_lost_password#}</a> {$FORM_END} </div>
  <br />
  
<div class="content-primary"> 
  <h1>{#title_new#}</h1>
  <p>{#text_new#}</p>
  <p class="btn_replace">{$BUTTON_NEW_ACCOUNT}</p>
  {/if} 
  {if $account_option=='both' or $account_option=='guest'} <br />
  <h1>{#title_guest#}</h1>
  <p>{#text_guest#}</p>
  <p class="btn_replace">{$BUTTON_GUEST}</p>
  {/if} </div>
<div style="clear:both"> </div>
<br />
