{config_load file="$language/lang_$language.conf" section="newsletter"}

{if $info_message!=''}<div class="errormessage">{$info_message}</div>{/if}
<h1>{#heading_title#}</h1>

{$FORM_ACTION}

    <div data-role="fieldcontain">
    <label for="vvcode">{#text_sec_code#}:</label>
    {$VVIMG}
    </div> 
    
    <div data-role="fieldcontain">
    <label for="vvcode">{#text_sec_code#}:</label>
    {$INPUT_CODE}
    </div> 
    
    <div data-role="fieldcontain">
    <label for="email">{#text_email#}:</label>
    {$INPUT_EMAIL}
    </div> 

	<div data-role="fieldcontain" id="nl-ratio">
    <fieldset data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
        <legend></legend>
        {$CHECK_INP}
        <label for="inp">{#text_in#}</label>
        {$CHECK_DEL}
        <label for="del">{#text_out#}</label>
    </fieldset>
    </div>

<p><input type="submit" alt="{$smarty.const.IMAGE_BUTTON_LOGIN}" title="{$smarty.const.IMAGE_BUTTON_LOGIN}" value="{$smarty.const.IMAGE_BUTTON_LOGIN}" data-theme="b" data-icon="arrow-r"></p><br />

{$FORM_END}