{config_load file="$language/lang_$language.conf" section="shopping_cart"}
<table class="orderdetails" width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr class="tablehead">
    <!--<td style="width:20px; text-align:center"><strong>x</strong></td>-->
    <td align="left" style="width:50%;"><strong>{#text_article#}</strong></td>
    <td align="left" style="width: 35%;padding-left: 28px;"><strong>{#text_qty#}</strong></td>
    <td style="width:15%;"><strong>{#text_delete#}</strong></td>
    
  </tr>
  {foreach name=aussen item=module_data from=$module_content} 
  <tr class="tablemain">
    <!--<td style="width:20px; text-align:center">{$module_data.BOX_DELETE}</td>-->
    <td align="left" style="font-size: 80%; width:50%;" bgcolor="#FFFFFF" class="productname">
		<div style="margin-bottom: 5px"><strong><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></strong></div>
		{if $module_data.ATTRIBUTES!=''} 
        	{foreach key=key_data item=item_data from=$module_data.ATTRIBUTES} 
        	<div style="font-size: 80%"><strong>{$item_data.NAME}:</strong> {$item_data.VALUE_NAME}</div>
        	{/foreach} 
		{/if}
        <div style="margin-top: 5px"><strong class="totalprice">{$module_data.PRODUCTS_PRICE}</strong> (<span style="font-size:80%">UP: {$module_data.PRODUCTS_SINGLE_PRICE}</span>)</div>
        {if $module_data.P_STOCK != ''}
		  	<span style="color:#c00;font-weight:bold;"><u>Nur noch {$module_data.P_STOCK} St&uuml;ck verf&uuml;gbar!</u></span><br />
        {else}
			{if $module_data.PRODUCTS_SHIPPING_TIME neq ""}{$smarty.const.text_shippingtime}&nbsp;{$module_data.PRODUCTS_SHIPPING_TIME}{/if}
        {/if}
    </td>
    <td align="left" style="width:35%;" class="quantity">
    <div>{$module_data.PRODUCTS_QTY}</div>
    </td>
    <td style="width:15px; padding-left: 30px;" id="delete_button_shopping_cart">{$module_data.BOX_DELETE}</td>
    
  </tr>
  {/foreach}
  <tr class="tablesub">
  
    <td colspan="3" align="right">{$UST_CONTENT}<strong>{$TOTAL_CONTENT}</strong>{if $SHIPPING_INFO}{$SHIPPING_INFO|replace:"popup_content":"shop_content"|replace:"_blank":"_self"}{/if}</td>
  
  </tr>
</table>
