{config_load file="$language/lang_$language.conf" section="new_password"}
<!--<h1>{$text_heading}</h1>-->
{$FORM_ACTION}

<div class="content-secondary">
{if $info_message!=''}<div class="errormessage">{$info_message}</div>{/if}

<p>{$message}:</p>

<div>{#text_step1#}<br />
{#text_info_pre#} {$SHOP_NAME} {#text_info_post#}</div><br /><br />

</div>
<div class="content-primary">

    <div data-role="fieldcontain">
    <label for="email">{#text_email#}</label>
    {$INPUT_EMAIL}
    </div>

    <div data-role="fieldcontain">
    <label for="vvcode">{#text_sec_code#}:</label>
    {$VVIMG}
    </div>
    
    <div data-role="fieldcontain">
    <label for="vvcode">{#text_sec_code#}:</label>
    {$INPUT_CODE}
    </div>
    

<p>{#text_continue#}</p>

<p><input type="submit" title="{$smarty.const.text_continue}" alt="{$smarty.const.text_continue}" value="{$smarty.const.text_continue}" data-theme="b" data-icon="arrow-r"></p>
<br />

</div>
<div style="clear:both"> </div>

{$FORM_END}