{config_load file="$language/lang_$language.conf" section="product_navigator"}
<div data-role="controlgroup" data-type="horizontal" class="productnavigator">
{if $FIRST!=''}<a data-theme="b" href="{$FIRST}" data-role="button">&lt;&lt;</a>{/if}
{if $PREVIOUS!=''}<a data-theme="b" href="{$PREVIOUS}" data-role="button">&lt;</a>{/if}
{if $NEXT!=''}<a data-theme="b" href="{$NEXT}" data-role="button">&gt;</a>{/if}
{if $LAST!=''}<a data-theme="b" href="{$LAST}" data-role="button">&gt;&gt;</a>{/if}
</div>
<div>{#product#}&nbsp;<strong>{$ACTUAL_PRODUCT}&nbsp;{#of#}&nbsp;{$PRODUCTS_COUNT}</strong>&nbsp;{#total#}</div>