{config_load file="$language/lang_$language.conf" section="reviews"}
<!--<h1>{#heading_reviews#}</h1>-->
{if $module_content}
{foreach name=aussen item=module_data from=$module_content} 
<p>
  <strong>{#text_author#}</strong>&nbsp;{$module_data.AUTHOR}&nbsp;am&nbsp;{$module_data.DATE}<br />
  <strong>{#text_rating#}</strong>&nbsp;{$module_data.RATING}<br />
  <strong>{#text_text#}</strong>&nbsp;{$module_data.TEXT}
</p>
{/foreach}
{else}
{$smarty.const.text_no_opinions}
{/if}