{config_load file="$language/lang_$language.conf" section="products_media"} 
<!--<h2>{#file#}:</h2> -->
<table class="medialist" border="0" width="100%" cellspacing="0" cellpadding="5">
	   {foreach name=aussen item=module_data from=$module_content}
      <tr class="{cycle values="contentrow1,contentrow2"}"> 
        <td width="100%"><strong>{$module_data.FILENAME}</strong><br />
        {$module_data.FILESIZE}<br />
        {$module_data.DESCRIPTION|strip_tags}</td>
        <td>&nbsp;</td>
        <td class="btn_replace_small_inline" valign="top">{$module_data.BUTTON}</td>
      </tr>
	  {/foreach}
</table>
