{config_load file="$language/lang_$language.conf" section="boxes"}

{if $top_products_available == true}
<div id="productslider" class="ui-body-c ui-corner-all">
  <ul>
  
    {foreach name=top_products item=box_data from=$top_products}
      <li>
        <div style="slideimage">
          <div class="product_image">
            {if $box_data.PRODUCTS_IMAGE}<a href="{$box_data.PRODUCTS_LINK}"><img src="{$box_data.PRODUCTS_IMAGE}" alt="{$box_data.PRODUCTS_NAME}" /></a>{else}<a href="{$box_data.PRODUCTS_LINK}"><img src="{$tpl_path}img/nopic.jpg" alt="{$box_data.PRODUCTS_NAME}" /></a>{/if}
          </div>
          <div class="product_name"><a href="{$box_data.PRODUCTS_LINK}" title="{$box_data.PRODUCTS_NAME}">{$box_data.PRODUCTS_NAME|truncate:40:"..."}</a></div>
          <div class="product_meta">
            <div class="product_price">
              <span class="ui-btn-up-a ui-btn-corner-all">{$box_data.PRODUCTS_PRICE}</span> 
              {if $box_data.PRODUCTS_VPE}<span class="product_vpe">{$box_data.PRODUCTS_VPE}</span>{/if}
            </div>
          </div>
        </div>
      </li>
    {/foreach}

  </ul>
  <div class="paging">
    <ul>
    {foreach name=top_products item=box_data from=$top_products}
      <li class="ui-btn-corner-all">&nbsp;</li>
    {/foreach}
    </ul>
    <div style="clear: both"></div>
  </div>
</div>
{/if}