{config_load file="$language/lang_$language.conf" section="reverse_cross_selling"}
<!--<h2>{#heading_text#}</h2> -->
<ul data-role="listview" class="productlist">
  {foreach name=aussen item=module_data from=$module_content}
  <li data-icon="search"> 
    <a href="{$module_data.PRODUCTS_LINK}">{if $module_data.PRODUCTS_IMAGE!=''}<img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" />{else}<img src="{$tpl_path}img/noimage.gif" alt="{$module_data.PRODUCTS_NAME}" />{/if}
    <h2>{$module_data.PRODUCTS_NAME}</h2>
    <p>{$module_data.PRODUCTS_SHORT_DESCRIPTION|strip_tags}</p>
    <div class="product_price">
      <span class="ui-btn-up-a ui-btn-corner-all" >{$module_data.PRODUCTS_PRICE}</span>
      {if $module_data.PRODUCTS_VPE}<span class="product_vpe">{$module_data.PRODUCTS_VPE}</span>{/if}
    </div>
    </a>
  </li>
  {/foreach}
</ul>
