{config_load file="$language/lang_$language.conf" section="shopping_cart"}

{php}
global $breadcrumb, $cPath_array, $actual_products_id;
if(!empty($cPath_array)) {
	$this->assign('CONTINUE_NAME',$breadcrumb->_trail[count($breadcrumb->_trail)-2]['title']);	
	$this->assign('CONTINUE_LINK',$breadcrumb->_trail[count($breadcrumb->_trail)-2]['link']);
    $ct_shopping = $breadcrumb->_trail[count($breadcrumb->_trail)-2]['link'];	
}
if(!empty($actual_products_id)) {
	$this->assign('CONTINUE_NAME',$breadcrumb->_trail[count($breadcrumb->_trail)-2]['title']);	
	$this->assign('CONTINUE_LINK',$breadcrumb->_trail[count($breadcrumb->_trail)-2]['link']);
    $ct_shopping = $breadcrumb->_trail[count($breadcrumb->_trail)-2]['link'];	
}
if(!empty($ct_shopping)) $_SESSION['continue_link'] = $ct_shopping; 
if(!empty($_SESSION['continue_link'])) $this->assign('CONTINUE_LINK',$_SESSION['continue_link']);
$this->assign('BUTTON_CONTINUE_SHOPPING', xtc_image_button('button_continue_shopping.gif', IMAGE_BUTTON_CONTINUE_SHOPPING));
{/php}

<h1>{#heading_cart#}</h1>
{if $info_message!=''}<div class="errormessage">{$info_message}</div>{/if}

{if $cart_empty==true}

<p>{#text_empty#}</p>
<p class="btn_replace">{$BUTTON_CONTINUE}</p>

{else}

{$FORM_ACTION}
{$HIDDEN_OPTIONS}
<div>{$MODULE_order_details}</div><br />

{if $info_message_1!=''}<div class="errormessage">{$info_message_1}{$min_order}{$info_message_2}{$order_amount}</div>{/if}

<div><input type="submit" alt="{$smarty.const.IMAGE_BUTTON_UPDATE_CART}" title="{$smarty.const.IMAGE_BUTTON_UPDATE_CART}" value="{$smarty.const.IMAGE_BUTTON_UPDATE_CART}" data-icon="refresh"></div>
{if $CONTINUE_LINK}<div class="btn_replace_normal"><a href="{$CONTINUE_LINK}">{$BUTTON_CONTINUE_SHOPPING}</a></div>{/if}
<div class="btn_replace">{$BUTTON_CHECKOUT}</div>

{$FORM_END}

{/if}<br />

{$MODULE_gift_cart}<br />

<!-- gift -->
{if $MODULE_products_gift}
{$MODULE_products_gift}
{/if}
