{config_load file="$language/lang_$language.conf" section="specials"} 
<div id="mobile-specials">
<ul data-role="listview" class="productlist" data-filter="true">
  {foreach name=aussen item=module_data from=$module_content}
  <li data-icon="search"> 
    <a href="{$module_data.PRODUCTS_LINK}">{if $module_data.PRODUCTS_IMAGE!=''}<img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" />{else}<img src="{$tpl_path}img/noimage.gif" alt="{$module_data.PRODUCTS_NAME}" />{/if}
    <h2>{$module_data.PRODUCTS_NAME}</h2>
    <p>{$module_data.PRODUCTS_SHORT_DESCRIPTION|strip_tags}</p>
    <div class="product_price">
      {$module_data.PRODUCTS_PRICE}
      {if $module_data.PRODUCTS_VPE}<br/><span class="product_vpe">{$module_data.PRODUCTS_VPE}</span>{/if}</div>
    </a>
  </li>
  {/foreach}
</ul>
</div>
<div class="page-navi">{$NAVBAR}</div>
