{config_load file="$language/lang_$language.conf" section="widerrufsformular"}

<div id="checkout-process">
    <div id="create-account">
        
        {if $error_message!=''}
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td class="main" style="border: 1px solid; border-color: #ff0000;" bgcolor="#FFCCCC" align="center">{$error_message}</td>
        </tr>
        </table>
        <br />
        {/if}          

        <div class="create-account-stage login">
            <header>
                <div class="header">
                    <h1>{$WIDERRUFSFORMUALR_HEADING}</h1>
                    {if $WIDERRUFSFORMUALR_HEADING_INFO != ''}
                        <br /><span>{$WIDERRUFSFORMUALR_HEADING_INFO}</span><br /><br />
                    {/if}
                </div>
            </header>

            <div class="add-textfield-class">
                {if $WIDERRUFSFORMUALR_LOGIN_FIRST == 'true'}
                    {$FORM_ACTION}
                    <p>Bitte melden Sie sich zuerst an und kehren Sie dann hierher zur&uuml;ck. Vielen Dank!</p>
                    <br />
                    <p><button class="btn login">Anmelden!</button></p>
                    <div class="clearer"></div>
                    {$FORM_END}
                {else}

                    {if $success!='1'}
                        {$FORM_ACTION}

                        <p>Hiermit widerrufe/n ich/wir den von mir/uns abgeschlossenen Vertrag &uuml;ber den Kauf der folgenden Waren:</p>
                        {$INPUT_WARE}
                        <br /><br />

                        <p>Bestell-Nummer</p>
                        {$INPUT_BESTELLNUMMER}
                        <br /><br />                        

                        <p>Bestellt am</p>
                        {$INPUT_BESTELLT_AM}
                        <br /><br />

                        <p>Name des/der Verbraucher/s</p>
                        {$INPUT_NAME_VERBRAUCHER}
                        <br /><br />

                        <p>Anschrift des/der Verbraucher/s</p>
                        {$INPUT_ANSCHRIFT_VERBRAUCHER}
                        <br /><br />

                        <p>Datum</p>
                        {$INPUT_DATUM}
                        <br /><br />

                        <p><button class="btn login">Absenden!</button></p>
                        <div class="clearer"></div> 
                        {$FORM_END}

                    {else}
                        {$FORM_ACTION}
                        <p>Hiermit best&auml;tigen wir Ihnen, dass der Widerruf erfolgreich war.<br />Sie erhalten in K&uuml;rze eine E-Mail als Best&auml;tigung.</p>
                        <br />
                        <p><button class="btn login">Weiter zur Startseite</button></p>
                        <div class="clearer"></div> 
                        {$FORM_END}
                    {/if}  

                {/if}
            </div>
        </div>
        
    </div>
</div>