{config_load file="$language/lang_$language.conf" section="gift_cart"} 
{if $ACTIVATE_GIFT=='true'} 
{$FORM_ACTION} 

<table width="300" border="0" cellpadding="2" cellspacing="0" class="boxTextBGII">
  <tr valign="middle"> 
    <tr>
	<td class="main" align="center"> 
      <table border="0" cellpadding="2" cellspacing="0" style="padding:3px;">
				<tr valign="middle">
					<td class="main">{#text_code#}</td>
					<td class="main">{$INPUT_CODE}</td>
					<td class="main">{$BUTTON_SUBMIT}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>
{if $COUPON_HELP_LINK neq '' && $RABATT_MOQ < $BESTELL_GESAMT}
<table width="90%" border="0" cellpadding="2" cellspacing="0" class="boxTextBGII">
  <tr valign="middle"> 
  <tr>
		<td class="main">
			<table width="100%" border="0">
        <tr> 
          <td class="main">{#cart_coupon#} {$COUPON_HELP_LINK} {#cart_coupon_info#}</a></td>
        </tr>
        <!-- Anfang: Gutschein Tool -->
        <tr>
          <td> <b> Gutscheinwert: {$RABATT_AMOUNT}</b><br />
            {if $BESTELL_GESAMT > 0} <b>Von der Bestellung werden abgezogen: {$RABATT_BESTELLUNG}</b> 
            {/if}</td>
        </tr>
        <!-- Ende: Gutschein Tool -->
      </table>
		</td>
	</tr>
	</table>
{/if} 
{$FORM_END} {/if}