{config_load file="$language/lang_$language.conf" section="new_products"} 
{config_load file="$language/lang_$language.conf" section="index"} 
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="infoBoxHeading">{#heading_text#} </td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td> 
        <table width="100%" border="0">
          {foreach name=aussen item=module_data from=$module_content} 
          <tr> 
            <td rowspan="2" valign="top" style="border-bottom: 1px solid; border-color: #cccccc;">{if $module_data.PRODUCTS_IMAGE}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" /></a>{/if}</td>
            <td valign="top" class="main"><strong><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></strong></td>
          </tr>
          <tr> 
            <td style="border-bottom: 1px solid; border-color: #cccccc;" class="main">{$module_data.PRODUCTS_DESCRIPTION}<br /> 
              <strong>{$module_data.PRODUCTS_PRICE}<br />
              </strong>
			  {if $module_data.PRODUCTS_VPE}{$module_data.PRODUCTS_VPE}<br />{/if}
{$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}<br />
              
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="right"><table width="200" border="0">
                    <tr>
                      <td align="right">{if $module_data.PRODUCTS_SHIPPING_NAME}
                          <table width="200" border="0" cellpadding="0" cellspacing="0">
                            <tr valign="middle">
                              <td class="main">{#text_shippingtime#}</td>
                              {if $module_data.PRODUCTS_SHIPPING_IMAGE}
                              <td><img src="{$module_data.PRODUCTS_SHIPPING_IMAGE}" alt="{$module_data.PRODUCTS_SHIPPING_NAME}" /></td>
                              {/if}
                              <td class="main">{$module_data.PRODUCTS_SHIPPING_NAME}</td>
                            </tr>
                          </table>
                          {/if}
                          {$module_data.PRODUCTS_BUTTON_BUY_NOW}</td>
                    </tr>
                  </table></td>
                </tr>
            </table></td>
          </tr>
          {/foreach} 
        </table>
      </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$NAVIGATION_BAR}</td>
  </tr>
</table>