.h2 {
  font-family: Trebuchet MS,Palatino,Times New Roman,serif;
  font-size: 13pt;
  font-weight: bold;
}

.h3 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  font-weight: bold;
}
.main {	
	color: #000000;
	font-family: Verdana, Arial, sans-serif; 
	font-size: 12px;
}
#contentLayout, #contentLayout a:hover, #contentLayout a {
	font-size: 12px !important;
}
.dataTableContent, .dataTableContent a:hover, .dataTableContent a {
	font-size: 12px !important;
}
label {
	float: left;
	width: 17em;
	margin-right: 1em;
	text-align: right;
}
ol {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.boxCenter a {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  padding: 2pt;
  text-decoration: underline;
}
a.menu { 
	display:block; 
	margin-bottom:5px; 
	text-align:center; 
	width:150px;
	height:20px;
	line-height: 20px;
	padding:2px; 
	color: #ffffff;
	text-decoration:none; 
	background-color: #192F67;
}
a.menu:visited { 
	color: #ffffff;
}
a.menu:hover { 
	color: #000000;
	background-color:#A8A8A6;
}
a.ybutton { 
	display:block; 
	margin-bottom:5px; 
	text-align:center; 
	width:150px;
	padding:2px; 
	color:#ffffff;
	text-decoration:none; 
	background-color:#192F67;
}
#contentLayout{
	text-align: center;
	/*white-space: nowrap;*/
}

#contentContainer {
	width: 97%;
	text-align: left;
	margin: 0 auto;
	background-color: #FFFFFF;
	min-height: 85%;
	border: 1px solid #cccccc;
	padding:8px;
	min-height:450px;
	/*white-space: nowrap;*/ 
}
.footDescription {	
	padding: 5px;
	color: #2A3D9E;
	line-height: 30px;
	vertical-align: middle;
	font-family: Verdana, Arial, sans-serif; 
	font-size: 10px;
}
a.adminbutton{
    border: 1px solid Black; 
    background-color: #F1F1F1; 
    padding: 2px 4px;
    text-decoration: none;
	font-size: 10px;
	cursor: pointer;
	line-height: 24px;
}