<table  width="100%" border="0" align="center" cellpadding="4" cellspacing="0" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; ">
<tr> 
<td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.jpg"></div></td>
</tr>
<tr> 
<td><strong>Hallo {$NAME}, </strong><br>
<br>
Es wurde ein Account f&uuml;r Sie eingerichtet, Sie k&ouml;nnen mit folgenden Daten in Unseren Shop einloggen. <br>
<br>
{if $COMMENTS} Anmerkungen: {$COMMENTS} <br>{/if}
<br>
<br>
Ihre Logindaten f&uuml;r unseren Shop:<br> 
<br>
Email: {$EMAIL}
<br>
Ihr Passwort: {$PASSWORD} 
</td>
</tr>
</table><br>
	<table style="border-top:1px solid; border-bottom:1px solid; font-family:Arial, Helvetica, sans-serif; font-size:9px; " width="100%" border="0" cellpadding="3" cellspacing="0">
	<tr>
	<td valign="top">
		<strong>Ihr Esoterikshopping Team</strong><br>
		Esoterikshopping / Spart-Bares GbR<br>
		H.Klinzmann, U. Dittrich <br>
		Humboldtstr. 134<br>
		90459 N&uuml;rnberg<br>
		Steuernummer:  DE 240/155/59604<br>
		Umsatzsteuer ID: DE234465241<br><br>
		www.esoterikshopping.de<br />
		E-mail: bestellung@esoterikshopping.de<br />
		Telefon: (+49)-0911-89 17 950<br />
		Fax: (+49)-0911-89 17 951
	</td>
	<td valign="top">
		<strong>Bankverbindung</strong><br>
		Empf&auml;nger: Esoterikshopping <br>
		Dresdner Bank N&uuml;rnberg <br>
		Kto: 154379901<br>
		Blz : 76080040<br /><br />
		Aus dem Ausland:<br />
		BIC: DRES DE FF <br />
		IBAN: DE17 76080040 0154379901 <br />
		&Uuml;ber Paypal: <br />
		<a href="mailto:paypal@spart-bares.de">paypal@spart-bares.de</a>
	</td>
	<td valign="top">
		<strong>Telefonisch erreichbar:</strong><br>
		Mo-Do: 10:00 - 16:00<br>
		Fr: 10:00 - 14:00
	</td>
	</tr>
	</table>
