{if $options!=''}
	<div id="product-attributes-radioset">
	{foreach name=outer item=options_data from=$options}
		{foreach key=key_data item=item_data from=$options_data.DATA}
			<input type="radio" id="{$item_data.JS_ID}" name="id[{$options_data.ID}]" value="{$item_data.ID}" onClick="fc_options_recalc(0);" /><label for="{$item_data.JS_ID}">{$item_data.TEXT}</label>
	  	{/foreach}
	{/foreach}
	</div>
{/if}
