{config_load file="$language/lang_$language.conf" section="shopping_cart"}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top"> 
    	<td class="contentsTopics">{#heading_cart#}</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top"> 
    	<td align="center">{$MODULE_gift_cart}</td>
	</tr>
</table>
{if $info_message!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
  <tr>
    <td class="errorBox" align="center">{$info_message}</td>
  </tr>
</table>
{/if}
{if $cart_empty==true}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
  <tr> 
    <td class="main" align="center">{#text_empty#}</td>
  </tr>
  <tr>
    <td class="main" align="right">{$BUTTON_CONTINUE}</td>
  </tr>
</table>
{else}
{$FORM_ACTION}
{$HIDDEN_OPTIONS}
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
    <tr> 
      <td>{$MODULE_order_details}</td>
    </tr>
    <tr>
      <td class="main"></td>
    </tr>
  </table>
  {if $info_message_1!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="errorBox" align="center">{$info_message_1}{$min_order}{$info_message_2}{$order_amount}</td>
  </tr>
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
</table>
{/if}
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td align="left">{$BUTTON_RELOAD}</td>
	<td align="right">{$BUTTON_CHECKOUT}</td>
  </tr>
</table>
{$FORM_END}
{/if}