<div id="customer-informations">
    <p><strong><h1>Shiva Lingam &ndash; pers&ouml;nlicher Gl&uuml;cksbringer und Energiequelle</h1></strong><br />
    Der <strong>Shiva  Lingam</strong> &nbsp;(&uuml;bers. <em>Feuers&auml;ule</em>) stammt aus  dem heiligsten der Fl&uuml;sse in Indien, dem Narmada-Fluss. Charakteristisch durch  seine individuelle und markante Rotf&auml;rbung und ovale S&auml;ulenform ist der <strong><a href="/Edelsteine-Fossilien-Spezialsteine/Narmada-Shivalingam-Shiva-Lingams" title="Shivalingams" target="_parent">Shiva  Lingam</a></strong> sehr viel mehr als nur ein dekorativer Stein. Durch ihre Herkunft sind Shiva Lingams in der Lage, Ihnen als  Besitzer auf besondere Art sehr pers&ouml;nliche Energie zu spenden. Gleichzeitig  sind die Steine Gl&uuml;cksbringer und Talismane.</p>
    
    <div class="images"><a href="/Edelsteine-Fossilien-Spezialsteine/Narmada-Shivalingam-Shiva-Lingams" target="_parent"><img src="../media/content/shiva-lingam.jpg" alt="Shiva Lingam, Shivalingam" border="0" /></a><br />
		<div class="image-subtext">Bildrechte bei Esoterikshopping.de</div>
    </div>
    
    <p><strong><span class="caption">Der Narmada-Fluss &ndash;  Heiliger Fluss in Indien</span></strong><br />
    Damit die <strong>Shiva  Lingams</strong>, die Sie in unterschiedlichen Gr&ouml;&szlig;en und F&auml;rbungen in unserem  Online Shop erhalten, ihre volle Kraft als Energiespender und Gl&uuml;cksbringer  entfalten k&ouml;nnen, werden sie auf traditionelle Weise bearbeitet, gereinigt und  poliert. Anschlie&szlig;end werden sie f&uuml;r die Aufladung in einem Kraftzentrum der  Erde aufbewahrt. Der Narmada-Fluss gilt als einer der heiligsten Fl&uuml;sse  in Indien und laut der &Uuml;berlieferungen sendet dieser besondere Fluss permanent  Prana-Energie, also Lebensenergie aus. Pilger und all diejenigen, die auf der  Suche nach Heilung und Reinigung sind, besuchen den Fluss und nehmen ein Bad in  seinen Fluten, um dies dort zu finden. Der Shiva  Linga besitzt &auml;hnliche Eigenschaften und verstr&ouml;mt ebenfalls Lebensenergie. </p>
    <p><strong><span class="caption">Anwendungsm&ouml;glichkeiten</span></strong><br />
    Nehmen Sie den Stein in Ihre H&auml;nde und erleben Sie  selbst, wie diese Energie auf Sie &uuml;bergeht. Durch seine Herkunft, der  charakteristischen Phallus-Form und die einzigartigen roten Markierungen vereint  der Shivalingam sowohl m&auml;nnliche wie  auch weibliche Energie in sich. Die Energie und Harmonie werden durch Ber&uuml;hrung  des Steins (in die Hand nehmen) &uuml;bertragen. Je h&auml;ufiger Sie den Stein nutzen,  um so besser kann die Energie von dem Shiva  Linga verstr&ouml;mt werden. Der wundersch&ouml;ne Stein wirkt aber auch auf seine  unmittelbare Umgebung energetisierend und sollte daher an einem zentralen Platz  im Haus aufbewahrt &nbsp;werden. Kleine Shivalingams k&ouml;nnen zu jederzeit ein  wertvoller Begleiter sein, die, je nach Gr&ouml;&szlig;e, in jede Hosentasche passen.</p>
    <p><strong><span class="caption">Die richtige Pflege</span></strong><br />
    Um die Sch&ouml;nheit des Steins zu erhalten und einen optimalen Energiefluss Ihres Shiva  Lingams zu erreichen, sollten Sie ihn in regelm&auml;&szlig;igen Abst&auml;nden einfach  unter flie&szlig;endem Wasser reinigen. Durch diese Reinigung werden Schmutz und eventuell  vorhandene Einfl&uuml;sse, z. B. Fremdenergien oder &auml;hnliches entfernt. Um eine  m&ouml;glichst enge Verbindung Ihrer Energie mit der des Steins zu erreichen, ist  ein sorgsamer Umgang &uuml;beraus empfehlenswert. Daher ist eine Weitergabe an  andere Menschen nicht ratsam. Shiva  Lingas eignen sich &uuml;brigens ganz hervorragend als Geschenkidee zu  besonderen Anl&auml;ssen oder einfach als kleine Aufmerksamkeit f&uuml;r zwischendurch.<br />
    
    <a href="http://www.esoterikshopping.de/Edelsteine-Fossilien-Spezialsteine/Narmada-Shivalingam-Shiva-Lingams"><div class="pointer-shiva-lingam"></div></a>
</div>
