<table width="100%" border="0">
  <tr> 
    <td align="right"><img src="{$logo_path}logo_email.jpg"></td>
  </tr>
</table>
Partnername: {$content.NAME}<br />
eMailadresse: {$content.EMAIL}<br /><br />

Nachricht: {$content.ENQUIRY}