
<table width="600" border="0" cellpadding="5" cellspacing="0" style="border:1px solid #ccc;">
<tr> 
<td>


<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr> 
<td>

	<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
	      <td align="left" valign="top"><a href="http://www.esoterikshopping.de/" target="_blank" title="Esoterikshopping.de"><img src="{$logo_path}logo_email.jpg" alt="Esoterikshopping.de" border="0" /></a><br /></td>
	</tr>
	</table>
	  
	<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;">
	<tr> 
	<td>
    <br />
	<strong style="font-size:13px;">Bestell-Nr: {$oID}</strong><br /><br />
    {if $PAYMENT_METHOD}<strong>Zahlungsmethode:</strong> {$PAYMENT_METHOD}<br />{/if}
	<strong>Bestelldatum:</strong> {$DATE}<br />
	{if $csID}<strong>Kundennummer:</strong> {$csID}<br />{/if}
	<strong>Ihre E-mail:</strong> {$EMAIL}<br />	
    {if $COMMENTS}<strong>Ihre Anmerkungen:</strong><br />{$COMMENTS}<br />{/if}
    </td>
	</tr>
	</table>
<br /> 
	<table width="100%" border="0" cellpadding="5" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;border:1px solid #ccc;">
	<tr bgcolor="#f1f1f1"> 
	<td width="50%"><p><strong>Lieferadresse</strong><br></p></td>
	{if $address_label_payment}
	<td> <p><strong>Rechnungsadresse</strong> <br></p></td>
	{/if}
	</tr>
	<tr> 
	<td>{$address_label_shipping}</td>
	{if $address_label_payment}<td>{$address_label_payment}</td>
	{/if}
	</tr>
	</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;">
<tr> 
<td><br />
  <br />
Hallo {$NAME},<br /><br />
vielen Dank f&uuml;r Ihre Bestellung in unserem Onlineshop. Wir werden Ihren Auftrag umgehend bearbeiten. Bitte &uuml;berpr&uuml;fen Sie Ihre Daten. Bei Unstimmigkeiten kontaktieren Sie uns bitte per E-Mail (<a href="mailto:info@esoterikshopping.de">info@esoterikshopping.de</a>). Unsere Allgemeinen Gesch&auml;ftsbedingungen (AGB), die Sie bereits vor dem Absenden best&auml;tigt haben, k&ouml;nnen Sie jederzeit <a href="http://www.esoterikshopping.de/content/Unsere-AGBs.html" target="_blank"><strong>hier</strong></a> nachlesen.
</td>
</tr>
</table>

</td>
</tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;">
<tr> 
<td><br />
  <br />
  Ihre bestellten Produkte nochmals zur Kontrolle:<br /></td>
</tr>
<tr> 
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="5" style="border-left:1px solid #ccc;border-top:1px solid #ccc;border-right:1px solid #ccc;font-family:Arial,Helvetica,sans-serif;font-size:12px;">
  <tr>
    <td width="330" style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;"><strong>Artikel</strong></td>
    <td width="100" style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;"><strong>Einzelpreis</strong></td>
    <td width="60" style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;"><strong>Anzahl</strong></td>
    <td width="100" style="border-bottom:1px solid #ccc;" align="right"><strong>Summe</strong></td>
  </tr>
  {foreach name=aussen item=order_values from=$order_data} 
  <tr>
    <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{$order_values.PRODUCTS_NAME}&nbsp;<span style="font-size:10px;color:#666;">({$order_values.PRODUCTS_MODEL})</span><br />{$order_values.PRODUCTS_ATTRIBUTES}</td>
    <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{$order_values.PRODUCTS_SINGLE_PRICE}</td>
    <td style="border-right:1px solid #ccc;border-bottom:1px solid #ccc;">{$order_values.PRODUCTS_QTY}</td>
    <td style="border-bottom:1px solid #ccc;" align="right">{$order_values.PRODUCTS_PRICE}</td>
  </tr>
  {/foreach}
</table>

</td>
</tr>
<tr>
<td align="right" style="padding-right:3px; border-left:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;line-height:1.4;">
{foreach name=aussen item=order_total_values from=$order_total}
{$order_total_values.TITLE}{$order_total_values.TEXT}<br />
{/foreach}
</td>
</tr>

{if $PAYMENT_METHOD == 'Vorkasse'}
<tr>
<td><br /><br />Bitte &uuml;berweisen Sie den Gesamtbetrag innerhalb von 5 Tagen auf folgendes Konto:<br />
  <br />
<table width="500" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;">
  <tr>
    <td width="135"><strong>Bankinstitut:</strong></td>
    <td>Commerzbank N&uuml;rnberg</td>
  </tr>
  <tr>
    <td><strong>Empf&auml;nger:</strong></td>
    <td>Esoterikshopping GbR</td>
  </tr>
  <tr>
    <td><strong>BLZ:</strong></td>
    <td>76080040</td>
  </tr>
  <tr>
    <td><strong>Kontonummer:</strong></td>
    <td>154379901</td>
  </tr>
  <tr>
    <td><strong>Verwendungszweck:</strong></td>
    <td>Bestellnummer {$oID}, {$NAME}</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    </tr>
  <tr>
    <td><strong>IBAN:</strong></td>
    <td>DE17760800400154379901</td>
  </tr>
  <tr>
    <td><strong>BIC:</strong></td>
    <td>DRESDEFF760</td>
  </tr>
</table>
<br />
<strong>Achtung: Eventuell anfallende &Uuml;berweisungsgeb&uuml;hren sind vom Auftraggeber zu tragen.</strong><br />
<br />
Sobald wir den Zahlungseingang registriert haben, wird Ihre Ware umgehend versendet. Sie erhalten dann eine Versandbest&auml;tigung per E-Mail.
</td>
</tr>
{/if}

<tr>
<td><br />Wir m&ouml;chten uns f&uuml;r Ihren Auftrag und Ihr Vertrauen bedanken.<br />
    Bei Fragen stehen wir Ihnen gerne per E-Mail (<a href="mailto:info@esoterikshopping.de" target="_blank">info@esoterikshopping.de</a>) zur Verf&uuml;gung.<br />
    Wenn Sie die Bestellung widerrufen wollen finden Sie <a href="http://www.esoterikshopping.de/content/Widerrufsformular.html">hier unser Widerrufsformular</a>.</td>
</tr>
</table>
<br />


<table style="font-family:Arial,Helvetica,sans-serif;font-size:12px;" width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><strong>Ihr Esoterikshopping Team</strong><br />
      Esoterikshopping ist eine Domain der Spart Bares GbR<br />
      Vertretungsberechtigte Gesellschafter: Holger Klinzmann und Uta Dittrich<br />
      Humboldtstrasse 134<br />
      90459 N&uuml;rnberg<br />
      Umsatzsteuer-Identifikationsnummer: DE 234465241<br />
      <br />
      <a href="http://www.esoterikshopping.de" target="_blank">www.esoterikshopping.de</a><br />
      E-mail: info@esoterikshopping.de<br />
      Tel.: 08404 - 939 264<br />
      Fax: 08404 - 939 265</td>
    </tr>
</table>
<br />
<br />
<table style="font-family:Arial,Helvetica,sans-serif;font-size:12px;" width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top">
<strong>Widerrufsbelehrung</strong><br /><br />
<strong>Widerrufsrecht</strong><br />
Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gr&uuml;nden diesen Vertrag zu widerrufen.
<br />
Die Widerrufsfrist betr&auml;gt vierzehn Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Bef&ouml;rderer ist, die letzte Ware in Besitz genommen haben bzw. hat. 
<br />
Um Ihr Widerrufsrecht auszu&uuml;ben, m&uuml;ssen Sie uns Spart Bares GbR, Humboldtstrasse 134, 90459 N&uuml;rnberg, Tel. 08404/939-264, Fax: 08404/939-265, E-Mail: info@esoterikshopping.de  mittels einer eindeutigen Erkl&auml;rung (z. B. ein mit der Post versandter Brief, Telefax oder E-Mail) &uuml;ber Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie k&ouml;nnen daf&uuml;r das beigef&uuml;gte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.
<br />
Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung &uuml;ber die Aus&uuml;bung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
<br /><br />
<strong>Folgen des Widerrufs</strong>
<br />
Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschlie&szlig;lich der Lieferkosten (mit Ausnahme der zus&auml;tzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, g&uuml;nstigste Standardlieferung gew&auml;hlt haben), unverz&uuml;glich und sp&auml;testens binnen vierzehn Tagen ab dem Tag zur&uuml;ckzuzahlen, an dem die Mitteilung &uuml;ber Ihren Widerruf dieses Vertrags bei uns eingegangen ist. F&uuml;r diese R&uuml;ckzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der urspr&uuml;nglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdr&uuml;cklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser R&uuml;ckzahlung Entgelte berechnet. Wir k&ouml;nnen die R&uuml;ckzahlung verweigern, bis wir die Waren wieder zur&uuml;ckerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zur&uuml;ckgesandt haben, je nachdem, welches der fr&uuml;here Zeitpunkt ist.
<br />
Sie haben die Waren unverz&uuml;glich und in jedem Fall sp&auml;testens binnen vierzehn Tagen ab dem Tag, an dem Sie uns &uuml;ber den Widerruf dieses Vertrags unterrichten, an OPSEDI GbR, Am Bach 9, 93349 Mindelstetten  zur&uuml;ckzusenden oder zu &uuml;bergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden. Sie tragen die unmittelbaren Kosten der R&uuml;cksendung der Waren.
<br /></td>
</tr>
</table>

</td>
</tr>
</table>
<br />
<table style="border-top:1px solid; border-bottom:1px solid; font-family:Arial, Helvetica, sans-serif; font-size:9px; " width="100%" border="0" cellpadding="3" cellspacing="0">
  <tr>
    <td valign="top"><strong>Ihr Esoterikshopping Team</strong><br />
      Esoterikshopping ist eine Domain der Spart Bares GbR<br />
Vertretungsberechtigte Gesellschafter: Holger Klinzmann und Uta Dittrich<br />
Humboldtstrasse 134<br />
90459 Nürnberg<br />
Umsatzsteuer-Identifikationsnummer: DE 234465241<br />
<br />
      <a href="http://www.esoterikshopping.de" target="_blank">www.esoterikshopping.de</a><br />
      E-mail: info@esoterikshopping.de<br />
      Tel.: 08404 - 939 264<br />
      Fax: 08404 - 939 265</td>
    <td valign="top"><strong>Bankverbindung</strong><br />
      Empf&auml;nger: Esoterikshopping <br />
      Dresdner Bank N&uuml;rnberg <br />
      Kto: 154379901<br />
      Blz : 76080040<br />
      <br />
      BIC: DRESDEFF760<br />
      IBAN: DE17760800400154379901<br />
      &Uuml;ber Paypal: <br />
      <a href="mailto:paypal@spart-bares.de">paypal@spart-bares.de</a></td>
    <td valign="top"><strong>Telefonisch erreichbar:</strong><br />
      Montag - Donnerstag: 09.00 - 12.00 und 15.00 - 18.00<br />
      Freitag: 09.00 - 12.00</td>
  </tr>
</table>
