<div style="font-family:Verdana, Arial, sans-serif;font-size:10pt;">
<div align="left"><a href="http://www.Esoterikshopping.de" target="_blank" title="Esoterikshopping.de"><img src="{$logo_path}logo_email.jpg" alt="Esoterikshopping.de" border="0" /></a></div>
<div style="border-bottom: 1px solid darkgrey;">
&nbsp;
</div>

Hallo {$CUSTOMERS_FIRSTNAME} {$CUSTOMERS_LASTNAME},<br /><br />

Sie wollten eine Produkterinnerung erhalten, wenn der folgende Artikel wieder verf&uuml;gbar ist:<br />
<strong><a href="{$LINK}" target="_blank">{$PRODUCTS_NAME}</a></strong>
<br /><br />
Hiermit m&ouml;chten wir Sie informieren, dass der gew&uuml;nschte Artikel ab sofort wieder in unserem Shop (<a href="http://www.esoterikshopping.de/" target="_blank">www.esoterikshopping.de</a>) bestellt werden kann.<br />
<br />
Bei Fragen stehen wir Ihnen jederzeit gerne zur Verf&uuml;gung.<br />
<br />
Mit freundlichen Gr&uuml;&szlig;en<br />
Ihr Esoterikshopping.de - Team<br />
<br />
Spart-Bares GbR<br />
Gesellschafter: 
      H.Klinzmann und U. Dittrich <br />
Humboldtstr. 134<br />
90459 N&uuml;rnberg<br />
Umsatzsteuer-Identifikationsnummer: DE 234465241<br />
<a href="http://www.esoterikshopping.de" target="_blank">www.esoterikshopping.de</a><br />
E-mail: bestellung@esoterikshopping.de<br />
Tel.: 08404 - 939 264<br />
Fax: 08404 - 939 265 <br />
<br />

</div>
<br />
<table style="border-top:1px solid; border-bottom:1px solid; font-family:Arial, Helvetica, sans-serif; font-size:9px; " width="100%" border="0" cellpadding="3" cellspacing="0">
  <tr>
    <td valign="top"><strong>Ihr Esoterikshopping Team</strong><br />
      Spart-Bares GbR<br />
      Gesellschafter: 
      H.Klinzmann und U. Dittrich <br />
      Humboldtstr. 134<br />
      90459 N&uuml;rnberg<br />
      Umsatzsteuer-Identifikationsnummer: DE 234465241<br />
      <br />
      <a href="http://www.esoterikshopping.de" target="_blank">www.esoterikshopping.de</a><br />
      E-mail: bestellung@esoterikshopping.de<br />
      Tel.: 08404 - 939 264<br />
      Fax: 08404 - 939 265</td>
    <td valign="top"><strong>Bankverbindung</strong><br />
      Empf&auml;nger: Esoterikshopping <br />
      Dresdner Bank N&uuml;rnberg <br />
      Kto: 154379901<br />
      Blz : 76080040<br />
      <br />
      Aus dem Ausland:<br />
      BIC: DRES DE FF <br />
      IBAN: DE17 76080040 0154379901 <br />
      &Uuml;ber Paypal: <br />
      <a href="mailto:paypal@spart-bares.de">paypal@spart-bares.de</a></td>
    <td valign="top"><strong>Telefonisch erreichbar:</strong><br />
      Montag - Donnerstag: 09.00 - 12.00 und 15.00 - 18.00<br />
      Freitag: 09.00 - 12.00</td>
  </tr>
</table>
