{config_load file="$language/lang_$language.conf" section="categorie_listing"}
<div class="content-secondary">
  {if $CATEGORIES_DESCRIPTION}
  <div class="categorie-description" data-role="collapsible" data-collapsed="true" data-inset="false" style="margin:-15px 0 15px"> 
    {if $CATEGORIES_HEADING_TITLE}
    <h3>{$CATEGORIES_HEADING_TITLE}</h3>
    {else}
    <h3>{$CATEGORIES_NAME}</h3>
    {/if}
    {if $CATEGORIES_IMAGE}<img src="{$CATEGORIES_IMAGE}" alt="{$CATEGORIES_NAME}" class="imgLeft" />{/if}
    {$CATEGORIES_DESCRIPTION} 
  </div>
  {/if}

  {if $module_content !=''}
  <ul data-role="listview" class="xm-catlist" data-divider-theme="a">
  <li data-role="list-divider"><!--{#heading_more_categories#}-->Bitte treffen Sie Ihre Auswahl:</li>
  {foreach name=aussen item=module_data from=$module_content}
  <li><a href="{$module_data.CATEGORIES_LINK}">{$module_data.CATEGORIES_NAME}</a></li>
  {/foreach} 
  </ul>
  {/if} 
</div>
<div class="content-primary">
  {*$MODULE_new_products*} 
</div>
<div style="clear:both"> </div>