html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
}
h1 {
  font-size:36px;
  margin:15px;
  text-align:center;
  color:#666;
}
h2 {
  font-size:14px;
  font-weight:bold;
  color:#3c3c3c;
  margin:20px 10px 10px;
}
small {
  margin:0 10px 30px;
  display:block;
  font-size:12px;
}
a {
  margin:0 0 0 10px;
  font-size:12px;
  color:#3c3c3c;
}
.swipe {
  padding-bottom:20px;
  position:relative;
  z-index:1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.swipe li div, .swipe div div div {
  margin:0 10px;
  padding:50px 10px;
  background:#1db1ff;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
}

#productslider {
    margin: 15px 0;
    padding: 0;
    position: relative;
}
#productslider ul {
    height: 250px;
    overflow: hidden;
	padding:0;
}
#productslider ul li {
    text-align: center;
}
#productslider ul li h2 {
    font-weight: normal;
}
#productslider ul li .slideimage {
    margin: 10px auto 0;
    position: relative;
    width: 195px;
}
#productslider ul li .slideimage img {
    width: 195px;
}
#productslider ul li .slideimage a img {
    display: block;
}
#productslider ul li .badge {
    left: 0;
    position: absolute;
    top: 10px;
    width: 50px;
}
#productslider ul li .badge img {
    max-width: 42px !important;
}
#productslider .paging {
    margin: 5px 0;
    text-align: center;
}
#productslider .paging ul {
    display: inline-block;
    height: 16px;
    list-style-type: none;
    margin: 0 auto;
}
#productslider .paging ul li {
    background: url("../img/slider/dots.png") no-repeat scroll 0 0 / 6px 12px transparent;
    float: left;
    height: 6px;
    margin: 0 3px;
    text-align: center;
    width: 6px;
}
#productslider .paging ul li.active {
    background: url("../img/slider/dots.png") no-repeat scroll 0 -6px / 6px 12px transparent;
    float: left;
    height: 6px;
    text-align: center;
    width: 6px;
}
