{config_load file="$language/lang_$language.conf" section="boxes"}

<li data-role="list-divider">{#heading_last_viewed#}</li>
<li data-icon="search">
  <a href="{$box_content.PRODUCTS_LINK}">
    {if $box_content.PRODUCTS_IMAGE!=''}<img src="{$box_content.PRODUCTS_IMAGE}" alt="{$box_content.PRODUCTS_NAME}" class="productboximage"/>{else}<img src="{$tpl_path}img/noimage.gif" alt="{$box_content.PRODUCTS_NAME}" />{/if}
    <h2>{$box_content.PRODUCTS_NAME}</h2>
    <div class="product_price">
      <span class="ui-btn-up-a ui-btn-corner-all">{$box_content.PRODUCTS_PRICE}</span>
      {if $box_content.PRODUCTS_VPE}<span class="product_vpe">{$box_content.PRODUCTS_VPE}</span>{/if}
    </div>
  </a>
  </li>
