{config_load file="$language/lang_$language.conf" section="boxes"}
<ul data-role="listview" class="productlist" data-filter="true">
	{foreach name=aussen item=box_data from=$box_content}
	<li data-icon="search">
    <a href="{$box_data.PRODUCTS_LINK}">{if $box_data.PRODUCTS_IMAGE!=''}<img src="{$box_data.PRODUCTS_IMAGE}" alt="{$box_data.PRODUCTS_NAME}" />{else}<img src="{$tpl_path}img/noimage.gif" alt="{$box_data.PRODUCTS_NAME}" />{/if}
    <h2>{$box_data.PRODUCTS_NAME}</h2>
    <p>{$box_data.PRODUCTS_SHORT_DESCRIPTION|strip_tags}</p>
    <div class="product_price">
      <span class="ui-btn-up-a ui-btn-corner-all" >{$box_data.PRODUCTS_PRICE}</span>
      {if $box_data.PRODUCTS_VPE}<span class="product_vpe">{$box_data.PRODUCTS_VPE}</span>{/if}
    </div>
    </a>
  </li>
  {/foreach}
</ul>
<div class="page-navi" align="center">Seiten: <strong>1</strong></div>