{config_load file="$language/lang_$language.conf" section="boxes"}
{if $deny_cart neq 'true'}

	{if $empty=='false'} <!-- cart has content -->
		{if $PRODUCTS}<span id="cart_amount">{$PRODUCTS}</span>{/if}
	{else} <!-- cart has no content -->
		<span id="cart_amount">0</span>
	{/if}

{/if}
