{config_load file="$language/lang_$language.conf" section="boxes"}
<ul id="categorymenu" data-role="listview" data-inset="true" data-divider-theme="a">
  <li data-role="list-divider">{#heading_categories#}</li>
  {$BOX_CONTENT}
</ul>
