{config_load file="$language/lang_$language.conf" section="product_info"}

{$FORM_ACTION}
<div id="product-info-wrap"> 
<div class="content-secondary">
<h1>{$PRODUCTS_NAME}</h1>

{if $PRODUCTS_IMAGE!=''} 
<div id="productslider" class="ui-body-c ui-corner-all">
	<ul id="carousel">
			<li><a href="#popupPhoto" data-rel="popup" data-position-to="window"><img src="{$PRODUCTS_IMAGE}" alt="{$PRODUCTS_NAME}" class="productimage" /></a></li>
			{if $PRODUCTS_IMAGE_1 != ''}<li><a href="#popupPhoto1" data-rel="popup" data-position-to="window"><img src="{$PRODUCTS_IMAGE_1}" alt="{$PRODUCTS_NAME}" /></a></li>{/if}
			{if $PRODUCTS_IMAGE_2 != ''}<li><a href="#popupPhoto2" data-rel="popup" data-position-to="window"><img src="{$PRODUCTS_IMAGE_2}" alt="{$PRODUCTS_NAME}" /></a></li>{/if}
			{if $PRODUCTS_IMAGE_3 != ''}<li><a href="#popupPhoto3" data-rel="popup" data-position-to="window"><img src="{$PRODUCTS_IMAGE_3}" alt="{$PRODUCTS_NAME}" /></a></li>{/if}
			{if $PRODUCTS_IMAGE_4 != ''}<li><a href="#popupPhoto4" data-rel="popup" data-position-to="window"><img src="{$PRODUCTS_IMAGE_4}" alt="{$PRODUCTS_NAME}" /></a></li>{/if}
	</ul>
	<div class="paging">
		<ul>
			<li class="ui-btn-corner-all">&nbsp;</li>
				{if $PRODUCTS_IMAGE_1 != ''}<li class="ui-btn-corner-all">&nbsp;</li>{/if}
				{if $PRODUCTS_IMAGE_2 != ''}<li class="ui-btn-corner-all">&nbsp;</li>{/if}
				{if $PRODUCTS_IMAGE_3 != ''}<li class="ui-btn-corner-all">&nbsp;</li>{/if}
				{if $PRODUCTS_IMAGE_4 != ''}<li class="ui-btn-corner-all">&nbsp;</li>{/if}
		</ul>
		<div style="clear: both"></div>
	</div>
	{if $PRODUCTS_IMAGE_1 != ''}<img src="{$tpl_path}img/icon_drag.png" alt="1 Finger Drag" class="dragimage" />{/if}

	<div data-role="popup" id="popupPhoto" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15" >
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">{$smarty.const.text_close}</a><img src="{$PRODUCTS_IMAGE|replace:"info_images":"popup_images"}" alt="{$PRODUCTS_NAME}">
	</div>
	<div data-role="popup" id="popupPhoto1" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15" >
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">{$smarty.const.text_close}</a><img src="{$PRODUCTS_IMAGE_1|replace:"info_images":"popup_images"}" alt="{$PRODUCTS_NAME}">
	</div>
	<div data-role="popup" id="popupPhoto2" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15" >
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">{$smarty.const.text_close}</a><img src="{$PRODUCTS_IMAGE_2|replace:"info_images":"popup_images"}" alt="{$PRODUCTS_NAME}">
	</div>
	<div data-role="popup" id="popupPhoto3" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15" >
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">{$smarty.const.text_close}</a><img src="{$PRODUCTS_IMAGE_3|replace:"info_images":"popup_images"}" alt="{$PRODUCTS_NAME}">
	</div>
	<div data-role="popup" id="popupPhoto4" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15" >
		<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">{$smarty.const.text_close}</a><img src="{$PRODUCTS_IMAGE_4|replace:"info_images":"popup_images"}" alt="{$PRODUCTS_NAME}">
	</div>
		
</div>
{/if}
  
<div id="product-details">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="right" valign="top" style="padding-top: 13px">{$smarty.const.text_pi_price}</td>
        <td align="left" valign="top"><span class="product_price">{$PRODUCTS_PRICE}</span><br />
          <small>{$PRODUCTS_TAX_INFO}{if $PRODUCTS_SHIPPING_LINK}{$PRODUCTS_SHIPPING_LINK|replace:"popup_content":"shop_content"|replace:"title":"data-rel='dialog' title"|replace:"_blank":"_self"}</small>{/if}</td>
      </tr>
      {if $PRODUCTS_VPE}<tr>
        <td align="right" valign="top">{$smarty.const.text_pi_unit}</td>
        <td align="left" valign="top">{$PRODUCTS_VPE}</td>
      </tr>{/if}
      {if $MODULE_graduated_price !=''}<tr>
        <td align="right" valign="top"></td>
        <td align="left" valign="top">{$MODULE_graduated_price}</td>
      </tr>{/if}
      {if $SHIPPING_NAME}<tr>
        <td align="right" valign="top">{#text_shippingtime#}</td>
        <td align="left" valign="top">{if $SHIPPING_IMAGE}<img src="{$SHIPPING_IMAGE}" alt="{$SHIPPING_NAME}" />{/if} {$SHIPPING_NAME}</td>
      </tr>{/if}
      {if $PRODUCTS_MODEL!=''}<tr>
        <td align="right" valign="top">{#model#}</td>
        <td align="left" valign="top">{$PRODUCTS_MODEL}</td>
      </tr>{/if}
      {if $PRODUCTS_FSK18=='true'}<tr>
        <td align="right" valign="top">{$smarty.const.text_pi_fsk}</td>
        <td align="left" valign="top"><img src="{$tpl_path}img/fsk18.gif" alt="FSK 18" style="cursor:default" /></td>
      </tr>{/if}
      {if $PRODUCTS_URL != ''}<tr>
        <td align="right" valign="top">{$smarty.const.text_pi_url}</td>
        <td align="left" valign="top">{$PRODUCTS_URL}</td>
      </tr>{/if}
      {if $PRODUCTS_DATE_AVIABLE != ''}<tr>
        <td align="right" valign="top">{$smarty.const.text_pi_available}</td>
        <td align="left" valign="top">{$PRODUCTS_DATE_AVIABLE}</td>
      </tr>{/if}
    </table>
</div>

<div class="cartblock">
    <!-- BOF - Tomcraft - 2009-11-28 - Included xs:booster //--> 
    {if $XTB_REDIRECT_USER_TO=='product'}<div style='width:400px;padding:10px;color:white;background-color:green;'><strong>Sie haben die eBay Auktion gewonnen!</strong><br/>Bitte w&auml;hlen Sie nun noch die gew&uuml;nschten Produkteigenschaften und legen Sie den Artikel danach in den Warenkorb, um mit der Zahlung fortzufahren und das Produkt versandfertig zu machen!</div>{/if}
    <!-- EOF - Tomcraft - 2009-11-28 - Included xs:booster //-->
    <div class="addtobasket">
      {if $MODULE_product_options !=''}
      <div class="hide-basket">
      {/if}
      {if $ADD_QTY}
      <div data-role="stepper" data-theme="d"><input data-role="none" class="quantity" type="text" name="products_qty" value="1" min="1" max="50"  /></div>
      <input type="hidden" name="products_id" value="{$PRODUCTS_ID}" />
      {/if}
      {if $ADD_CART_BUTTON}
      <input type="submit" title="{$smarty.const.IMAGE_BUTTON_IN_CART}" alt="{$smarty.const.IMAGE_BUTTON_IN_CART}" value="{$smarty.const.IMAGE_BUTTON_IN_CART}" data-theme="b" data-icon="plus">
      {/if}
      {if $MODULE_product_options !=''}
      </div>
      {/if}        
    </div>
</div>
<br />

</div>
</div>
<div class="content-primary">

{if $MODULE_product_options !=''}
    <div class="product_options">{$MODULE_product_options}</div>
{/if}   
{$FORM_END}

<div data-role="collapsible-set" id="collapsible-tabs" data-inset="false">  
  {if $PRODUCTS_DESCRIPTION !=''}
      <div data-role="collapsible" data-collapsed="false">
      <h3>{$smarty.const.text_description}</h3>
      <div>{$PRODUCTS_DESCRIPTION}</div>
      </div>
  {/if}
  {if $MODULE_products_media != ''}
      <div data-role="collapsible">
      <h3>{$smarty.const.text_products_media}</h3>
      <div>{$MODULE_products_media}</div>
      </div>
  {/if}
  {if $MODULE_products_reviews != ''}
      <div data-role="collapsible">
      <h3>{$smarty.const.text_products_reviews}</h3>
      <div>{$MODULE_products_reviews}</div>
      </div>
  {/if}
  {if $MODULE_cross_selling != '' || $MODULE_reverse_cross_selling != ''}
      <div data-role="collapsible">
      <h3>{$smarty.const.text_cross_selling}</h3>
      <div>{$MODULE_cross_selling}{if $MODULE_reverse_cross_selling != ''}{$MODULE_reverse_cross_selling}{/if}</div>
      </div>
  {/if}
  {if $MODULE_also_purchased != ''}
      <div data-role="collapsible">
      <h3>{$smarty.const.text_also_purchased}</h3>
      <div>{$MODULE_also_purchased}</div>
      </div>
  {/if} 
</div>

</div><div style="clear:both"> </div>

{if $PRODUCT_NAVIGATOR}<div class="page-navi">{$PRODUCT_NAVIGATOR}</div>{/if}