{config_load file="$language/lang_$language.conf" section="categorie_listing"}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
    <td valign="top" class="c_listing">
	<h1 class="new">{$CATEGORIES_NAME}</h1>
    <div class="s_12"></div>
	<!--
    {$CATEGORIES_HEADING_TITLE}
	<div class="s_12"></div>
    -->
	{if $CATEGORIES_DESCRIPTION}{$CATEGORIES_DESCRIPTION}{/if} 
    </td>

    <!--
    <td valign="top"> 
    	<div align="right">{if $CATEGORIES_IMAGE}<img src="{$CATEGORIES_IMAGE}" alt="{$CATEGORIES_IMAGE}" width="50" />{/if}</div>
    </td>
    -->
</tr>
</table>
 
<div style="height:32px;"></div>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>

{foreach name=aussen item=module_data from=$module_content} 
{php} 
$col++; 
if ($col==1) 
{ 
	echo '<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr>';
}
{/php} 

    <td width="33%">
	<div align="center">
		{if $module_data.CATEGORIES_IMAGE}<a href="{$module_data.CATEGORIES_LINK}"><img src="{$module_data.CATEGORIES_IMAGE}" alt="{$module_data.CATEGORIES_NAME}" border="0" title="{$module_data.CATEGORIES_NAME}" /></a>{/if}
		<div align="center" class="s_12"></div>
		<strong><a class="show_categorie" href="{$module_data.CATEGORIES_LINK}">{if $module_data.CATEGORIES_HEADING_TITLE != ''}{$module_data.CATEGORIES_HEADING_TITLE}{else}{$module_data.CATEGORIES_NAME}{/if}</a></strong> 
    </div>
	</td>

{php} 
if ($col>=3) 
{ 
	$col=0; 
	echo '</tr></table><div style="height:25px;"></div>';
} 
{/php} 
{/foreach}


{php} 
if ($col==1) 
{ 
	echo '<td width="33%">&nbsp;</td><td width="33%">&nbsp;</td></tr></table>';
} 
if ($col==2) 
{ 
	echo '<td width="33%">&nbsp;</td></tr></table>';
} 
{/php}


<br /><br />
{*$MODULE_new_products*}