{config_load file="$language/lang_$language.conf" section="product_info"}{$PRODUCT_NAVIGATOR}{$FORM_ACTION}<table width="100%" border="0">  <tr>     <td><table width="100%" border="0" cellpadding="0" cellspacing="0">        <tr>          <td class="main"><table width="100%" border="0">              <tr bgcolor="#CEDFFF">                <td class="contentsTopics">{$PRODUCTS_NAME}</td>                
<td align="right"><strong>{if $DISCOUNT == ''}{$PRODUCTS_PRICE}{/if}{$TOTAL}</strong><br />
  {$PRODUCTS_TAX_INFO}{if $PRODUCTS_SHIPPING_LINK}{$PRODUCTS_SHIPPING_LINK}{/if}</td>              </tr>            </table>            {if $PRODUCTS_VPE}{$PRODUCTS_VPE}<br />{/if}             {if $PRODUCTS_MODEL!=''}{#model#} {$PRODUCTS_MODEL}{/if}			 {$PRODUCTS_DISCOUNT}<br />            {#print#}{$PRODUCTS_PRINT}<br />			{if $SHIPPING_NAME}            <table width="200" border="0" cellpadding="0" cellspacing="0">              <tr valign="middle">                <td class="main">{#text_shippingtime#}</td>                {if $SHIPPING_IMAGE}<td><img src="{$SHIPPING_IMAGE}" alt="{$SHIPPING_NAME}" /></td>                {/if}                <td class="main">{$SHIPPING_NAME}</td>              </tr>            </table>			{/if}          </td>        </tr>      </table>      <table width="100%" border="0">        <tr>          <td style="border-right: 1px solid; border-color: #cccccc;" valign="top" align="center">              <table width="1" border="0" cellspacing="0" cellpadding="0">                <tr>                  <td align="center">                      <table width="1" border="0" cellpadding="5" cellspacing="0">                        <tr>                          
  
<td>{if $PRODUCTS_IMAGE!=''}
	<a href="{$PRODUCTS_IMAGE_POPUP}" rel="lightbox[1]" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE}" alt="{$PRODUCTS_NAME} im Esoterik Online Shop preiswert zu kaufen, Engel Tarot und Kartenlegen online Shop" title="{$PRODUCTS_NAME} im Esoterik Online Shop preiswert zu kaufen, Engel Tarot und Kartenlegen online Shop" /></a>
	{/if}
</td>
  
  
  </tr>                        
  
<!-- more images -->
{if $PRODUCTS_IMAGE_1 != ''}
<tr>
<td style="border-top: 1px solid; border-color: #cccccc;">
	<a href="{$PRODUCTS_IMAGE_POPUP_1}" rel="lightbox[1]" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE_1}" alt="{$PRODUCTS_NAME}" /></a>
</td>
</tr>
{/if}

{if $PRODUCTS_IMAGE_2 != ''}
<tr>
<td style="border-top: 1px solid; border-color: #cccccc;">
	<a href="{$PRODUCTS_IMAGE_POPUP_2}" rel="lightbox[1]" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE_2}" alt="{$PRODUCTS_NAME}" /></a>
</td>
</tr>
{/if}


{if $PRODUCTS_IMAGE_3 != ''}
<tr>
<td style="border-top: 1px solid; border-color: #cccccc;">
	<a href="{$PRODUCTS_IMAGE_POPUP_3}" rel="lightbox[1]" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE_3}" alt="{$PRODUCTS_NAME}" /></a>
</td>
</tr>
{/if}<!-- more images eof -->                                                                                         </table>                      <br />{if $PRODUCTS_IMAGE_LINK!=''}<a href="{$PRODUCTS_IMAGE_LINK}" onclick="window.open(this.href); return false;">{$PRODUCTS_TEXT_ZOOM}</a><br />{/if}                      {if $PRODUCTS_FSK18=='true'}					  <br />					  <img src="{$tpl_path}img/fsk18.gif" alt="" />					  {/if}					  {if $MODULE_graduated_price !=''} {$MODULE_graduated_price}<br />                      <br /><br />{/if}				  </td>                </tr>              </table></td>          <td class="main" valign="top">{if $PRODUCTS_DESCRIPTION !=''}{$PRODUCTS_DESCRIPTION}<br />{/if}            <br />{if $MODULE_product_options !=''}{$MODULE_product_options}<br />{/if}            <table width="300"  border="0">              <tr>                <td class="main" valign="middle"><table width="100"  border="0">                  <tr>                    <td>{$ADD_QTY}</td>                    <td>{$ADD_CART_BUTTON}</td>                    </tr></table></td>              </tr>            </table>          </td>        </tr>      </table>          </td>  </tr></table>{if $PRODUCTS_URL != ''} <table width="100%" border="0" class="boxTextBG">  <tr>     <td align="center">{$PRODUCTS_URL}<br /></td>  </tr></table>{/if}{if $PRODUCTS_DATE_AVIABLE != ''} <table width="100%" border="0" class="boxTextBG">  <tr>     <td align="center">{$PRODUCTS_DATE_AVIABLE}<br /></td>  </tr></table>{/if} {if $PRODUCTS_ADDED != ''} <table width="100%" border="0" class="boxTextBG">  <tr>     <td align="center">{$PRODUCTS_ADDED}<br /></td>  </tr></table>{/if}{if $MODULE_products_reviews != ''}<table width="100%" border="0">  <tr>      <td>{$MODULE_products_reviews}<br /></td>  </tr></table>{/if}{if $MODULE_products_media != ''}  <table width="100%" border="0">    <tr>       <td align="center">{$MODULE_products_media}<br /></td>    </tr>  </table>{/if} {if $MODULE_cross_selling != ''} <table width="100%" border="0">  <tr>     <td align="center">{$MODULE_cross_selling}<br /></td>  </tr></table>{/if} {if $MODULE_reverse_cross_selling != ''} <table width="100%" border="0">  <tr>     <td align="center">{$MODULE_reverse_cross_selling}<br /></td>  </tr></table>{/if}
  {if $MODULE_also_purchased != ''} <table width="100%" border="0">    <tr>       <td align="center">{$MODULE_also_purchased}<br /></td>    </tr>  </table>{/if}{$FORM_END}