<body bgcolor="#dddddd">
<div align="center">
<img src="newsletter-grafik.jpg" width="817" height="1615" border="0" usemap="#Map">
<map name="Map">
  <area shape="rect" coords="0,1,816,152" href="http://www.esoterikshopping.de/" target="_blank">
  <area shape="rect" coords="2,166,817,200" href="http://www.esoterikshopping.de/Edelsteinschmuck/Astrologische-Edelsteine" target="_blank">
  <area shape="rect" coords="68,234,738,436" href="http://www.esoterikshopping.de/Edelsteinschmuck/Astrologische-Edelsteine" target="_blank">
  <area shape="rect" coords="40,607,627,748" href="http://www.esoterikshopping.de/products/Duftlampen-Aromalampen-Duft-Drops/Duftlampen/Duftlampe-Kesselchen-rund.html" target="_blank">
  <area shape="rect" coords="38,815,200,1042" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Tarotbeutel-aus-Samt-und-Satin-fuer-Orakel-und-Wahrsagekarten/Tarotbeutel-Magier.html" target="_blank">
  <area shape="rect" coords="221,817,382,1046" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Tarotbeutel-aus-Samt-und-Satin-fuer-Orakel-und-Wahrsagekarten/Tarotbeutel-Drachen.html" target="_blank">
  <area shape="rect" coords="408,816,570,1047" href="http://www.esoterikshopping.de/products/Magische-Schreibstube/Siegel-Petschaft-Siegelwachs/Pentagramm-Siegel-und-Siegelwachs.html" target="_blank">
  <area shape="rect" coords="593,817,755,1046" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Tarot-Karten-Decks-Tarots/Spirituelle-psychologische-moderne-Tarot-Decks/Buch-der-Schatten-Tarot-Teil-I.html" target="_blank">
  <area shape="rect" coords="36,1082,198,1313" href="http://www.esoterikshopping.de/products/Raeucherstaebchen-Halter-Raeucherkegel-Koros/Koros-Raeucherstaebchenhalter/Raeucherstaebchenhalter-Goldene-Sonne.html" target="_blank">
  <area shape="rect" coords="222,1083,381,1314" href="http://www.esoterikshopping.de/products/Raeucherstaebchen-Halter-Raeucherkegel-Koros/Nag-Champa-Raeucherstaebchen/Golden-Nag-Patchouli-Raeucherstaebchen.html" target="_blank">
  <area shape="rect" coords="412,1083,570,1312" href="http://www.esoterikshopping.de/products/Duftlampen-Aromalampen-Duft-Drops/Pajoma-Duftoele/Opium-Duftoel-10ml.html" target="_blank">
  <area shape="rect" coords="594,1082,754,1313" href="http://www.esoterikshopping.de/Meditation-Musik/Klangschalen-Choe-pa" target="_blank">
  <area shape="rect" coords="155,1341,657,1380" href="http://www.esoterikshopping.de/specials.php" target="_blank">
  <area shape="rect" coords="561,1588,646,1611" href="http://www.esoterikshopping.de/newsletter.php" target="_blank">
</map>
</div>
</body>