<table  width="100%" border="0" align="center" cellpadding="4" cellspacing="0" style="font-size:12px; font-family:Arial, Helvetica, sans-serif; ">
<tr> 
<td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo_email.jpg"></div></td>
</tr>
<tr> 
<td><strong>Hallo {$NAME}, </strong><br>
<br>
Es wurde ein Account f&uuml;r Sie eingerichtet, Sie k&ouml;nnen mit folgenden Daten in Unseren Shop einloggen. <br>
<br>
{if $COMMENTS} Anmerkungen: {$COMMENTS} <br>{/if}
<br>
<br>
Ihre Logindaten f&uuml;r unseren Shop:<br> 
<br>
Email: {$EMAIL}
<br>
Ihr Passwort: {$PASSWORD}</td>
</tr>
</table><br>
<table style="border-top:1px solid; border-bottom:1px solid; font-family:Arial, Helvetica, sans-serif; font-size:9px; " width="100%" border="0" cellpadding="3" cellspacing="0">
  <tr>
    <td valign="top"><strong>Ihr Esoterikshopping Team</strong><br />
      Spart-Bares GbR<br />
      Gesellschafter: 
      H.Klinzmann und U. Dittrich <br />
      Humboldtstr. 134<br />
      90459 N&uuml;rnberg<br />
      Umsatzsteuer-Identifikationsnummer: DE 234465241<br />
      <br />
      <a href="http://www.esoterikshopping.de" target="_blank">www.esoterikshopping.de</a><br />
      E-mail: bestellung@esoterikshopping.de<br />
      Tel.: 08404 - 939 264<br />
      Fax: 08404 - 939 265</td>
    <td valign="top"><strong>Bankverbindung</strong><br />
      Empf&auml;nger: Esoterikshopping <br />
      Dresdner Bank N&uuml;rnberg <br />
      Kto: 154379901<br />
      Blz : 76080040<br />
      <br />
      Aus dem Ausland:<br />
      BIC: DRES DE FF <br />
      IBAN: DE17 76080040 0154379901 <br />
      &Uuml;ber Paypal: <br />
      <a href="mailto:paypal@spart-bares.de">paypal@spart-bares.de</a></td>
    <td valign="top"><strong>Telefonisch erreichbar:</strong><br />
      Montag - Donnerstag: 09.00 - 17.00<br />
      Freitag: 09.00 - 15.00</td>
  </tr>
</table>
