<body bgcolor="#dddddd">
<div align="center">
<img src="newsletter-grafik.jpg" width="817" height="1615" border="0" usemap="#Map">
<map name="Map">
  <area shape="rect" coords="0,1,816,152" href="http://www.esoterikshopping.de/" target="_blank">
  <area shape="rect" coords="2,166,817,200" href="http://www.esoterikshopping.de/Aetherische-Oele-Ritual-Oele/Anna-Riva-Oele" target="_blank">
  <area shape="rect" coords="127,379,692,582" href="http://www.esoterikshopping.de/Aetherische-Oele-Ritual-Oele/Anna-Riva-Oele" target="_blank">
  <area shape="rect" coords="28,628,577,746" href="http://www.esoterikshopping.de/Duftlampen-Aromalampen-Duft-Drops/Pajoma-Duftoele-Winter" target="_blank">
  <area shape="rect" coords="27,801,202,939" href="http://www.esoterikshopping.de/products/Winterzeit/Engelbuesten-auf-jeweils-einem-Glasstein-2er-Set.html" target="_blank">
  <area shape="rect" coords="219,800,384,939" href="http://www.esoterikshopping.de/products/Winterzeit/Engelkerze-in-Dose-mit-Vanilleduft.html" target="_blank">
  <area shape="rect" coords="408,795,583,940" href="http://www.esoterikshopping.de/products/Duftlampen-Aromalampen-Duft-Drops/Duftlampen/Duftlampe-Engelchen-aus-Keramik.html" target="_blank">
  <area shape="rect" coords="608,796,770,938" href="http://www.esoterikshopping.de/products/Geschenkideen/bis-10-Euro/Mini-Engel-Schneekugel.html" target="_blank">
  <area shape="rect" coords="35,1048,199,1191" href="http://www.esoterikshopping.de/products/Winterzeit/Engelkerze-in-Gold-Glas-mit-Vanilleduft.html" target="_blank">
  <area shape="rect" coords="219,1052,387,1191" href="http://www.esoterikshopping.de/products/Engel-Engelfiguren-mystische-Figuren-Gargoyles/Engel-Miniaturen-kleine-Engelfiguren/Grosse-Schale-Engelkind-Sophia.html" target="_blank">
  <area shape="rect" coords="434,1045,545,1193" href="http://www.esoterikshopping.de/products/Esoterische-Buecher-Lehrbuecher/Feen-Elfen-und-Engel-Buecher/Engel-und-ihre-Geheimnisse.html" target="_blank">
  <area shape="rect" coords="618,1043,738,1190" href="http://www.esoterikshopping.de/products/Engel-Engelfiguren-mystische-Figuren-Gargoyles/Engel-Miniaturen-kleine-Engelfiguren/Himmlischer-Wunschengel-Faith.html" target="_blank">
  <area shape="rect" coords="153,1315,655,1354" href="http://www.esoterikshopping.de/specials.php" target="_blank">
  <area shape="rect" coords="561,1588,646,1611" href="http://www.esoterikshopping.de/newsletter.php" target="_blank">
</map>
</div>
</body>