{config_load file="$language/lang_$language.conf" section="account"}
{$error_message}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td class="moduleHeading" align="left">Ihr pers&ouml;nliches Kundenkonto bei Esoterikshopping.de<div style="height:6px;"></div>
        <span style="font-size:12px;font-weight:normal;">Hier finden Sie einen &Uuml;berblick &uuml;ber Ihre get&auml;tigten Bestellungen sowie eine Auflistung Ihrer zuletzt besuchten Produkte.</span></td>
	</tr>
</table>
<br /><br />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td class="moduleHeading" align="left" style="border-bottom:1px solid #999;">Ihre pers&ouml;nlichen Einstellungen</td>
	</tr>
			  <tr> 
                <td height="25" class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_EDIT}">{#text_edit#}</a></td>
              </tr>
              <tr> 
                <td height="25" class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_ADDRESS}">{#text_address#}</a></td>
              </tr>
              <tr> 
                <td height="25" class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_PASSWORD}">{#text_password#}</a></td>
              </tr>
              <tr> 
                <td height="25" class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="../newsletter.php">Newsletter eintragen/austragen</a></td>
              </tr>              
</table>

{if $order_content}
<br /><br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
	<td class="moduleHeading" align="left" style="border-bottom:1px solid #999;">Meine letzten Bestellungen <a href="{$LINK_ALL}">(Alle anzeigen)</a></td>
	
    <table width="100%" border="0" cellspacing="0" cellpadding="4">
    <tr> 
    	<td valign="middle" class="main"> 
        {foreach name=aussen item=order_data from=$order_content} 
        <table width="100%" border="0" cellspacing="0" cellpadding="3" style="border:1px solid #896B2B;background:#efefef;padding:5px;">
        <tr> 
        	<td rowspan="2" valign="top" class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /></td>
            <td class="main"><a href="{$order_data.ORDER_LINK}">{$order_data.ORDER_DATE}</a>&nbsp;&nbsp;{#order_nr#}{$order_data.ORDER_ID}</td>
            <td class="main">{#order_total#}{$order_data.ORDER_TOTAL}</td>
        </tr>
        
        <tr> 
        	<td class="main">&nbsp;&nbsp;{#order_status#}{$order_data.ORDER_STATUS}{if $order_data.SENDUNGSVERFOLGUNG}<br />Sendungsverfolgung: {$order_data.SENDUNGSVERFOLGUNG}{/if}</td>
	        <td class="main">{$order_data.ORDER_BUTTON}</td>
        </tr>
        </table>
        <div style="height:6px;"></div>
        {/foreach}
       
        </td>
</tr>
</table>         
{/if} 

{if $products_history}
<br /><br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="moduleHeading" align="left" style="border-bottom:1px solid #999;">Ihre zuletzt aufgerufenen Artikel</td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td valign="middle" class="main"> 

	<table width="100%" border="0" cellspacing="0" cellpadding="3">
    {foreach name=history_products item=products_history from=$products_history} 
    <tr>
    	<td rowspan="4" valign="top" class="main" style="border-bottom: 1px solid; border-color: #cccccc;">{if $products_history.PRODUCTS_IMAGE!=''}<a href="{$products_history.PRODUCTS_LINK}"><img src="{$products_history.PRODUCTS_IMAGE}" alt="{$products_history.PRODUCTS_NAME}" border="0" /></a>{/if}</td>
	    <td valign="top" class="main"><a href="{$products_history.PRODUCTS_LINK}">{$products_history.PRODUCTS_NAME}</a></td>
    </tr>
    <tr> 
    	<td valign="bottom" class="main">{$products_history.PRODUCTS_PRICE}<br />
		{if $products_history.PRODUCTS_VPE}{$products_history.PRODUCTS_VPE}<br />{/if}
		{$products_history.PRODUCTS_TAX_INFO}{$products_history.PRODUCTS_SHIPPING_LINK}<br />
		</td>
    </tr>
    <tr>
    	<td valign="bottom" class="main"><a href="{$products_history.PRODUCTS_LINK}"></a><a href="{$products_history.PRODUCTS_CATEGORY_URL}">{#text_goto_cat#}</a></td>
    </tr>
    <tr> 
    	<td valign="top" class="main" style="border-bottom: 1px solid; border-color: #cccccc;">{$products_history.BUY_NOW_BUTTON}</td>
    </tr>
    {/foreach} 
	</table>
</td>
</tr>
</table>
{/if} 

<br />
{if $LINK_LOGIN}
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr>
          <td valign="top" class="main"><img src="{$tpl_path}img/arrow_green.gif" alt="" /><a href="{$LINK_LOGIN}"><strong>{#text_login#}</strong></a></td>
        </tr>
      </table> 
      {/if}