{config_load file="$language/lang_$language.conf" section="account_history"}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td class="moduleHeading" align="left">{#heading_history#}</td>
	</tr>
</table>
<br />

{foreach name=aussen item=order_data from=$order_content}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="moduleHeading" align="left">{#text_oid#}{$order_data.ORDER_ID}</td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="3" style="font-family:Arial;padding:5px;border:1px solid #999;font-size:12px;">
<tr> 
<td class="main">
	<strong>{#text_date#}</strong>{$order_data.ORDER_DATE}<br />
    <strong>{#text_articles#}</strong>{$order_data.ORDER_PRODUCTS}<br />
    <strong>{#text_total#}</strong>{$order_data.ORDER_TOTAL}<br />
    <strong>{#text_status#}</strong>{$order_data.ORDER_STATUS}<br />
    {$order_data.ORDER_BUTTON}<br />
    </td>
        </tr>
</table><br />
{/foreach}
	 
<div align="right"><br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><div align="right"><br />{$BUTTON_BACK}</div></td>
</tr>
</table>
<br />
</div>
