{config_load file="$language/lang_$language.conf" section="account_history_info"}
{config_load file="$language/lang_$language.conf" section="print_order"}
{config_load file="$language/lang_$language.conf" section="product_info"}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="moduleHeading" align="left">
	{#text_oid#}{$ORDER_NUMBER} ({$ORDER_STATUS})<br />
    <font size="1">{#text_date#} {$ORDER_DATE} </font></font>
</td>
</tr>
</table>
<br />

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;font-size:13px;">
<tr> 
<td>
	<strong>{#text_shipping_address#}</strong><br />{$DELIVERY_LABEL}
</td>
<td>
	{if $BILLING_LABEL}<strong>{#text_payment_address#}</strong><br />{$BILLING_LABEL}{/if}
</td>
</tr>
</table>
<br />

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;font-size:13px;">
<tr> 
<td>
	<strong>{#text_shipping_method#}</strong><br />{$SHIPPING_METHOD}<br /><br />
    {if $PAYMENT_METHOD}<strong>{#text_payment_method#}</strong><br />{$PAYMENT_METHOD}{/if}    
</td>
</tr>
</table>
<br />

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;font-size:13px;">
<tr> 
<td>
	<strong>{#title_history#}</strong><br />
    {$HISTORY_BLOCK}
</td>
</tr>
</table>
<br />

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;font-size:13px;">
<tr> 
<td>
	<strong>{#text_products#}</strong>
</td>
</tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr> 
<td style="border: 1px solid; border-color: #cccccc;" class="main"> 
	<table style="border-bottom:1px solid;" width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial;">
	<tr> 
    <td><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><strong>{#heading_products#}</strong></font></td>
	</tr>
	<tr>
    <td>
		<table width="100%" border="0" cellpadding="3" cellspacing="0">
        <tr> 
        <td width="30" colspan="2" class="infoBoxHeading"><div align="center"><strong><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{#head_units#}</font></strong></div></td>
        <td width="250" class="infoBoxHeading"><strong><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{#head_products#}</font></strong></td>
        <td width="80" class="infoBoxHeading"><strong><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{#head_artnr#}</font></strong></td>
        <td width="80" class="infoBoxHeading"><strong><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{#head_single_price#}</font></strong></td>
        <td width="80" class="infoBoxHeading" width="150"><div align="right"><strong><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{#head_price#}</font></strong></div></td>
        </tr>
        {foreach name=aussen item=order_values from=$order_data} 
        <tr> 
        <td width="20" style="border-right: 2px solid; border-bottom: 2px solid; border-color: #ffffff;"><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{$order_values.PRODUCTS_QTY}</font></div></td>
        <td width="10" style="border-right: 2px solid; border-bottom: 2px solid; border-color: #ffffff;"><div align="center"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">x</font></div></td>
        <td style="border-right: 2px solid; border-bottom: 2px solid; border-color: #ffffff;"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><strong>{$order_values.PRODUCTS_NAME}</strong><em>{$order_values.PRODUCTS_ATTRIBUTES}</em></font></td>
        <td style="border-right: 2px solid; border-bottom: 2px solid; border-color: #ffffff;"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{$order_values.PRODUCTS_MODEL}<em>{$order_values.PRODUCTS_ATTRIBUTES_MODEL}</em></font></td>
        <td style="border-right: 2px solid; border-bottom: 2px solid; border-color: #ffffff;"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{$order_values.PRODUCTS_SINGLE_PRICE}</font></td>
        <td style="border-right: 2px solid; border-bottom: 2px solid; border-color: #ffffff;" width="150"><div align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{$order_values.PRODUCTS_PRICE}</font></div></td>
        </tr>
        {/foreach}
        </table>
	</td>
	</tr>
	</table>

	<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
    <td>
		<table width="100%" border="0" cellpadding="3" cellspacing="0">
		{foreach name=aussen item=order_total_values from=$order_total}
		<tr> 
	    <td nowrap="nowrap" width="100%" style="border-right: 2px solid; border-bottom: 2px solid; border-color: #ffffff;"><div align="right"><font size="1" face="Arial, Helvetica, sans-serif">{$order_total_values.TITLE} {$order_total_values.TEXT}</font></div></td>
		</tr>
		{/foreach} 
		</table>
	</td>
	</tr>
	</table>	  

</td>
</tr>
</table>

{if $downloads_content neq ''}
  {$downloads_content}
{/if}
<div align="right"><br />
  <table width="100%"  border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="main"><span class="main"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>
        {#title_print#}
      </strong></font><br />
      {#text_print#}
      <br />
      {$BUTTON_PRINT}
      </span></td>
      <td align="right" valign="top">{$BUTTON_BACK}</td>
    </tr>
  </table>
  <br />
</div>
