{config_load file="$language/lang_$language.conf" section="address_book"}
{$FORM_ACTION}
{if $error!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$error}</td>
  </tr>
</table>
<br />
<br />
{/if} 

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td class="moduleHeading" align="left">Pers&ouml;nliches Adressbuch<div style="height:6px;"></div>
        <span style="font-size:12px;font-weight:normal;">Hier k&ouml;nnen Sie Ihre Adressen verwalten, &auml;ndern und/oder l&ouml;schen.</span></td>
	</tr>
</table>
<br /><br />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td class="moduleHeading" align="left" style="border-bottom:1px solid #999;">Standardadresse</td>
	</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td>
	
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px;font-family:Arial;">
    <tr>
    <td width="65%" class="main">
    	Diese Adresse wird automatisch als <strong>Liefer- und Rechnungsadresse</strong> gew&auml;hlt wenn Sie eine Bestellung aufgeben.<br /><br />
	    <strong>Diese Adresse wird auch als Basis f&uuml;r die Berechnung eventueller Steuern und Versandkosten verwendet.</strong></td>
    <td width="35%">

	    <table width="96%" border="0" align="right" cellpadding="6" cellspacing="2">
		<tr> 
        <td align="left" bgcolor="#8F7238" style="color:#fff;border:1px solid #333;">{$ADDRESS_DEFAULT}</td>
        </tr>
        </table>
        
    </td>
    </tr>
    </table>
    
</td>
</tr>
</table>

<br />
<br />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td class="moduleHeading" align="left" style="border-bottom:1px solid #999;">Adressbucheintr&auml;ge</td>
	</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td>

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
    <td valign="top" class="main">
     <div style="height:6px;"></div>
    {foreach name=aussen item=addresses from=$addresses_data} 
    
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #8F7238;background:#efefef;padding:3px;">
        <tr class="moduleRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
        <td colspan="2" class="main"><strong>{$addresses.NAME}</strong> {if $addresses.PRIMARY=='1'} 
          <em>({#title_standard#})</em> {/if}</td>
        </tr>
        <tr>
        <td class="main">{$addresses.ADDRESS}</td>
        <td align="right" style="padding:5px;">{$addresses.BUTTON_EDIT}<br />
          {$addresses.BUTTON_DELETE}</td>
        </tr>
        </table>
        <div style="height:6px;"></div>
	
    {/foreach}

	</td>
    </tr>
    </table>

</td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
  <tr>
    <td>{$BUTTON_BACK}</td>
    <td align="right">{$BUTTON_NEW}<br /></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
		<tr>
          <td class="main">{$ADDRESS_COUNT}</td>
        </tr>
</table>