{config_load file="$language/lang_$language.conf" section="checkout_new_address"}

<section class="checkout-process-stage">
    <h2>Neue Adresse eingeben:</h2>
    <p>{#text_current_address#}</p>

    <div id="create-account">

        <div class="create-account-stage">
            {if $gender=='1'} 
                <label style="margin-bottom: 8px;">{#text_gender#}</label>
                {$INPUT_MALE}&nbsp;&nbsp;&nbsp;{$INPUT_FEMALE}
                <br />
            {/if}

            <div class="add-textfield-class">
                <label>{#text_firstname#}</label>
                {$INPUT_FIRSTNAME}
                <br />  

                <label>{#text_lastname#}</label>
                {$INPUT_LASTNAME}
                <br />   

                {if $company=='1'}
                    <label>{#text_company#}</label>
                    {$INPUT_COMPANY}
                    <br />
                {/if}

                <label>{#text_street#}</label>
                {$INPUT_STREET}
                <br />    

                {if $suburb=='1'} 
                    <label>{#text_suburb#}</label>
                    {$INPUT_SUBURB}
                    <br />  
                {/if} 

                <label>{#text_code#}</label>
                {$INPUT_CODE}
                <br />    
                
                <label>{#text_city#}</label>
                {$INPUT_CITY}
                <br />  

                {if $state=='1'} 
                    <label>{#text_state#}</label>
                    {$INPUT_STATE}
                    <br />  
                {/if} 

                <label>{#text_country#}</label>
                {$SELECT_COUNTRY}
                <br />  

                {if $new=='1'} 
                    <label>{#CHECKBOX_PRIMARY#}</label>
                    {$text_standard}
                    <br />  
                {/if}                                        

            </div>          

        </div>

    </div>
</section>
