{config_load file="$language/lang_$language.conf" section="checkout_payment"}

<div id="checkout-process">
{$FORM_ACTION}

    <div id="process-arrows">
        <div class="arrow-body first">
            <p>Versand</p>
            <div class="arrow-end first"></div>
        </div>
        

        <div class="arrow-body second active">
            <p>Zahlung</p>
            <div class="arrow-end second active"></div>
        </div>
            
        
        <div class="arrow-body third ">
            <p>&Uuml;bersicht</p>
            <div class="arrow-end third"></div>
        </div>
        

        <div class="arrow-body fourth">
            <p>Fertig!</p>
            <div class="arrow-end fourth"></div>
        </div>
    </div>    

    <header>
        <div class="header">
            <h1>{#heading_payment#}</h1>
        </div>
    </header>

    {if $error!=''}
    <table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBoxNotice">
        <tr class="infoBoxNoticeContents">
            <td>
                <table border="0" width="100%" cellspacing="0" cellpadding="2">
                    <tr>
                        <td>&nbsp;</td>
                        <td class="main" width="100%" valign="top">{$error}</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br />
    {/if}    

    <section class="checkout-process-stage address">
        <h2>{#title_address#}</h2>
        <p>{#text_address#}</p>

        <div class="block left">
            <p>Aktuelle Rechnungsadresse:</p><br />
            {$ADDRESS_LABEL}
        </div>

        <div class="block right">
            <p>M&ouml;chten Sie Ihre Rechnungsadresse &auml;ndern?</p><br />
            {$BUTTON_ADDRESS}
        </div>        

        <div class="clearer"></div>
    </section>    

    <section class="checkout-process-stage payment">
        <h2>{#title_payment#}</h2>
        <p>{#text_payment#}</p>
        {if $GV_COVER!='true'}
            {$PAYMENT_BLOCK}
            {$module_gift}
        {else}
            {#text_gccover#} 
        {/if}
    </section>  

    <section class="checkout-process-stage">
        <h2>Ihr Kommentar?</h2>
        <p>{#title_comments#}</p>
        {$COMMENTS}
    </section>         

    <section class="checkout-process-stage conditions">
        <h2>{#title_agb#}</h2>
        <p class="condition-stage">
            {$AGB_checkbox}
            <span class="condition-text">Ich habe die <strong class="agb">allgemeinen Gesch&auml;ftsbedingungen</strong> gelesen und akzeptiert</span>
        </p>
    </section>   

    <section class="continue full-width">
        <h2>{#title_continue#}</h2>
        <div>
            <!--<p>{#text_continue#}</p>
            <p>{$BUTON_CONTINUE}</p>-->
            <p><button class="btn">Weiter zum letzten Schritt!</button></p>
        </div>
        <div class="clearer"></div>
    </section>     

<div id="dialog-agb"></div>
<div id="dialog-choose-payment-method"></div>
<div id="dialog-invoice-aufschlag" title="Warum dieser Aufschlag bei der Zahlart 'auf Rechnung' ?">
    <p>Bei Zahlung auf Rechnung ist der Rechnungsbetrag nach Erhalt der Ware innerhalb von 7 Tagen zu begleichen. 
        Wenn Sie die Zahlart "Rechnung" w&auml;hlen wird nach dem Kauf eine Bonit&auml;tspr&uuml;fung vorgenommen. 
        F&uuml;r die Kosten, die uns daf&uuml;r entstehen, erheben wir einen Aufschlag in H&ouml;he von 1,25 Euro. 
        Falls die Bonit&auml;tspr&uuml;fung negativ bzw. nicht eindeutig ist (z.B. Person unbekannt), behalten wir uns vor die gew&auml;hlte Zahlart abzulehnen. 
        In diesem Fall werden wir Sie per E-Mail dar&uuml;ber informieren.</p>
</div>

{$FORM_END}