{config_load file="$language/lang_$language.conf" section="checkout_payment_address"}

<div id="checkout-process">

    <header>
        <div class="header">
            <h1>Rechnungsadresse &auml;ndern</h1>
        </div>
    </header>  

    {$FORM_ACTION}
        {if $error!=''}
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>{$error}</td>
          </tr>
        </table>
        {/if}

    <section class="checkout-process-stage address">
        <h2>Ihre aktuelle Rechnungsadresse</h2>
        <p>{#text_current_address#}</p>

        <div class="block left">
            <p>Aktuelle Rechnungsadresse:</p><br />
            {$ADDRESS_LABEL}
        </div>

        <div class="clearer"></div>
    </section> 



    {if $BLOCK_ADDRESS}
    <section class="checkout-process-stage change-shipping-address">
        <h2>{#title_old_addresses#}</h2>
        <p>{#text_old_addresses#}</p>

        {$BLOCK_ADDRESS}

        <div class="clearer"></div>
    </section>
    {/if}  

    {if $MODULE_new_address}
        {$MODULE_new_address}
    {/if}

    <section class="continue full-width">
        <h2>{#title_continue#}</h2>
        <div>
            <p class="btn-left"><button class="btn btn-back">&Auml;nderungen verwerfen und zur&uuml;ck</button></p>
            <input type="hidden" value="submit" name="action">
            <p class="btn-right"><button class="btn">Neue Adresse best&auml;tigen und weiter</button></p>
        </div>
        <div class="clearer"></div>
    </section>  

</div>
{$FORM_END}

