{config_load file="$language/lang_$language.conf" section="checkout_confirmation"} 
<div id="checkout-process">

    <div id="process-arrows">
        <div class="arrow-body first">
            <p>Versand</p>
            <div class="arrow-end first"></div>
        </div>
        

        <div class="arrow-body second ">
            <p>Zahlung</p>
            <div class="arrow-end second "></div>
        </div>
            
        
        <div class="arrow-body third active">
            <p>&Uuml;bersicht</p>
            <div class="arrow-end third active"></div>
        </div>
        

        <div class="arrow-body fourth">
            <p>Fertig!</p>
            <div class="arrow-end fourth"></div>
        </div>
    </div>    

    <header>
        <div class="header">
            <h1>{#heading_confirmation#}</h1>
        </div>
    </header>

    <section class="checkout-process-stage">
        <p>Tipp: Mithilfe der <span class="edit">(Bearbeiten)</span> Links haben Sie nochmals die M&ouml;glichkeit einzelne Daten zu korrigieren.</p><br />
        {if $IP_LOG=='true'} 
            <strong>{#text_ip#}</strong><br />
            <strong>{$CUSTOMERS_IP}</strong>
            <br />
        {/if}

        <div class="grid-50">
            <div class="block fixed-width">
                <p><strong class="confirmation">{#text_shipping_address#}</strong>
                    <a class="edit" href="{$SHIPPING_ADDRESS_EDIT}">{#text_edit#}</a>
                </p>
                {$DELIVERY_LABEL}
            </div>  
        </div>

        {if $BILLING_LABEL}
            <div class="grid-50">
                <div class="block fixed-width">
                    <p><strong class="confirmation">{#text_payment_address#}</strong>
                        <a class="edit" href="{$BILLING_ADDRESS_EDIT}">{#text_edit#}</a>
                    </p>
                    {$BILLING_LABEL}
                </div>  
            </div>
        {/if}

        <div class="clearer"></div> 

        <div class="grid-50">
            <div class="block among no-hover fixed-width">
                <p><strong class="confirmation">{#text_shipping_method#}</strong>
                    <a class="edit" href="{$SHIPPING_EDIT}">{#text_edit#}</a>
                </p>
                {$SHIPPING_METHOD}
            </div>
        </div>
 
        <div class="grid-50">
            <div class="block among no-hover {if !stristr($PAYMENT_METHOD, 'paymill')}fixed-width{else}paymill{/if}">
                <p><strong class="confirmation">{#text_payment_method#}</strong>
                    <a class="edit" href="{$PAYMENT_EDIT}">{#text_edit#}</a>
                </p>
                {$PAYMENT_METHOD}
        		<!--PAYMILL change -->
        		{if stristr($PAYMENT_METHOD, 'paymill')}<br />{$PAYMENT_INFORMATION}{/if}
        		<!-- PAYMILL change end -->
            </div>        
        </div>

        <div class="clearer"></div> 


        {if $ORDER_COMMENTS}
            <div class="block among no-hover" style="margin-bottom:18px;">
                <p><strong class="confirmation">{#text_comments#}</strong>
                    <a class="edit" href="{$PAYMENT_EDIT}">{#text_edit#}</a>
                </p>
                {$ORDER_COMMENTS}
            </div>        
        {/if}  

        <div class="block among no-hover" style="margin-bottom:18px;">
            Ich habe die <span class="agb">AGB</span> gelesen und akzeptiert. Die <span class="widerruf">Widerrufsbelehrung</span> habe ich zur Kenntnis genommen.
        </div>

        <div class="block among no-hover emphasize">
            <p><strong class="confirmation">{#text_products#}</strong>&nbsp;<a class="edit" href="{$PRODUCTS_EDIT}">{#text_edit#}</a></p>
            <table width="100%" border="0" cellspacing="0" cellpadding="4">
                <tr> 
                    <td style="border: 1px solid; border-color: #cccccc;" class="main"> 
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="main">{$PRODUCTS_BLOCK}</td>
                            </tr>
                            <tr>
                                <td class="main" style="border-top: 1px solid; border-color: #cccccc;" align="right">{$TOTAL_BLOCK}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            
            <br />
            {$CHECKOUT_FORM} {if $MODULE_BUTTONS!=''} {$MODULE_BUTTONS}<br />{/if}
            <p class="buy-now"><button class="btn">Zahlungspflichtig bestellen</button></p>
        </div>

        <div id="dialog-agb"></div>
        <div id="dialog-widerruf"></div>
              

    </section>

</div>
