{config_load file="$language/lang_$language.conf" section="create_account"}

{$FORM_ACTION}
<div id="create-account">

	<header>
		<h1>{*#heading_create_account#*}Anmeldung f&uuml;r Neukunden</h1>
		<p>Melden Sie sich als Neukunde an und profitieren Sie von vielen Vorteilen!</p>
	</header>

	{if $error!=''}
		<div class="error-msg">{$error}</div>
	{/if}

	<div class="create-account-stage">
		<h2>Rechnungsadresse</h2>

		<label>{#text_gender#}</label>
		{$GENDER_SELECT}<span class="req">*</span>
		<br />

		<label>{#text_firstname#}</label>
		{$FIRSTNAME_INPUT}<span class="req">*</span>
		<br />

		<label>{#text_lastname#}</label>
		{$LASTNAME_INPUT}<span class="req">*</span>
		<br />

		<label>{#text_street#}</label>
		{$STREET_ADDRESS_INPUT}<span class="req">*</span>
		<br />		

		<label>{#text_code#}</label>
		{$PLZ_INPUT}<span class="req">*</span>
		<br />

		<label>{#text_city#}</label>
		{$CITY_INPUT}<span class="req">*</span>
		<br />

		<label>{#text_country#}</label>
		{$COUNTRY_INPUT}<span class="req">*</span>
		<br />

		<label>{#text_tel#}</label>
		{$TELEFON_INPUT}<span class="req">*</span>
		<br />		

		<label>{#text_birthdate#}</label>
		{$GEBURTSTAG_INPUT}<span class="additional-text">(Format: xx.xx.xxxx, z.B. 13.07.1975)</span>	

		<h2>Firmendaten</h2>

		<label>{#text_company#}</label>
		{$COMPANY_INPUT}
		<br />	

		{if $vat=='1'}
		<label>{#text_ustid#}</label>
		{$VAT_INPUT}
		<br />	
		{/if}

		<h2>Ihr Konto</h2>

		<label>{#text_email#}</label>
		{$EMAIL_INPUT}<span class="req">*</span><span class="additional-text">(zur Auftragsbest&auml;stigung)</span>
		<br />	

		<label>{#text_password#}</label>
		{$PASSWORD1_INPUT}<span class="req">*</span>
		<br />	

		<label>{#text_confirmation#}:</label>
		{$PASSWORD2_INPUT}<span class="req">*</span>
		<br />		

        <br />
        <button class="btn login" title="Weiter" alt="Weiter">Kundenkonto erstellen</button>
        <div class="clearer"></div>

	</div>

</div>

{$FORM_END}