{config_load file="$language/lang_$language.conf" section="new_products"} 
<div id="products-on-startpage">
	<h3>
    	Beliebte Produkte aus unserem Sortiment:
    </h3>
    
    {foreach name=aussen item=module_data from=$module_content}
    {php} 
    if($col==0)
    	echo '<ul>';    
   	$col++; 
    {/php}
	<li>
       	<div class="image">
        	<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td height="100" valign="bottom"><div align="center">{if $module_data.PRODUCTS_IMAGE}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" border="0" title="{$module_data.PRODUCTS_NAME}" /></a>{/if}</div></td></tr></table>
        </div>

        <div class="info">
        	<a href="{$module_data.PRODUCTS_LINK}">
            	<div class="products-name">
                	{$module_data.PRODUCTS_NAME|truncate:32:"...":true}
                </div>
                <div class="products-price">
                	<strong>{$module_data.PRODUCTS_PRICE}</strong>
                </div>
                <div class="products-tax">
                	{$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}
                </div>
            </a>
        </div>
    </li>
    {php} 
    if ($col==4) 
    {
    	$col=0;
	    echo '</ul>';
    }
    {/php}
    {/foreach} 
    
    {php} 
    if($col!=0)
    	echo '<ul>';    
    {/php} 
</div>