{if $file}
	{$file}
{else}
	{$CONTENT_BODY}
{/if}

<!-- Weitere Produktnews -->
{php}
	$col=0;
{/php}
<hr />
<div id="weitere-productinformationen">
	<header>Weitere Produktinformationen:</header>
    
{foreach name=aussen item=module_data from=$module_content}
    {php} 
    if($col==0)
    	echo '<ul>';    
   	$col++; 
    {/php}
        <li>
            <h1><a href="{$module_data.PIN_LINK}">{$module_data.PIN_HEADLINE_1}</a></h1><br />
            <h2><a href="{$module_data.PIN_LINK}">{$module_data.PIN_HEADLINE_2|truncate:55:"...":true}</a></h2><br />
            <div class="images">
                <a href="{$module_data.PIN_LINK}">{$module_data.PIN_IMG}</a>
             </div>
            <div class="content">
                <a href="{$module_data.PIN_LINK}">{$module_data.PIN_CONTENT|truncate:350:"":true}...</a><br />
            </div>
            <div class="clear"></div>
        </li>
    {php} 
    if ($col==2) 
    {
    	$col=0;
	    echo '</ul>';
    }
    {/php}
    {/foreach} 
    
    {php} 
    if($col!=0)
    	echo '<ul>';    
    {/php} 
</div>


