{config_load file="$language/lang_$language.conf" section="also_purchased"} <br />


<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="infoBoxHeading">Andere Kunden kauften noch folgende Produkte:</td>
  </tr>
</table>
<br />


<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td> <div align="center"> 
        <table width="100%" border="0">
          {foreach name=aussen item=module_data from=$module_content} 
          <tr> 
            <td width="1" rowspan="2" style="border-bottom: 1px solid; border-color: #cccccc;">{if $module_data.PRODUCTS_IMAGE}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" border="0" alt="{$module_data.PRODUCTS_NAME}" /></a>{/if}</td>
            <td class="main"><strong><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></strong></td>
          </tr>
          <tr> 
            <td style="border-bottom: 1px solid; border-color: #cccccc;" class="main">{$module_data.PRODUCTS_DESCRIPTION}<br /> 
              <strong>{$module_data.PRODUCTS_PRICE}</strong><br />
              <span class="smallText">{if $module_data.PRODUCTS_VPE}{$module_data.PRODUCTS_VPE}<br />{/if}{$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}</span><br />
              </strong></td>
          </tr>
          {/foreach} 
        </table>
      </div></td>
  </tr>
</table>
