{config_load file="$language/lang_$language.conf" section="cross_selling"} 
<br />

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="infoBoxHeading">Wir empfehlen Ihnen noch folgende Produkte:</td>
  </tr>
</table>
<br />

	
	{foreach name=aussen item=module_data from=$module_content}
	  <table width="100%" border="0" cellpadding="4" style="border-bottom: 1px solid; border-color: #cccccc;">
        <tr>
          <td class="main"><strong>{$module_data.GROUP}:</strong></td>
        </tr>
        <tr>
          <td>
		  
		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  {php}$col=0;{/php}
  {foreach item=products_data from=$module_data.PRODUCTS}
  {php} $col++; 
  {/php}
    <td class="main">
        <table  width="100%" border="0" cellpadding="0" cellspacing="4">
        <tr> 
          <td align="center" valign="middle" class="main">
		  {if $products_data.PRODUCTS_IMAGE}<a href="{$products_data.PRODUCTS_LINK}"><img src="{$products_data.PRODUCTS_IMAGE}" alt="{$products_data.PRODUCTS_NAME}" /></a>{/if}<br>
            <strong><a href="{$products_data.PRODUCTS_LINK}">{$products_data.PRODUCTS_NAME}</a></strong></td>
        </tr>
        <tr> 
          <td align="center" valign="middle"  class="main">{$products_data.PRODUCTS_PRICE}<br />
            {if $products_data.PRODUCTS_VPE}{$products_data.PRODUCTS_VPE}<br />{/if}{$products_data.PRODUCTS_TAX_INFO}{$products_data.PRODUCTS_SHIPPING_LINK} </td>
        </tr>
      </table>
</td>
  {php} 

  if ($col>=3) {
  $col=0;
  echo '</tr><tr>';
  }
  {/php}
  {/foreach}  
  </tr>
</table>
		  
		  </td>
        </tr>
      </table>
	  {/foreach}
	  
	  </td>
  </tr>
</table>
