{config_load file="$language/lang_$language.conf" section="gift_cart"} 
{if $ACTIVATE_GIFT=='true'} 
{$FORM_ACTION} 
<br />
<table width="100%" border="0" cellpadding="2" cellspacing="0" class="gift_bg">
  <tr valign="middle"> 
    <tr>
	<td class="main" align="center"> 
      <table border="0" cellpadding="2" cellspacing="0" style="padding:3px;">
				<tr valign="middle">
					<td class="main">{#text_code#}</td>
					<td class="main">{$INPUT_CODE}</td>
					<td class="main">{$BUTTON_SUBMIT}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br />
{if $COUPON_HELP_LINK neq '' && $RABATT_MOQ < $BESTELL_GESAMT}
<table width="100%" border="0" cellpadding="3" style="border:2px solid #c00; background:#FFF2FF;">
           <!-- Anfang: Gutschein Tool -->
        <tr>
          <td class="main" style="text-align:center;font-size:13px;"><strong>Der Gutschein wurde erfolgreich eingel&ouml;st und wird automatisch beim Kaufabschluss abgezogen!<br />Gutscheinwert: {$RABATT_AMOUNT}</strong><br />
            <!--{if $BESTELL_GESAMT > 0} Von der Bestellung werden abgezogen: {$RABATT_BESTELLUNG}{/if}-->
            </td>
        </tr>
        <!-- Ende: Gutschein Tool -->
      </table>
{/if} 
{$FORM_END} {/if}