{config_load file="$language/lang_$language.conf" section="trustedshops"}

<div class="image-left">
    <a href="https://www.trustedshops.com/shop/certificate.php?shop_id={#ts_id#}" target="_blank"><img src="{$tpl_path}img/{#ts_seal_guarantee#}" alt="{#ts_click_seal#}" title="{#ts_click_seal#}" /></a>
</div>    

<div class="text-trusted-shops">
    <form name="formGuarantee" method="post" action="https://www.trustedshops.com/shop/protection.php" target="_blank">
        <input type="hidden" name="_charset_">
        <input name="shop_id" type="hidden" value="{#ts_id#}">
        <input name="email" type="hidden" value="{$email}">
        <input name="amount" type="hidden" value="{$amount}">
        <input name="curr" type="hidden" value="{$curr}">
        <input name="payment" type="hidden" value="{$payment}">
        <input name="kdnr" type="hidden" value="{$KDNR}">
        <input name="ordernr" type="hidden" value="{$ORDERNR}">
        {#ts_protection_text#}<br><br>
        <input type="submit" id="btnProtect" name="btnProtect" value="{#ts_protection_button#}">
    </form>
</div>
<div style="clear:both;"></div>
