{config_load file="$language/lang_$language.conf" section="newsletter"}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
	<td class="contentsTopics">{#heading_title#}</td>
</tr>
</table>
<br />

{if $info_message!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:20px;">
<tr>
	<td class="main" style="border: 1px solid; border-color: #ff0000;font-size:14px;padding:5px;border-radius:8px;" ><div align="center">{$info_message}<br /></div></td>
</tr>
</table>
{/if}

{$FORM_ACTION}
{if $newsletter_activated_currently == 'true'}
{$BUTTON_CONTINUE}
<br>
{else}
<table class="formArea" width="100%" border="0" cellspacing="3" cellpadding="0" style="padding:5px;">
<tr>
	<td class="main" colspan="2" style="padding-bottom:20px;">Geben Sie bitte den Sicherheitscode in das entsprechende Formularfeld ein.<br />W&auml;hlen Sie anschliessend bitte die entsprechende Funktion ("austragen", wenn Sie keinen Newsletter mehr empfangen m&ouml;chten oder "eintragen", wenn Sie zuk&uuml;nftig einen Newsletter von uns erhalten m&ouml;chten) aus.<br />Als letzten Schritt best&auml;tigen Sie Ihre Eingaben bitte durch einen Klick auf "Senden".</td>
</tr>

<tr>
<td colspan="2" class="main"><div style="font-size:14px;color:#333;margin-bottom:4px;font-weight:bold;">Der Sicherheitscode lautet:</div>{$VVIMG}<br /><br /></td>
</tr>

<tr>
<td colspan="2" class="main"><div style="font-size:14px;color:#333;margin-bottom:4px;font-weight:bold;">Sicherheitscode hier eingeben:</div>{$INPUT_CODE}<br /><br /></td>
</tr>

<tr>
<td colspan="2" class="main"><div style="font-size:14px;color:#333;margin-bottom:4px;font-weight:bold;">E-Mail-Adresse:</div>{$INPUT_EMAIL}<br /><br /></td>
</tr>

<tr>
<td>
	<table width="100%" cellspacing="0" cellpadding="0" style="margin-bottom:25px;">
    <tr>
        <td colspan="2" class="main"><div style="font-size:14px;color:#333;margin-bottom:4px;font-weight:bold;">W&auml;hlen Sie bitte die gew&uuml;nschte Funktion aus:</div></td>
    </tr>
    
    <tr>
        <td width="30" class="main">{$CHECK_INP}</td>
        <td class="main">{#text_in#}</td>
    </tr>
    <tr>
    	<td width="30" class="main">{$CHECK_DEL}</td>
        <td class="main">{#text_out#}</td>
    </tr>
    </table>
</td>
</tr>

<tr>
    <td><span class="small">{$BUTTON_SEND}</span><span class="small"><strong></strong></span></td>
</tr>
</table>
{$FORM_END}
<br>
{/if}

