{config_load file="$language/lang_$language.conf" section="shopping_cart"}
{config_load file="$language/lang_$language.conf" section="product_info"}

<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td class="main" style="border-bottom: 1px solid; border-color: #cccccc;">&nbsp;</td>
    <td class="main" style="border-bottom: 1px solid; border-color: #cccccc;" align="center" colspan="3"><strong>{#text_qty#}</strong></td>
    <td class="main" style="border-bottom: 1px solid; border-color: #cccccc;"><strong>&nbsp;&nbsp;{#text_article#}</strong></td>
    <td class="boxTextBG" style="border-bottom: 1px solid; border-color: #cccccc;" align="right"><strong>{#text_single#}</strong></td>
    <td class="boxTextBG" style="border-bottom: 1px solid; border-color: #cccccc;" align="right"><strong>{#text_total#}</strong></td>
    <td class="boxTextBGII" style="border-bottom: 1px solid; border-color: #cccccc;" align="center"><strong>L&ouml;schen</strong></td>
  </tr>
{foreach name=aussen item=module_data from=$module_content}
<tr>
  <td colspan="8"></td>
</tr>
<tr>
  <td class="main">{if $module_data.PRODUCTS_IMAGE!=''}{if $module_data.PRODUCTS_LINK !=''}<a href="{$module_data.PRODUCTS_LINK}">{/if}<img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.IMAGE_ALT}" width="50" border="0" />{if $module_data.PRODUCTS_LINK !=''}</a>{/if}{/if}</td>
  <td valign="top" class="main" align="center" width="21">{$module_data.MINUS}</td>
  <td valign="top" class="main" align="center">{$module_data.PRODUCTS_QTY}</td>
  <td valign="top" class="main" align="center" width="21">{$module_data.PLUS}</td>
  <td valign="top" class="main"><strong>{if $module_data.PRODUCTS_LINK !=''}<a href="{$module_data.PRODUCTS_LINK}">{/if}{$module_data.PRODUCTS_NAME}{if $module_data.PRODUCTS_LINK !=''}</a>{/if}</strong><br />
  {if $module_data.P_STOCK != ''}
  	<span style="color:#c00;font-weight:bold;"><u>Nur noch {$module_data.P_STOCK} St&uuml;ck verf&uuml;gbar!</u></span><br />
  {else}
    {if $module_data.PRODUCTS_SHIPPING_TIME neq ""}{#text_shippingtime#}&nbsp;{$module_data.PRODUCTS_SHIPPING_TIME}{/if}
  {/if}
    {if $module_data.ATTRIBUTES!=''}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      {foreach key=key_data item=item_data from=$module_data.ATTRIBUTES}
      <tr>
        <td class="main">{$item_data.NAME}:</td>
        <td class="main" align="left">{$item_data.VALUE_NAME}</td>
        <td class="main" align="left" width="1%">{$item_data.ALTER}</td>
      </tr>
      {/foreach}
    </table>
    {else}
    {/if} </td>
  <td valign="top" nowrap class="boxTextBG" style="border-right: 1px solid; border-color: #cccccc;" align="right">{$module_data.PRODUCTS_SINGLE_PRICE}</td>
  <td valign="top" nowrap class="boxTextBG" style="border-right: 1px solid; border-color: #cccccc;" align="right">{$module_data.PRODUCTS_PRICE}&nbsp; </td>
  <td width="10" align="center" valign="middle" class="boxTextBGII">{$module_data.BOX_DELETE}</td>
</tr>
{/foreach}
<tr>
  <td colspan="8"></td>
</tr>
<tr>
  <td style="border-top: 1px solid; border-color: #cccccc;" colspan="8" class="main" align="right">
  	<strong>{$TOTAL_CONTENT}</strong>
    <!--
    {if $RABATT_BESTELLUNG neq '' && $RABATT_MOQ < $BESTELL_GESAMT_MOQ}{$TOTAL_CONTENT}<b style="color:red;">{#abzgl_rabatt#}{$RABATT_BESTELLUNG}</b><br />
    <strong>{#gesamt#}{$BESTELL_GESAMT}</strong><br />
    {else}<strong>{$TOTAL_CONTENT}</strong>{/if}
    -->
    
    {if $GESAMT}<u>{/if}{$UST_CONTENT}{if $GESAMT}</u>{/if}{$GESAMT}{if 
    $SHIPPING_INFO}{$SHIPPING_INFO}{/if}</td>
  </tr>
</table>
