{config_load file="$language/lang_$language.conf" section="products_media"} 
   <table border="0" width="125" cellspacing="0" cellpadding="0" >
	   {foreach name=aussen item=module_data from=$module_content}
      <tr> 
        <td width="70" height="40" valign="middle" class="main">{$module_data.FILENAME}:</td>
        <td class="main">{$module_data.ICON}</td>
      </tr>
	  {/foreach}
</table>