{config_load file="$language/lang_$language.conf" section="news"}
<div id="shopnews">
{foreach name=news item=news_data from=$news_content}
    <article role="article">
        <header role="banner" class="header">
            <div class="header-left">
                {if $news_data.NEWS_IMAGE}<img src="{$news_data.NEWS_IMAGE}" alt="{$news_data.NEWS_TITLE}" />{/if}

            </div>
            <div class="header-right">
                <h1>{$news_data.NEWS_TITLE}</h1>
                {if $news_data.NEWS_SUBTITLE}<p class="subtitle">{$news_data.NEWS_SUBTITLE}</p>{/if}                
                {if $news_data.NEWS_PRODUCTS_LINK}{$news_data.NEWS_PRODUCTS_LINK}{/if} 
            </div>

            <div class="clear-news"></div>
        </header>
        
        <main role="main" class="main">
            {if $news_data.NEWS_TEXT}
                <p class="longtext">{$news_data.NEWS_TEXT}</p>
            {/if}
        </main> 
        
        <footer role="contentinfo" class="footer">
            {#text_date#}{$news_data.NEWS_DATE}
        </footer>

    </article>
  {/foreach}
</div>