{config_load file="$language/lang_$language.conf" section="shopping_cart"}
{if $info_message!=''}
<b style="width:100%; color:#000; font-size:12px; font-family:arial; padding:2px;">{$info_message}</b><br /><br />
{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top"> 
    	<td class="contentsTopics">{#heading_cart#}</td>
	</tr>
</table>
{if $cart_empty==true}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
  <tr> 
    <td class="main" align="center">{#text_empty#}</td>
  </tr>
  <tr>
    <td class="main" align="right">{$BUTTON_CONTINUE}</td>
  </tr>
</table>
{else}
{$FORM_ACTION}
{$HIDDEN_OPTIONS}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="main"> </td>
    </tr>
    <tr>
      <td><br />
      <div style="border:1px solid #ccc;margin:5px;">{$MODULE_order_details}</div></td>
    </tr>
    <tr>
      <td class="main">
      {if $module_content}
        <table width="100%" border="0" background="{$tpl_path}images/bg_light_grey.gif" bgcolor="#EDEDED" class="main">
          <tr>
            {foreach name=aussen item=module_data from=$module_content}
              <td align="center">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="100%" align="center" background="{$tpl_path}images/bg_light_grey.gif" bgcolor="#EDEDED" class="main"><strong>{$module_data.SPECIAL_NAME}</strong></td>
                  </tr>
                  <tr>
                    <td width="100%" align="center" background="{$tpl_path}images/bg_light_grey.gif" bgcolor="#EDEDED" class="main">{$module_data.SPECIAL_IMAGE}</td>
                  </tr>
                  <tr>
                    <td align="center" background="{$tpl_path}images/bg_light_grey.gif" bgcolor="#EDEDED" class="main" style="padding-top:3px;"><strong>{$module_data.SPECIAL_PRICE}</strong></td>
                  </tr>
                  <tr>
                    <td align="center" background="{$tpl_path}images/bg_light_grey.gif" bgcolor="#EDEDED" class="main">{$module_data.SPECIAL_BUY_NOW}</td>
                  </tr>
                </table>
              </td>
            {/foreach}
          </tr>
        </table>
        {/if}
      </td>
    </tr>
</table>
  {if $info_message_1!=''}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="errorBox" align="center">{$info_message_1}{$min_order}{$info_message_2}{$order_amount}</td>
  </tr>
        <tr>
          <td class="main">&nbsp;</td>
        </tr>
</table>
{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td align="left">&nbsp;</td>
	<td align="right">{$BUTTON_CHECKOUT}</td>
  </tr>
</table>
<br>
{$FORM_END}
{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top"> 
    	<td align="center">{$MODULE_gift_cart}</td>
	</tr>
</table>

<!-- gift -->
{if $MODULE_products_gift}
{$MODULE_products_gift}
{/if}
