{config_load file="$language/lang_$language.conf" section="index"}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td bgcolor="#CEDFFF" class="contentsTopics">{$CATEGORIES_NAME}</td>
    <td align="right">&nbsp;</td>
  </tr>
  <tr valign="top">
    <td class="contentsTopics">{$CATEGORIES_HEADING_TITLE}</td>
    <td align="right">&nbsp;</td>
  </tr>
  
</table>
{if $CATEGORIES_DESCRIPTION}<br />
{$CATEGORIES_DESCRIPTION}{/if}<br />{if $CATEGORIES_IMAGE}<img src="{$CATEGORIES_IMAGE}" alt="{$CATEGORIES_NAME}  preiswert im Esoterik Online Shop zu kaufen - Esotherik Tarot Versand" />
<br />
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="border-bottom: 1px solid; border-color: #000000;">&nbsp;</td>
  </tr>
</table>
{/if}
{if $MANUFACTURER_DROPDOWN}<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main" align="right"><table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="main" align="right">{#text_show#}&nbsp;</td>
        <td class="main" align="right">{$MANUFACTURER_DROPDOWN}</td>
      </tr>
    </table>      </td>
  </tr>
</table>
<br />
{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td align="center"> 
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-top: 2px solid; border-color: #d4d4d4;">
          {foreach name=aussen item=module_data from=$module_content} 
          <tr> 
            <td rowspan="2" style="border-bottom: 1px solid; border-color: #cccccc;">&nbsp;{if $module_data.PRODUCTS_IMAGE!=''}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME} preiswert im Esoterik Online Shop zu kaufen - Esotherik Tarot Versand" title="{$module_data.PRODUCTS_NAME} preiswert im Esoterik Online Shop zu kaufen - Esotherik Tarot Versand"/></a>{/if}
			{if $module_data.PRODUCTS_FSK18=='true'}<br /><img src="{$tpl_path}img/fsk18.gif" alt="" />{/if}</td>
            <td align="left" class="main"><a href="{$module_data.PRODUCTS_LINK}"><strong>{$module_data.PRODUCTS_NAME}</strong></a></td>
          </tr>
          <tr> 
            
          <td align="left" class="main" style="border-bottom: 1px solid; border-color: #cccccc;">{$module_data.PRODUCTS_SHORT_DESCRIPTION} 
            <br />
            <strong>{if $module_data.DISCOUNT == ''}{$module_data.DISCOUNT}{$module_data.PRODUCTS_PRICE}{/if}{$TOTAL}</strong><br />
            {$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK} 
            {if $module_data.PRODUCTS_VPE}<br />{$module_data.PRODUCTS_VPE}{/if} 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="right"><table width="200" border="0">
                    <tr>
                      <td align="right">{if $module_data.PRODUCTS_SHIPPING_NAME}
                          <table width="200" border="0" cellpadding="0" cellspacing="0">
                            <tr valign="middle">
                              <td class="main">{#text_shippingtime#}</td>
                              {if $module_data.PRODUCTS_SHIPPING_IMAGE}
                              <td><img src="{$module_data.PRODUCTS_SHIPPING_IMAGE}" alt="{$module_data.PRODUCTS_SHIPPING_NAME}" /></td>
                              {/if}
                              <td class="main">{$module_data.PRODUCTS_SHIPPING_NAME}</td>
                            </tr>
                          </table>
                          {/if}
                          {$module_data.PRODUCTS_BUTTON_BUY_NOW}</td>
                    </tr>
                  </table></td>
                </tr>
            </table>            </td>
          </tr>
          {/foreach} 
      </table>
    </td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$NAVIGATION}</td>
  </tr>
</table>