<body bgcolor="#dddddd">
<div align="center">
<img src="newsletter-grafik.jpg" width="817" border="0" usemap="#Map">
<map name="Map"><area shape="rect" coords="171,1420,645,1449" href="http://www.esoterikshopping.de/newsletter.php" target="_blank" alt="Newsletter abmelden">
  <area shape="rect" coords="0,1,816,152" href="http://www.esoterikshopping.de/" target="_blank" alt="10% Rabatt bei Esoterikshopping">
  <area shape="rect" coords="51,185,774,386" href="https://www.esoterikshopping.de/shopping_cart.php" target="_blank" alt="10% Rabatt bei Esoterikshopping">
  <area shape="rect" coords="30,635,193,866" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Inspirationskarten-Weisheitskarten/Im-Gespraech-mit-meinem-inneren-Kind-Set.html" target="_blank" alt="Im Gespräch mit meinem inneren Kind">
  <area shape="rect" coords="214,635,374,867" href="http://www.esoterikshopping.de/products/Esoterische-Buecher-Lehrbuecher/Lebenshilfe-Erfolgreich-leben/Mein-Krafttier-finden.html" target="_blank" alt="Mein Krafttier finden">
  <area shape="rect" coords="401,635,563,866" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Inspirationskarten-Weisheitskarten/Ich-koennte-alles-tun-wenn-ich-nur-wuesste-was-ich-will-Set.html" target="_blank" alt="Ich könnte alles tun, wenn ich nur wüsste...">
  <area shape="rect" coords="586,636,748,865" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Orakelkarten-Zukunftskarten/Wilhelm-Busch-Orakel.html" target="_blank" alt="Wilhelm Busch Orakel">
  <area shape="rect" coords="31,898,191,1129" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Astrologiekarten-Karmakarten-Zeitkarten/Das-Tor-zur-Zeit.html" target="_blank" alt="Das Tor zur Zeit">
  <area shape="rect" coords="213,898,377,1128" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Lenormandkarten-Lenormand-Wahrsagekarten/Lenormandkarten-Set-Liebe-Glueck-Erfolg.html" target="_blank" alt="Lenormandkarten Set Liebe, Glück, Erfolg">
  <area shape="rect" coords="400,897,561,1128" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Lenormandkarten-Lenormand-Wahrsagekarten/Blumen-Orakel-Set-Lenormandkarten.html" target="_blank" alt="Blumen Orakel Set - Lenormandkarten">
  <area shape="rect" coords="586,899,747,1130" href="http://www.esoterikshopping.de/products/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Lenormandkarten-Lenormand-Wahrsagekarten/Lernkarten-Mystisches-Lenormand.html" target="_blank" alt="Lernkarten Mystisches - Lenormand">
  <area shape="rect" coords="155,1160,657,1199" href="http://www.esoterikshopping.de/specials.php" target="_blank" alt="Sonderangebote">
  <area shape="rect" coords="561,1588,646,1611" href="http://www.esoterikshopping.de/newsletter.php" target="_blank">
</map>
</div>
</body>