{if $options!=''}

{foreach name=outer item=options_data from=$options}
<div data-role="fieldcontain">
    <label class="select" for="id[{$options_data.ID}]">{$options_data.NAME}:</label>
    <select name="id[{$options_data.ID}]" id="id[{$options_data.ID}]">
        {foreach key=key_data name=key_data item=item_data from=$options_data.DATA}
          <option value="{$item_data.ID}">&nbsp;{$item_data.TEXT} {if $item_data.PRICE !='' }{$item_data.PREFIX} {$item_data.PRICE}{/if}&nbsp; </option>                   
        {/foreach}
    </select>
</div>
{/foreach}
{/if}