{if $options!=''}
<div id="product-attributes-radioset">
{foreach name=outer item=options_data from=$options}
	<div data-role="fieldcontain">
	    <fieldset data-role="controlgroup">
	    	<legend>{$options_data.NAME}:</legend>
	        {foreach key=key_data name=key_data item=item_data from=$options_data.DATA}
	         	<input type="radio" name="id[{$options_data.ID}]" value="{$item_data.ID}" />
	         	<label for="{$item_data.ID}">{$item_data.TEXT}</label>
	        {/foreach}
	    </fieldset>
	</div>
{/foreach}
</div>
{/if}