{config_load file="$language/lang_$language.conf" section="boxes"}

<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td class="infoBoxHeading_right"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="infoBoxHeading_right">{#heading_languages#} </td>
          <td>&nbsp;</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td class="infoBox_right" align="center"><table width="95%"  border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td class="boxText" align="center">{$BOX_CONTENT}</td>
        </tr>
    </table></td>
  </tr>
</table>