{config_load file="$language/lang_$language.conf" section="boxes"}

<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td class="infoBoxHeading"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="infoBoxHeading">Alle Produkte und Kategorien </td>
        <td></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="infoBox" align="left"><table width="95%"  border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td class="boxText">{$BOX_CONTENT}</td>
        </tr>
    </table></td>
  </tr>
</table>