{config_load file="$language/lang_$language.conf" section="boxes"}

<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td class="infoBoxHeading"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="infoBoxHeading">{#heading_whatsnew#}</td>
          <td align="left"><a href="/products_new.php"><img src="{$tpl_path}img/button_add_quick.gif" alt="" border="0" /></a></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td class="infoBox" align="left"><table width="95%"  border="0" cellpadding="2" cellspacing="0"><tr><td class="boxText"><table border="0" width="100%" cellspacing="0" cellpadding="3" class="infoBoxContents">
      <tr>
        <td align="center" valign="middle" class="boxText">
            {if $box_content.PRODUCTS_IMAGE!=''}<a href="{$box_content.PRODUCTS_LINK}"><img src="{$box_content.PRODUCTS_IMAGE}" alt="{$box_content.PRODUCTS_NAME} neu bei Esoterikshopping.de dem Esoterik Online Shop" title="{$box_content.PRODUCTS_NAME} neu bei Esoterikshopping.de dem Esoterik Online Shop" /></a><br />
            {/if} 
            <a href="{$box_content.PRODUCTS_LINK}">{$box_content.PRODUCTS_NAME}</a>
			<br /></td>
      </tr>
      <tr>
        <td align="left" valign="middle" class="boxText">
		<table width="98%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#9CBEFF" class="boxText">{$box_content.PRODUCTS_PRICE}<br />
              {if $box_content.PRODUCTS_VPE}{$box_content.PRODUCTS_VPE}<br />{/if}{$box_content.PRODUCTS_TAX_INFO}{$box_content.PRODUCTS_SHIPPING_LINK}</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
        </tr>
    </table></td>
  </tr>
</table>