/*
 * FCKeditor - The text editor for internet
 * Copyright (C) 2003-2005 Frederico Caldeira Knabben
 * 
 * Licensed under the terms of the GNU Lesser General Public License:
 * 		http://www.opensource.org/licenses/lgpl-license.php
 * 
 * For further information visit:
 * 		http://www.fckeditor.net/
 * 
 * File Name: fck_contextmenu.css
 * 	Styles used by the context menu.
 * 
 * File Authors:
 * 		Frederico Caldeira Knabben (fredck@fckeditor.net)
 */

.CM_ContextMenu, .CM_ContextMenu *
{
	font-size: 11px;
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
}

.CM_ContextMenu
{
	border: 1px solid #8f8f73;
	padding: 2px;
	background-color: #f7f8fd;
}

.CM_Option, .CM_Over, .CM_Disabled
{
	padding: 0px 3px;
	height: 18px;
	cursor: default;
}

.CM_Option, .CM_Over
{
	cursor: hand;
}

.CM_Option .CM_Icon, .CM_Disabled .CM_Icon, .CM_Separator .CM_Icon
{
	background-color: #d6dff7;
}

.CM_Option .CM_Icon IMG
{
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
}

.CM_Disabled 
{
	background-color: #ffffff;
}

.CM_Disabled .CM_Icon IMG, .CM_Disabled .CM_Label
{
	filter: gray() alpha(opacity=30);
	-moz-opacity: 0.30;
}

.CM_Option .CM_Label, .CM_Over .CM_Label
{
	padding: 1px 10px 1px 3px;
}

.CM_Over
{
	color: #ffffff;
	background-color: #7096FA;
}

.CM_Over .CM_Icon
{
	background-color: #466ca6;
}

.CM_Separator TD
{
	height: 3px;
}

.CM_Separator .CM_Label DIV
{
	border-top: #b9b99d 1px solid;
	margin-left: 2px;
	margin-right: 3px;
}

/*
	### Panel Styles
*/

.FCK_Panel
{
	border: #8f8f73 1px solid;
	padding: 2px;
	background-color: #f7f8fd;
}

.FCK_Panel, .FCK_Panel TD
{
	font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
	font-size: 11px;
}

/*
	### Color Selector Panel
*/

.ColorBoxBorder
{
	border: #808080 1px solid;
	position: static;
}

.ColorBox
{
	font-size: 1px;
	width: 10px;
	position: static;
	height: 10px;
}

.ColorDeselected, .ColorSelected
{
	cursor: default;
}

.ColorDeselected
{
	border: #ffffff 1px solid;
	padding: 2px;
	float: left;
}

.ColorSelected *
{
	color: #ffffff;
}

.ColorSelected 
{
	border: #7096FA 1px solid;
	padding: 2px;
	float: left;
	background-color: #7096FA;
}

/*
	### Special Combos
*/

.SC_Panel
{
	overflow-y: auto;
	white-space: nowrap;
	cursor: default;
}

.SC_Item, .SC_ItemSelected
{
	margin-top: 2px;
	margin-bottom: 2px;
	background-position: left center;
	padding-left: 11px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	background-repeat: no-repeat;
	border: #dddddd 1px solid;
}

.SC_Item *, .SC_ItemSelected *
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.SC_ItemSelected
{
	border: #9a9afb 1px solid;
	background-image: url(images/toolbar.arrowright.gif);
}

.SC_ItemOver
{
	border: #316ac5 1px solid;
}

.SC_Field
{
	border: #b7b7a6 1px solid;
	cursor: default;
}

.SC_FieldCaption
{
	overflow: visible;
	padding-right: 5px;
	padding-left: 5px;
	filter: alpha(opacity=70); 
	-moz-opacity:0.75;
	height: 23px;
	background-color: #f7f8fd;
}

.SC_FieldLabel
{
	white-space: nowrap;
	padding: 2px;
	width: 100%;
	cursor: default;
	background-color: #ffffff;
	text-overflow: ellipsis;
	overflow: hidden;
}

.SC_FieldButton
{
	background-position: center center;
	background-image: url(images/toolbar.buttonarrow.gif);
	border-left: #b7b7a6 1px solid;
	width: 14px;
	background-repeat: no-repeat;
}

.SC_FieldDisabled .SC_FieldButton, .SC_FieldDisabled .SC_FieldCaption
{
	filter: gray() alpha(opacity=30); 
	-moz-opacity:0.30;
}

.SC_FieldOver
{
	border: #316ac5 1px solid;
}

.SC_FieldOver .SC_FieldButton
{
	border-left: #316ac5 1px solid;
}