/*
 * FCKeditor - The text editor for internet
 * Copyright (C) 2003-2005 Frederico Caldeira Knabben
 * 
 * Licensed under the terms of the GNU Lesser General Public License:
 * 		http://www.opensource.org/licenses/lgpl-license.php
 * 
 * For further information visit:
 * 		http://www.fckeditor.net/
 * 
 * File Name: fck_editor.css
 * 	Styles used by the editor IFRAME and Toolbar.
 * 
 * File Authors:
 * 		Frederico Caldeira Knabben (fredck@fckeditor.net)
 * 		Aziz Oraij (aziz@oraij.com)
 */

/*
	### Basic Editor IFRAME Styles.
*/

body
{
	padding: 1px 1px 1px 1px;
	margin: 0px 0px 0px 0px;
}

#eWysiwygCell, .Source
{
	border: #696969 1px solid;
}

#eSourceField
{
	border: none;
	padding: 5px;
	font-family: Monospace;
}

/*
	### Toolbar Styles
*/

.TB_ToolbarSet, .TB_Expand, .TB_Collapse
{
	background-color: #f7f8fd;
}

.TB_Toolbar
{
	background-color: #d6dff7;
	background-image: url(images/toolbar.bg.gif);
	background-repeat: repeat-x;
}

.TB_ExpandImg
{
	background-image: url(images/toolbar.expand.gif);
	background-repeat: no-repeat;
}

.TB_CollapseImg
{
	background-image: url(images/toolbar.collapse.gif);
	background-repeat: no-repeat;
}

.TB_ToolbarSet
{
	border-top: #efefde 1px outset;
	border-bottom: #efefde 1px outset;
}

.TB_ToolbarSet, .TB_ToolbarSet *
{
	font-size: 11px;
	cursor: default;
	font-family: 'Microsoft Sans Serif' , Tahoma, Arial, Verdana, Sans-Serif;
}

.TB_Expand, .TB_Collapse
{
	padding: 2px 2px 2px 2px;
	border: #efefde 1px outset;
}

.TB_Collapse
{
	border: #efefde 1px outset;
	width: 5px;
}

.TB_Button_On, .TB_Button_Off, .TB_Button_Disabled, .TB_Combo_Off, .TB_Combo_Disabled
{
	border: #efefde 1px solid;
	height: 21px;
}

.TB_Button_On
{
	border-color: #316ac5;
	background-color: #c1d2ee;
}

.TB_Button_Off, .TB_Combo_Off
{
	filter: alpha(opacity=70);
	-moz-opacity: 0.70;
	background-color: #f7f8fd;
}

.TB_Button_Disabled, .TB_Combo_Disabled
{
	filter: gray() alpha(opacity=30);
	-moz-opacity: 0.30;
}

.TB_Icon DIV
{
	width: 21px;
	height: 21px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.TB_Text
{
	height: 21px;
	padding-right: 5px;
}

.TB_Break
{
	height: 23px;
}