{config_load file="$language/lang_$language.conf" section="index"} 
<br />
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0" id="rahmen">
  <tr>
    <td>
	<table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><img src="{$tpl_path}img/header.jpg" alt="{$store_name}" title="{$store_name}" /></td>
        </tr>
      </table>
		<!-- navtrail: beginn -->
		
      <div id="bg_navtrail"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td> <div align="left"><a class="navtrail_text" href="/" target="_self" title="Neuerscheinungen, neue Produkte in unserem Shop">Startseite</a> 
                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                <a class="navtrail_text" href="/products_new.php" target="_self" title="Neuerscheinungen, neue Produkte in unserem Shop">Neue 
                Produkte</a> <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                <a class="navtrail_text" href="/Angebote" target="_self" title="Sonderangebote">Angebote</a> 
                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                <!--
				<a class="navtrail_text" href="/newsletter.php" target="_self" title="Melden Sie sich in unserem Newsletter an">Newsletter</a>
				<img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" />
				-->
                <a class="navtrail_text" href="/content/Impressum.html" target="_self" title="Unser Impressum">Impressum</a> 
                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                <a class="navtrail_text" href="/create_account.php" target="_self" title="als neuer Kunde anmelden">Neukunde?</a> 
              </div></td>
            
			<td> <div align="right">
			<img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" />
			{if $account}{php} if (isset($_SESSION['customer_id'])) 
                { {/php}<a class="navtrail_text" href="{$logoff}">{#link_logoff#}</a><img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" />{php} 
                } {/php}{/if}{if $account}<a class="navtrail_text" href="{$account}">{#link_account#}</a>{/if}<img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                <a class="navtrail_text" href="{$cart}">{#link_cart#}</a> <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                <a class="navtrail_text" href="{$checkout}">{#link_checkout#}</a> 
              </div></td>
          </tr>
        </table>
	  </div>
<div id="bg_navtrail_2"></div>	  
	<!--	<div id="bg_navtrail_2"></div>-->
      <!-- navtrail: end -->

  
	  

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div align="center">{$navtrail}</div></td>
  </tr>
</table>
<div class="s_12"></div>




<div class="s_12"></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
          <td width="220" valign="top"><div align="left" style="padding-left:8px;">{$box_CATEGORIES}{$box_WHATSNEW}{$box_CONTENT}{$box_SPECIALS}{$box_HILFREICHE_LINKS}{*$box_WERBUNG_LINKS_1*}</div></td>      
          <td width="540" valign="top" id="main_content_neu">{$main_content}</td>
          <td width="220" valign="top"><div align="right" style="padding-right:8px;">{$box_ADMIN}{$box_SEARCH}{$box_CART}{$box_LOGIN}{*$box_NEWSLETTER*}{$box_KONTAKT}{*$box_LAST_VIEWED*}{*$box_WERBUNG_RECHTS_1*}{*$box_HOW_TO_ORDER_IN_ENGLISH*}{*$box_CURRENCIES*}{$box_TOPSELLER_SELF}{*$box_LANGUAGES*}</div></td>
  </tr>
</table>

<!-- footer: begin -->
<div id="bg_navtrail_2"></div>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
<tr> 
<td>
<div align="center"><strong> <font color="#0000FF">&infin; &infin; &infin; &infin; 
              &infin; &infin; &infin; &infin; </font> <a href="http://www.esoterikshopping.de/" target="_self">&copy; 
              www.Esoterikshopping.de</a> <font color="#0000FF">-</font> <a href="http://www.spart-bares.de/" target="_blank"><strong>Spart-Bares 
              GbR</strong></a><font color="#0000FF"> &infin; &infin; &infin; &infin; 
              &infin; &infin; &infin; &infin; </font></strong></div></td>
  </tr>
  <tr> 
          <td align="center"> <br>
      Suchen Sie seltene und <a href="http://www.esoterikshopping.de/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Antike-und-seltene-Wahrsagekarten-Tarot-und-Buecher" target="_self">antike 
      Tarot Karten</a> zum Kartenlegen? In unserem <a href="http://www.esoterikshopping.de/" target="_self">Esoterik 
      Online Shop</a> finden Sie einige tausend Produkte aus allen bekannten und 
      unbekannten Bereichen der Esoterik - www.esoterikshopping.de - Ihr g&uuml;nstiger 
      Esoterik Shop - Nutzen Sie unseren Versand -Service! <a href="http://www.esoterikshopping.de/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Engelkarten-Feenkarten-Heiligenkarten" target="_self">Engelkarten</a> 
      um eine Tageskarte zu ziehen, <a href="http://www.esoterikshopping.de/Kartenlegen-Tarot-Lenormand-Wahrsagekarten-Engelkarten/Lenormandkarten-Lenormand-Wahrsagekarten" target="_self">Lenormandkarten</a>, 
      um das Kartenlegen zu lernen. <a href="http://www.esoterikshopping.de/products/Esoterische-Spiele-Astrologische-Software/Astrovitalis-Astrologie-Software.html" target="_self">Horoskope</a> 
      und <a href="http://www.esoterikshopping.de/Esoterische-Spiele-Astrologische-Software" target="_self">Astrologische 
      Software</a> sind nur einige Bereiche aus unserem Sortiment. Aber auch edle 
      <a href="http://www.esoterikshopping.de/Raeucherstaebchen-Halter-Raeucherkegel-Koros" target="_self">R&auml;ucherst&auml;bchen</a> 
      zu niedrigen Preisen oder immer <a href="http://www.esoterikshopping.de/Raeucherungen-Raeucherzubehoer" target="_self">frisches 
      R&auml;ucherwerk</a>, <a href="http://www.esoterikshopping.de/Raeucherungen-Raeucherzubehoer/Olibanum-Weihrauch" target="_self">Weihrauch</a> 
      und <a href="http://www.esoterikshopping.de/Raeucherungen-Raeucherzubehoer/Raeucherharze-Baumblut" target="_self">seltene 
      R&auml;ucherharze</a> f&uuml;r den <a href="http://www.esoterikshopping.de/Ritual-Hexenbedarf" target="_self">Ritualbedarf</a> 
      k&ouml;nnen wir Ihnen anbieten.</td>
  </tr>
</table>
<!-- footer: end -->
	  
</tr>
</table>

</td>
</tr> </table> 


<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-738839-16";
urchinTracker();
</script>
<!--<img src="http://www.hiddencounter.de/hc/count.php?id=781&page=Eso-XT-Shop" height="1" width="1" border="0">-->


{php}
  include("etracker.inc.php");
  echo getCode ( "7sgmS9", true );
{/php}


<!--  
{if $BANNER}
<table width="100%"  border="0" cellspacing="4" cellpadding="0">
  <tr>
    <td align="center">{$BANNER}</td>
  </tr>
</table>
{/if}
-->