<h1 align="center">TESTSYSTEM</h1>{config_load file="$language/lang_$language.conf" section="index"} 
<br />
<noscript>
    <h1 style="text-align:center;color:#c00;">Um unseren Shop in vollem Funktionsumfang nutzen zu k&ouml;nnen, m&uuml;ssen Sie JavaScript in Ihrem Browser aktivieren!</h1>
</noscript>
<br />


<table width="{$screenwidth}" border="0" align="center" cellpadding="0" cellspacing="0" id="rahmen">
    <tr>
        <td>
            <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                <tr> 
                    <td>
                    {if $screenwidth == '1150'}
                        <img src="{$tpl_path}img/header_gross.jpg" alt="{$store_name}" title="{$store_name}" border="0" width="1148" height="208" usemap="#Map" />
                        <map name="Map" id="Map">
                            <area shape="circle" coords="801,75,55" href="https://www.trustedshops.com/shop/certificate.php?shop_id=XECB830E0AE0C3827CC8EC3B083D488FC" rel="nofollow" target="_blank" title="Esoterikshopping.de ist Trusted Shops zertifiziert!" alt="Esoterikshopping.de ist Trusted Shops zertifiziert!" />
                            <area shape="rect" coords="3,0,699,206" href="../../index.php" rel="nofollow" target="_parent" alt="Esoterikshopping.de - Home" title="Esoterikshopping.de - Home" />
                            <area shape="rect" coords="909,21,1147,207" href="../../index.php" rel="nofollow" target="_parent" alt="Adventskalender mit Gratisgeschenk!" title="Adventskalender mit Gratisgeschenk!" />
                        </map>
                    {else}
           		
                    <img src="{$tpl_path}img/header_klein.jpg" alt="{$store_name}" title="{$store_name}" border="0" width="1000" height="208" usemap="#Map2" />
                    <map name="Map2" id="Map2">
                    	<area shape="circle" coords="688,70,50" href="https://www.trustedshops.com/shop/certificate.php?shop_id=XECB830E0AE0C3827CC8EC3B083D488FC" rel="nofollow" target="_blank" title="Esoterikshopping.de ist Trusted Shops zertifiziert!" alt="Esoterikshopping.de ist Trusted Shops zertifiziert!" />
                  		<area shape="rect" coords="751,25,999,208" href="../../index.php" rel="nofollow" target="_parent" alt="Adventskalender mit Gratisgeschenk!" title="Adventskalender mit Gratisgeschenk!" />
                  		<area shape="rect" coords="4,4,613,205" href="../../index.php" rel="nofollow" target="_parent" alt="Esoterikshopping.de - Home" title="Esoterikshopping.de - Home" />
                	</map>
                    {/if}
                    </td>
                </tr>
            </table>
		
            <div id="bg_navtrail"> 
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <div align="left">
                                <a class="navtrail_text" href="/index.php" target="_self" title="Shop" alt="Shop">Startseite</a> 
                                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                                <a class="navtrail_text" href="/products_new.php" rel="nofollow" target="_self" title="Neuerscheinungen, neue Produkte in unserem Shop">Neue Produkte</a>
                                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                                <a class="navtrail_text" href="/specials.php" rel="nofollow" target="_self" title="Sonderangebote">% Sale %</a> 
                                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                            </div>
                        </td>
            			<td>
                            <div align="right">
    			
                                {if $account}
                                {php} 
                                if (isset($_SESSION['customer_id'])) { 
                                {/php}
                                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" />
                                <a rel="nofollow" class="navtrail_text" href="{$logoff}">{#link_logoff#}</a>
                                {php} } else { {/php}
                                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" />
                                <a rel="nofollow" class="navtrail_text" href="login.php">Anmelden</a>
                                {php} } {/php}   
                                {/if}

                                {if $account}
                                {php} 
                                if (isset($_SESSION['customer_id'])) { 
                                {/php}      
                                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                                <a rel="nofollow" class="navtrail_text" href="{$account}">Zum Konto</a>
                                {php} } {/php}        
                                {/if}

                                {php} 
                                if($_SESSION['cart']->count_contents() > 0) { 
                                {/php}       
                                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                                <a rel="nofollow" class="navtrail_text" href="{$cart}">{#link_cart#}</a>
                                {php} } {/php} 

                                {php} 
                                if(isset($_SESSION['customer_id']) and $_SESSION['cart']->count_contents() > 0) { 
                                {/php}        
                                <img src="{$tpl_path}img/bg_navtrail_trenner.gif" width="1" height="29" /> 
                                <a rel="nofollow" class="navtrail_text" href="../../checkout_shipping.php">{#link_checkout#}</a> 
                                {php} } {/php}
            
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            {$box_SEARCH}
            <div id="bg_navtrail_2"></div>	  

            {if !strstr ($smarty.server.PHP_SELF, 'checkout')} 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <div style="margin:5px;"></div>
                        {php}//include('inventur_1.php');{/php}
    
                        <div align="center">
                            <span class="navtrail">Sie befinden sich hier:</span> {$navtrail}
                        </div>
                    </td>
                </tr>
            </table>
            <div class="s_12"></div>
            {/if}

            {if !strstr ($smarty.server.PHP_SELF, 'checkout')}
            <div class="s_12"></div>
            {/if}

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                {if !strstr ($smarty.server.PHP_SELF, 'checkout')}
                    <td width="220" valign="top">
                        <div align="left" style="padding-left:8px;">{$box_CATEGORIES}{*$box_PRODUKTINFORMATIONEN*}{$box_CONTENT}{*$box_SPECIALS*}{*$box_WHATSNEW*}{*$box_HILFREICHE_LINKS*}{*$box_WERBUNG_LINKS_1*}</div>
                    </td>
                {/if}
          
                {if !strstr ($smarty.server.PHP_SELF, 'checkout')}
                    {if $screenwidth != '1150'}
                    <td width="540" valign="top" id="main_content_neu">{$main_content}</td>
                    {else}
                    <td width="690" valign="top" id="main_content_neu">{$main_content}</td>
                    {/if}
                {else}
                <td valign="top" id="main_content_checkout">{$main_content}</td>
                {/if}          
          
				{if !strstr ($smarty.server.PHP_SELF, 'checkout')}
                    <td width="220" valign="top">
                        <div align="right" style="padding-right:8px;">{$box_ADMIN}{$box_CART}{*$box_LOGIN*}{$box_TRUSTEDSHOPS}{$box_SOCIAL_NETWORK}{$box_TOPSELLER_SELF}{*$box_VERSANDKOSTENFREI*}{*$box_NEWSLETTER*}{*$box_LAST_VIEWED*}{*$box_WERBUNG_RECHTS_1*}{*$box_HOW_TO_ORDER_IN_ENGLISH*}{*$box_CURRENCIES*}{*$box_KONTAKT*}{*$box_LANGUAGES*}</div>
                    </td>
                {/if}
                </tr>
            </table>
            
            {php} if($_SESSION['customer_id']['customer_status'] == '0') { {/php}{$box_TRUSTEDSHOPS} {php} } {/php}
            <div id="bg_navtrail_2"></div>

            {if !strstr ($smarty.server.PHP_SELF, 'checkout')}
                <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                    <tr> 
                        <td>
                            {if strstr ($smarty.server.PHP_SELF, 'product-informations')}
                            <div class="notice-text">
                                <strong>Zu beachten gilt:</strong>
                                Wir weisen darauf hin, dass die Wirkung von Heilsteinen, Edelsteinen, Mineralien und Kristallen, wissenschaftlich nicht nachweisbar oder medizinisch anerkannt ist. Die Anwendung 
                                kann daher weder einen &auml;rztlichen Rat und/oder eine &auml;rztliche Hilfe ersetzen. Dar&uuml;ber hinaus ist die Nennung der Steine und deren Wirkung weder eine Anleitung zur 
                                Therapie, noch eine Diagnose im &auml;rztlichen Sinn. Bei Krankheit oder Sorgen um Ihre Gesundheit wenden Sie sich bitte an einen Arzt. Edelsteine k&ouml;nnen 
                                unterst&uuml;tzend zu einer &auml;rztlich verordneten Therapie hinzugezogen werden.
                            </div>
                            {/if}

                            {if $smarty.server.REQUEST_URI == '/index.php' || $smarty.server.REQUEST_URI == '/'}
                            <div align="center">
                                <a href="index.php" target="_self"><strong>&copy; Esoterikshopping.de</strong></a>
                            </div>
                            {/if}
                        </td>
                    </tr>
                    
                    {if $smarty.server.REQUEST_URI == '/index.php' || $smarty.server.REQUEST_URI == '/'}
                    <tr> 
                        <td align="center">
                            <div align="center">
                                <a rel="nofollow" target="_blank" href="https://www.viversum.de/?pid=10247">
                                    <img border="0" height="80" width="300" alt="Kartenlegen" src="pics/esoterikshopping-viversum.jpg" />
                                </a>
                            </div>
                            <br />
                            <a rel="nofollow" target="_blank" href="https://www.questico.de/sem/extern/kartenlegen/?referer=esoterikshopping">
                                <img border="0" height="67" width="540" alt="Kartenlegen kostenlos" src="banner/Markenbanner1_728x90.gif" />
                            </a>
                        </td>
                    </tr>
                    {/if}
                    
                </table>
                {/if}
            </tr>
        </table>
    </td>
</tr>
</table> 

<div class="versand-info-products-listing-footer">
  Alle Preise inkl. der gesetzlichen Mehrwertsteuer zzgl. <span class="products_versandkosten">Versandkosten</span>
  {*$module_data.PRODUCTS_TAX_INFO*}
  {*$module_data.PRODUCTS_SHIPPING_LINK*}
</div>

<div id="dialog-versandkosten"></div>

{if strstr ($smarty.server.PHP_SELF, 'checkout')}
<div id="checkout-rechtliches">
	<ul>
        <li><a href="content/Wie-zahle-ich.html">Zahlarten</a></li>
        <li><a href="content/Liefer-und-Versandkosten.html">Versandkosten</a></li>
        <li><a href="content/Impressum.html">Impressum</a></li>
        <li><a href="content/Unsere-AGBs.html">AGB</a></li>
        <li><a href="content/Datenschutzerklaerung.html">Datenschutzerkl&auml;rung</a></li>
        <li><a href="content/Widerrufsbelehrung.html">Widerrufsbelehrung</a></li>
    </ul>	
</div>
{/if}

