{config_load file="$language/lang_$language.conf" section="product_info"}

<!-- ioptcalc begin -->
{if $MODULE_product_options !=''}
<script language="JavaScript" type="text/JavaScript">
    var form_price_id      = Array( "f0_price",'' );
    var form_price_basic   = Array( {$PRODUCTS_PRICE_PLAIN},0 );
    
    var form_id            = Array( 1 );
    var form_optval        = Array( 1 );
    
    form_id[0] =       new Array( {$OPTIONS_JS_IDLIST} );
    form_optval[0] =   new Array( {$OPTIONS_JS_PRICELIST},0 );

    var curr_format_symbol_left      =  '{$curr_format_symbol_left}';  
    var curr_format_symbol_right     =  '{$curr_format_symbol_right}';  
    var curr_format_decimal_point    =  '{$curr_format_decimal_point}';  
    var curr_format_thousands_point  =  '{$curr_format_thousands_point}';  
    var curr_format_decimal_places   =  {$curr_format_decimal_places};

</script>
{/if}
<!-- ioptcalc end -->


{$PRODUCT_NAVIGATOR}{$FORM_ACTION}

<h1 class="new">{if $PRODUCTS_PRODUKTHERVORHEBUNG_NAME!=''}<span class="produkthervorhebung">{$PRODUCTS_PRODUKTHERVORHEBUNG_NAME}</span>{/if}{$PRODUCTS_NAME}</h1>
<div class="s_12"></div>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>

    <td width="270" valign="top">
    <!--<td width="360">-->
    
    {if $PRODUCTS_IMAGE!=''} <a href="{$PRODUCTS_IMAGE_POPUP}" class="grouped_elements" rel="group1" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE}" alt="{$PRODUCTS_NAME} im Esoterik Online Shop preiswert zu kaufen, Engel Tarot und Kartenlegen online Shop" title="{$PRODUCTS_NAME} im Esoterik Online Shop preiswert zu kaufen, Engel Tarot und Kartenlegen online Shop" width="250" /></a>{/if}
    
    {if $PRODUCTS_IMAGE_1 != ''}
    <div style="height:8px;"></div>
    <table width="200" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td align="left" width="33%"><a href="{$PRODUCTS_IMAGE_POPUP_1}" class="grouped_elements" rel="group1" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE_1}" alt="{$PRODUCTS_NAME} im Esoterik Online Shop preiswert zu kaufen, Engel Tarot und Kartenlegen online Shop" title="{$PRODUCTS_NAME} im Esoterik Online Shop preiswert zu kaufen, Engel Tarot und Kartenlegen online Shop" width="50" /></a></td>
    
    {if $PRODUCTS_IMAGE_2 != ''}
    <td align="center" width="34%"><a href="{$PRODUCTS_IMAGE_POPUP_2}" class="grouped_elements" rel="group1" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE_2}" alt="{$PRODUCTS_NAME} im Esoterik Online Shop preiswert zu kaufen, Engel Tarot und Kartenlegen online Shop" title="{$PRODUCTS_NAME} im Esoterik Online Shop preiswert zu kaufen, Engel Tarot und Kartenlegen online Shop" width="50" /></a></td>
    {else}
    <td>&nbsp;</td>
    {/if}
	
    {if $PRODUCTS_IMAGE_3 != ''}
    <td align="right" width="33%"><a href="{$PRODUCTS_IMAGE_POPUP_3}" class="grouped_elements" rel="group1" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE_3}" alt="{$PRODUCTS_NAME} im Esoterik Online Shop preiswert zu kaufen, Engel Tarot und Kartenlegen online Shop" title="{$PRODUCTS_NAME} im Esoterik Online Shop preiswert zu kaufen, Engel Tarot und Kartenlegen online Shop" width="50" /></a></td>
    {else}
    <td>&nbsp;</td>
    {/if}
    
    </tr>
    </table>
    {/if}
    
    
    </td>

    <td valign="top" class="c_listing">
    {if $PRODUCTS_VPE}{$PRODUCTS_VPE}
    <div class="s_12"></div>
    {/if}
	
    <div style="color:#000;">
    {if $PRODUCTS_MODEL!=''}{#model#}{$PRODUCTS_MODEL}<div class="s_12"></div>{/if}
	
    {$PRODUCTS_DISCOUNT}
	
    {#print#}{$PRODUCTS_PRINT}
    
    <div class="s_12"></div>
    
    {if $SHIPPING_NAME}{#text_shippingtime#}&nbsp;{$SHIPPING_NAME}{/if}

    {if $SHIPPING_IMAGE}
	<table width="220" border="0" cellspacing="0" cellpadding="0" style="padding:12px 0 5px 0;">
    <tr>
    <td width="76" class="products_lieferstatus">Verf&uuml;gbarkeit:&nbsp;</td>
    <td><img src="{$SHIPPING_IMAGE}" /></td>
    </tr>
    </table>
    {/if}
    
    </div>
    
    <div style="height:25px;"></div>
	
	{if $DISCOUNT == ''}
    	{if $MODULE_graduated_price !=''}
        	{if $ADVENT_ON == 'true'}
                <table width="100%" border="0" cellpadding="3" cellspacing="0" style="border:1px solid #999;">
                <tr>
                <td align="center" bgcolor="#dedede">
                <span class="products_price">Gratis!</span>
                <br />
                </td>
                </tr>
                </table>            
            {else}
                <table width="100%" border="0" cellpadding="3" cellspacing="0" style="border:1px solid #999;">
                <tr>
                <td align="center" bgcolor="#dedede">
                <span class="products_price"><span id="f0_price">{$PRODUCTS_PRICE}</span></span>
                <br />
                </td>
                </tr>
                </table>
			{/if}
        {else}
        	{if $ADVENT_ON == 'true'}
                 <span class="products_price">Gratis!</span><br />
            {else}
                <span class="products_price"><span id="f0_price">{$PRODUCTS_PRICE}</span></span>
                {if $PRODUCTS_GRUNDPREIS_EINHEIT}<span style="color:#666;font-size:11px;">({$GRUNDPREIS_GENERAL})</span><br />{/if}
			{/if}
        {/if}

    {else}
    	{if $PP_DISCOUNT == 'false'}
            <span class="products_price"><span id="f0_price">{$PRODUCTS_PRICE}</span></span>
            {if $PRODUCTS_GRUNDPREIS_EINHEIT}<span style="color:#666;font-size:11px;">({$GRUNDPREIS_GENERAL})</span><br />{/if}    
		{else}
            <span class="products_price">H&auml;ndlerpreis: {$PP_DISCOUNT}</span><br />
            {if $PRODUCTS_GRUNDPREIS_EINHEIT}<span style="color:#666;font-size:11px;">({$GRUNDPREIS_GENERAL})</span><br />{/if}
        {/if}
    {/if}
    

    {if $MODULE_graduated_price !=''}{$MODULE_graduated_price}<div style="height:2px;"></div>{/if}
	

    
    <div style="color:#000;">
	{$PRODUCTS_TAX_INFO}{if $PRODUCTS_SHIPPING_LINK}{$PRODUCTS_SHIPPING_LINK}<br /><br />{/if}
    </div>
   	
    {if $ADVENT_ON == 'true'}
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top: 10px;">
        <tr>
        <td class="main">{$ADD_QTY_GRATISARTIKEL}{$ADVENT_GRATISARTIKEL}<div style="height:4px;"></div><span><em>nur 1 Gratisartikel pro Bestellung!</em></span></td>
        </tr>
        </table> 	
    {else}
        {if $REMIND_STATUS != '1'}
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="add-to-cart" {$HIDE_ADD_TO_CART}>
        <tr>
        <td style="width:55px;">{$ADD_QTY}</td>
        <td>{$ADD_CART_BUTTON}</td>
        </tr>
        </table>
        {/if}
    {/if}

    {if $MODULE_product_options !=''}
        <script language="JavaScript" type="text/JavaScript">
          fc_options_recalc(0);      // ioptcalc
        </script>

        {$MODULE_product_options}<br />
    {/if}    
    
{$FORM_END}

{if $REMIND_STATUS == '1'}
					{$FORM_ACTION_REMIND}
					<br />
<table border="0" cellspacing="0" cellpadding="5" style="background-color:#efefef; border:solid 1px #c00;">
	      <tr>
							<td colspan="2" style="color:#000;"><strong>Produkterinnerung</strong>
                            <div style="height:6px;"></div>Der Artikel ist gerade leider nicht auf Lager.							
							Tragen Sie sich bitte hier ein, wenn Sie eine Erinnerung per E-Mail bekommen m&ouml;chten, 
							sobald dieser Artikel wieder lieferbar ist.<br /><br /></td>							
	    </tr>
						{if $REMIND_CUSTOMERS_STATUS == '1'}
						<tr>
							<td width="130" style="color:#000;">Vorname:</td>
							<td>{$CUSTOMERS_FIRSTNAME_INPUT}</td>
						</tr>		
						<tr>
							<td style="color:#000;">Nachname:</td>
							<td>{$CUSTOMERS_LASTNAME_INPUT}</td>
						</tr>		
						<tr>
							<td style="color:#000;">Email-Adresse:</td>
							<td>{$CUSTOMERS_MAIL_INPUT}</td>
						</tr>
						{/if}
                        
   						{if $OP_ERROR > '0'}
						<tr>
							<td colspan="2"><font color="#cc0000">{$OP_ERROR}</font></td>
						</tr>
						{/if}
                        
						{if $SUCCESS_MESSAGE == '1'}
						<tr>
							<td colspan="2"><font color="#00CC00"><strong>Sie wurden erfolgreich eingetragen!</strong></font></td>
						</tr>
						{/if}
                        
						{if $SUCCESS_MESSAGE == '0'}
						<tr>
							<td style="width:100%">&nbsp;</td>
							<td>{$BUTTON_SUBMIT_REMIND}</td>
						</tr>
						{/if}
	  </table>
					{$FORM_END_REMIND}
				  {/if}
    

</td>
</tr>
</table>

 
<!-- more images -->
<!--
{if $PRODUCTS_IMAGE_1 != ''}
<tr>
<td style="border-top: 1px solid; border-color: #cccccc;">
	<a href="{$PRODUCTS_IMAGE_POPUP_1}" rel="lightbox[1]" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE_1}" alt="{$PRODUCTS_NAME}" /></a>
</td>
</tr>
{/if}

{if $PRODUCTS_IMAGE_2 != ''}
<tr>
<td style="border-top: 1px solid; border-color: #cccccc;">
	<a href="{$PRODUCTS_IMAGE_POPUP_2}" rel="lightbox[1]" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE_2}" alt="{$PRODUCTS_NAME}" /></a>
</td>
</tr>
{/if}


{if $PRODUCTS_IMAGE_3 != ''}
<tr>
<td style="border-top: 1px solid; border-color: #cccccc;">
	<a href="{$PRODUCTS_IMAGE_POPUP_3}" rel="lightbox[1]" title="{$PRODUCTS_NAME}"><img src="{$PRODUCTS_IMAGE_3}" alt="{$PRODUCTS_NAME}" /></a>
</td>
</tr>
{/if}
-->
<!-- more images eof -->

{if $PRODUCTS_IMAGE_LINK!=''}
	<a href="{$PRODUCTS_IMAGE_LINK}" onclick="window.open(this.href); return false;">{$PRODUCTS_TEXT_ZOOM}</a><br />
{/if}

{if $PRODUCTS_FSK18=='true'}
	<br /><img src="{$tpl_path}img/fsk18.gif" alt="" />
{/if}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="c_listing">

<br />

{if $SOLD_OUT == '1'}
<br />
<font color="#ff0000" size="3"><b>Momentan leider ausverkauft!!</b></font>
{/if}

{if $PRODUCTS_DESCRIPTION !=''}
<div class="s_12"></div>
<div class="produktdetails_head">Produktdetails</div>
<div class="produktdetails_content">
	{$PRODUCTS_DESCRIPTION}

   	{if $MODULE_products_media != ''}
    <br /><br />
   	{$MODULE_products_media}
    {/if}
</div>
{/if}
</td>
</tr>
</table>

<div style="height:10px;"></div>
	

	
    {if $PRODUCTS_URL != ''}
		{$PRODUCTS_URL}<br /><br />
	{/if}
	
	{if $PRODUCTS_DATE_AVIABLE != ''}
		{$PRODUCTS_DATE_AVIABLE}<br />
	{/if}
	
	<!--
	{if $PRODUCTS_ADDED != ''}
		{$PRODUCTS_ADDED}<br />
	{/if}
	-->
	
	{if $MODULE_products_reviews != ''}
		{$MODULE_products_reviews}<br />
	{/if}
	
	{if $MODULE_cross_selling != ''}
		{$MODULE_cross_selling}<br />
	{/if}
	
	<!--
    {if $MODULE_reverse_cross_selling != ''}
		{$MODULE_reverse_cross_selling}<br />
	{/if}
    -->
	
  	{if $MODULE_also_purchased != '' AND $MODULE_cross_selling == ''}
		{$MODULE_also_purchased}<br />
	{/if}

